Repository deepset-ai/haystack-core-integrations, changes with the labels that .github/labeler.yml gives for each.
All labels: integration:chroma, integration:cohere, integration:elasticsearch, integration:gradient, integration:instructor-embedders, integration:jina, integration:opensearch, integration:unstructured-fileconverter, topic:CI, topic:DX, topic:security

.github/labeler.yml:

# Integrations
integration:chroma:
- changed-files:
  - any-glob-to-any-file: 'integrations/chroma/**/*'

integration:cohere:
- changed-files:
  - any-glob-to-any-file: 'integrations/cohere/**/*'

integration:elasticsearch:
- changed-files:
  - any-glob-to-any-file: 'integrations/elasticsearch/**/*'

integration:gradient:
- changed-files:
  - any-glob-to-any-file: 'integrations/gradient/**/*'

integration:instructor-embedders:
- changed-files:
  - any-glob-to-any-file: 'integrations/instructor-embedders/**/*'

integration:jina:
- changed-files:
  - any-glob-to-any-file: 'integrations/jina/**/*'

integration:opensearch:
- changed-files:
  - any-glob-to-any-file: 'integrations/opensearch/**/*'

integration:unstructured-fileconverter:
- changed-files:
  - any-glob-to-any-file: 'integrations/unstructured/fileconverter/**/*'

# Topics
topic:CI:
- changed-files:
  - any-glob-to-any-file: ['.github/*', '.github/**/*']
topic:DX:
- changed-files:
  - any-glob-to-any-file: ['CONTRIBUTING.md', '.pre-commit-config.yaml', '.gitignore', 'requirements.txt']
topic:security:
- changed-files:
  - any-glob-to-any-file: ['SECURITY.md']

fix wheel
  integrations/instructor-embedders/instructor_embedders/__init__.py
  integrations/instructor-embedders/instructor_embedders_haystack/__about__.py
  integrations/instructor-embedders/instructor_embedders_haystack/__init__.py
  integrations/instructor-embedders/instructor_embedders_haystack/embedding_backend/__init__.py
  integrations/instructor-embedders/instructor_embedders_haystack/embedding_backend/instructor_backend.py
  integrations/instructor-embedders/instructor_embedders_haystack/instructor_document_embedder.py
  integrations/instructor-embedders/instructor_embedders_haystack/instructor_text_embedder.py
  integrations/instructor-embedders/pyproject.toml
  integrations/instructor-embedders/tests/test_instructor_backend.py
  integrations/instructor-embedders/tests/test_instructor_document_embedder.py
  integrations/instructor-embedders/tests/test_instructor_embedders.py
  integrations/instructor-embedders/tests/test_instructor_text_embedder.py
Labels: integration:instructor-embedders

use hatch to run tests
  .github/workflows/instructor_embedders.yml
Labels: topic:CI

bump version
  integrations/instructor-embedders/instructor_embedders_haystack/__about__.py
Labels: integration:instructor-embedders

fix linter
  integrations/instructor-embedders/tests/test_instructor_backend.py
Labels: integration:instructor-embedders

fix project urls
  integrations/chroma/pyproject.toml
  integrations/cohere/pyproject.toml
  integrations/elasticsearch/pyproject.toml
  integrations/gradient/pyproject.toml
  integrations/jina/pyproject.toml
  integrations/unstructured/fileconverter/pyproject.toml
  nodes/text2speech/pyproject.toml
Labels: integration:chroma, integration:cohere, integration:elasticsearch, integration:gradient, integration:jina, integration:unstructured-fileconverter

chore: fix Wheel package for instructor-embedders, uniform tests and CI (#95)
  .github/workflows/instructor_embedders.yml
  integrations/instructor-embedders/instructor_embedders/__about__.py
  integrations/instructor-embedders/instructor_embedders/__init__.py
  integrations/instructor-embedders/instructor_embedders_haystack/__about__.py
  integrations/instructor-embedders/instructor_embedders_haystack/__init__.py
  integrations/instructor-embedders/instructor_embedders_haystack/embedding_backend/__init__.py
  integrations/instructor-embedders/instructor_embedders_haystack/embedding_backend/instructor_backend.py
  integrations/instructor-embedders/instructor_embedders_haystack/instructor_document_embedder.py
  integrations/instructor-embedders/instructor_embedders_haystack/instructor_text_embedder.py
  integrations/instructor-embedders/pyproject.toml
  integrations/instructor-embedders/tests/test_instructor_backend.py
  integrations/instructor-embedders/tests/test_instructor_document_embedder.py
  integrations/instructor-embedders/tests/test_instructor_text_embedder.py
Labels: integration:instructor-embedders, topic:CI

fix project urls (#96)
  integrations/chroma/pyproject.toml
  integrations/cohere/pyproject.toml
  integrations/elasticsearch/pyproject.toml
  integrations/gradient/pyproject.toml
  integrations/jina/pyproject.toml
  integrations/unstructured/fileconverter/pyproject.toml
  nodes/text2speech/pyproject.toml
Labels: integration:chroma, integration:cohere, integration:elasticsearch, integration:gradient, integration:jina, integration:unstructured-fileconverter

Update README.md
  integrations/opensearch/README.md
Labels: integration:opensearch

Update README.md (#97)
  integrations/opensearch/README.md
Labels: integration:opensearch

feat: qdrant-haystack
  integrations/qdrant/LICENSE.txt
  integrations/qdrant/README.md
  integrations/qdrant/pyproject.toml
  integrations/qdrant/src/qdrant_haystack/__about__.py
  integrations/qdrant/src/qdrant_haystack/__init__.py
  integrations/qdrant/src/qdrant_haystack/converters.py
  integrations/qdrant/src/qdrant_haystack/document_store.py
  integrations/qdrant/src/qdrant_haystack/filters.py
  integrations/qdrant/src/qdrant_haystack/retriever.py
  integrations/qdrant/src/qdrant_haystack/utils.py
  integrations/qdrant/tests/__init__.py
  integrations/qdrant/tests/test_converters.py
  integrations/qdrant/tests/test_dict_convertors.py
  integrations/qdrant/tests/test_document_store.py
  integrations/qdrant/tests/test_filters.py
  integrations/qdrant/tests/test_legacy_filters.py
  integrations/qdrant/tests/test_retriever.py
Labels: none
