Repository deepset-ai/haystack-core-integrations, changes with the labels that .github/labeler.yml gives for each.
All labels: integration:amazon-bedrock, integration:amazon-sagemaker, integration:astra, integration:chroma, integration:cohere, integration:elasticsearch, integration:google-ai, integration:google-vertex, integration:gradient, integration:instructor-embedders, integration:jina, integration:llama_cpp, integration:ollama, integration:opensearch, integration:pinecone, integration:qdrant, integration:unstructured-fileconverter, integration:uptrain, integration:weaviate, topic:CI, topic:DX, topic:security

.github/labeler.yml:

# Integrations
integration:amazon-bedrock:
  - changed-files:
      - any-glob-to-any-file: "integrations/amazon_bedrock/**/*"
      - any-glob-to-any-file: ".github/workflows/amazon_bedrock.yml"

integration:amazon-sagemaker:
  - changed-files:
      - any-glob-to-any-file: "integrations/amazon_sagemaker/**/*"
      - any-glob-to-any-file: ".github/workflows/amazon_sagemaker.yml"

integration:astra:
  - changed-files:
      - any-glob-to-any-file: "integrations/astra/**/*"
      - any-glob-to-any-file: ".github/workflows/astra.yml"

integration:chroma:
  - changed-files:
      - any-glob-to-any-file: "integrations/chroma/**/*"
      - any-glob-to-any-file: ".github/workflows/chroma.yml"

integration:cohere:
  - changed-files:
      - any-glob-to-any-file: "integrations/cohere/**/*"
      - any-glob-to-any-file: ".github/workflows/cohere.yml"

integration:elasticsearch:
  - changed-files:
      - any-glob-to-any-file: "integrations/elasticsearch/**/*"
      - any-glob-to-any-file: ".github/workflows/elasticsearch.yml"

integration:google-ai:
  - changed-files:
      - any-glob-to-any-file: "integrations/google_ai/**/*"
      - any-glob-to-any-file: ".github/workflows/google_ai.yml"

integration:google-vertex:
  - changed-files:
      - any-glob-to-any-file: "integrations/google_vertex/**/*"
      - any-glob-to-any-file: ".github/workflows/google_vertex.yml"

integration:gradient:
  - changed-files:
      - any-glob-to-any-file: "integrations/gradient/**/*"
      - any-glob-to-any-file: ".github/workflows/gradient.yml"

integration:instructor-embedders:
  - changed-files:
      - any-glob-to-any-file: "integrations/instructor_embedders/**/*"
      - any-glob-to-any-file: ".github/workflows/instructor_embedders.yml"

integration:jina:
  - changed-files:
      - any-glob-to-any-file: "integrations/jina/**/*"
      - any-glob-to-any-file: ".github/workflows/jina.yml"

integration:llama_cpp:
  - changed-files:
      - any-glob-to-any-file: "integrations/llama_cpp/**/*"
      - any-glob-to-any-file: ".github/workflows/llama_cpp.yml"

integration:ollama:
  - changed-files:
      - any-glob-to-any-file: "integrations/ollama/**/*"
      - any-glob-to-any-file: ".github/workflows/ollama.yml"

integration:opensearch:
  - changed-files:
      - any-glob-to-any-file: "integrations/opensearch/**/*"
      - any-glob-to-any-file: ".github/workflows/opensearch.yml"

integration:pinecone:
  - changed-files:
      - any-glob-to-any-file: "integrations/pinecone/**/*"
      - any-glob-to-any-file: ".github/workflows/pinecone.yml"

integration:qdrant:
  - changed-files:
      - any-glob-to-any-file: "integrations/qdrant/**/*"
      - any-glob-to-any-file: ".github/workflows/qdrant.yml"

integration:unstructured-fileconverter:
  - changed-files:
      - any-glob-to-any-file: "integrations/unstructured/fileconverter/**/*"
      - any-glob-to-any-file: ".github/workflows/unstructured_fileconverter.yml"

integration:uptrain:
  - changed-files:
      - any-glob-to-any-file: "integrations/uptrain/**/*"
      - any-glob-to-any-file: ".github/workflows/uptrain.yml"

integration:weaviate:
  - changed-files:
      - any-glob-to-any-file: "integrations/weaviate/**/*"
      - any-glob-to-any-file: ".github/workflows/weaviate.yml"

# Topics
topic:CI:
  - changed-files:
      - any-glob-to-any-file: [".github/*", ".github/**/*"]
topic:DX:
  - changed-files:
      - any-glob-to-any-file:
          [
            "CONTRIBUTING.md",
            ".pre-commit-config.yaml",
            ".gitignore",
            "requirements.txt",
          ]
topic:security:
  - changed-files:
      - any-glob-to-any-file: ["SECURITY.md"]

fix linting
  integrations/supabase/pyproject.toml
  integrations/supabase/src/haystack_integrations/components/retrievers/supabase/retriever.py
  integrations/supabase/src/haystack_integrations/document_stores/supabase/document_store.py
  integrations/supabase/src/haystack_integrations/document_stores/supabase/filters.py
  integrations/supabase/tests/conftest.py
  integrations/supabase/tests/test_document_store.py
  integrations/supabase/tests/test_filters.py
Labels: none

pinecone - decrease concurrency
  integrations/pinecone/pyproject.toml
  integrations/pinecone/tests/conftest.py
Labels: integration:pinecone

decrease more sleep time
  integrations/pinecone/tests/conftest.py
Labels: integration:pinecone

opensearch: generate API docs
  .github/workflows/opensearch.yml
  integrations/opensearch/pydoc/config.yml
  integrations/opensearch/pyproject.toml
Labels: integration:opensearch, topic:CI

elasticsearch: generate api docs (#322)
  .github/workflows/elasticsearch.yml
  integrations/elasticsearch/pydoc/config.yml
  integrations/elasticsearch/pyproject.toml
Labels: integration:elasticsearch, topic:CI

update to the latest code conventions
  integrations/supabase/pyproject.toml
Labels: none

Pinecone - decrease concurrency in tests (#323)
  integrations/pinecone/pyproject.toml
  integrations/pinecone/tests/conftest.py
Labels: integration:pinecone

Update integrations/pgvector/src/haystack_integrations/components/retrievers/pgvector/embedding_retriever.py
  integrations/pgvector/src/haystack_integrations/components/retrievers/pgvector/embedding_retriever.py
Labels: none

Update integrations/pgvector/src/haystack_integrations/components/retrievers/pgvector/embedding_retriever.py
  integrations/pgvector/src/haystack_integrations/components/retrievers/pgvector/embedding_retriever.py
Labels: none

improve docstrings
  integrations/pgvector/src/haystack_integrations/components/retrievers/pgvector/embedding_retriever.py
Labels: none

fmt
  integrations/pgvector/src/haystack_integrations/components/retrievers/pgvector/embedding_retriever.py
Labels: none

add pydocconf (#321)
  .github/workflows/cohere.yml
  integrations/cohere/pydoc/config.yml
  integrations/cohere/pyproject.toml
Labels: integration:cohere, topic:CI

Pgvector - Embedding Retriever (#320)
  integrations/pgvector/src/haystack_integrations/components/retrievers/pgvector/__init__.py
  integrations/pgvector/src/haystack_integrations/components/retrievers/pgvector/embedding_retriever.py
  integrations/pgvector/tests/test_retriever.py
Labels: none

amazon bedrock: generate api docs
  .github/workflows/amazon_bedrock.yml
  integrations/amazon_bedrock/pydoc/config.yml
  integrations/amazon_bedrock/pyproject.toml
Labels: integration:amazon-bedrock, topic:CI

path upd
  integrations/amazon_bedrock/pydoc/config.yml
Labels: integration:amazon-bedrock

add dependency
  integrations/amazon_bedrock/pyproject.toml
Labels: integration:amazon-bedrock

Update amazon_bedrock.yml
  .github/workflows/amazon_bedrock.yml
Labels: integration:amazon-bedrock, topic:CI

astra: generate api docs
  .github/workflows/astra.yml
  integrations/astra/pydoc/config.yml
  integrations/astra/pyproject.toml
Labels: integration:astra, topic:CI

fix linting
  integrations/pgvector/src/haystack_integrations/document_stores/pgvector/document_store.py
Labels: none
