Repository deepset-ai/haystack-core-integrations, pull requests merged in 2023-12, with the labels that each got.

#72 Add Gradient Integration
  .github/workflows/gradient.yml
  integrations/gradient/LICENSE.txt
  integrations/gradient/README.md
  integrations/gradient/pyproject.toml
  integrations/gradient/src/gradient_haystack/__about__.py
  integrations/gradient/src/gradient_haystack/__init__.py
  integrations/gradient/src/gradient_haystack/embedders/__init__.py
  integrations/gradient/src/gradient_haystack/embedders/gradient_document_embedder.py
  integrations/gradient/src/gradient_haystack/embedders/gradient_text_embedder.py
  integrations/gradient/src/gradient_haystack/generator/__init__.py
  integrations/gradient/src/gradient_haystack/generator/base.py
  integrations/gradient/tests/__init__.py
  integrations/gradient/tests/test_gradient_document_embedder.py
  integrations/gradient/tests/test_gradient_rag_pipelines.py
  integrations/gradient/tests/test_gradient_text_embedder.py
Labels: topic:CI

#77 Document Stores: fix protocol import
  integrations/chroma/src/chroma_haystack/__about__.py
  integrations/chroma/src/chroma_haystack/document_store.py
  integrations/elasticsearch/src/elasticsearch_haystack/__about__.py
  integrations/elasticsearch/tests/test_document_store.py
  integrations/opensearch/src/opensearch_haystack/__about__.py
  integrations/opensearch/tests/test_document_store.py
Labels: integration:chroma, integration:elasticsearch, integration:opensearch

#79 Update elasticsearch test badge
  integrations/elasticsearch/README.md
Labels: integration:elasticsearch

#83 chore: remove LazyImport from integrations
  integrations/gradient/src/gradient_haystack/embedders/gradient_document_embedder.py
  integrations/gradient/src/gradient_haystack/embedders/gradient_text_embedder.py
  integrations/gradient/src/gradient_haystack/generator/base.py
  integrations/instructor-embedders/instructor_embedders/embedding_backend/instructor_backend.py
Labels: integration:instructor-embedders, integration:gradient

#93 feat: add Jina Embeddings integration
  .github/workflows/jina.yml
  README.md
  integrations/jina/LICENSE.txt
  integrations/jina/README.md
  integrations/jina/pyproject.toml
  integrations/jina/src/jina_haystack/__about__.py
  integrations/jina/src/jina_haystack/__init__.py
  integrations/jina/src/jina_haystack/document_embedder.py
  integrations/jina/src/jina_haystack/text_embedder.py
  integrations/jina/tests/__init__.py
  integrations/jina/tests/test_document_embedder.py
  integrations/jina/tests/test_text_embedder.py
Labels: topic:CI

#84 Update labeler.yml to breaking changes in version 5
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: topic:CI

#94 chore: add missing integrations to the labeller
  .github/labeler.yml
Labels: topic:CI

#95 chore: fix Wheel package for instructor-embedders, uniform tests and CI
  .github/workflows/instructor_embedders.yml
  integrations/instructor-embedders/instructor_embedders/__about__.py
  integrations/instructor-embedders/instructor_embedders/__init__.py
  integrations/instructor-embedders/instructor_embedders_haystack/__about__.py
  integrations/instructor-embedders/instructor_embedders_haystack/__init__.py
  integrations/instructor-embedders/instructor_embedders_haystack/embedding_backend/__init__.py
  integrations/instructor-embedders/instructor_embedders_haystack/embedding_backend/instructor_backend.py
  integrations/instructor-embedders/instructor_embedders_haystack/instructor_document_embedder.py
  integrations/instructor-embedders/instructor_embedders_haystack/instructor_text_embedder.py
  integrations/instructor-embedders/pyproject.toml
  integrations/instructor-embedders/tests/test_instructor_backend.py
  integrations/instructor-embedders/tests/test_instructor_document_embedder.py
  integrations/instructor-embedders/tests/test_instructor_text_embedder.py
Labels: integration:instructor-embedders, topic:CI

#96 Fix project URLs
  integrations/chroma/pyproject.toml
  integrations/cohere/pyproject.toml
  integrations/elasticsearch/pyproject.toml
  integrations/gradient/pyproject.toml
  integrations/jina/pyproject.toml
  integrations/unstructured/fileconverter/pyproject.toml
  nodes/text2speech/pyproject.toml
Labels: integration:chroma, integration:elasticsearch, integration:unstructured-fileconverter, integration:gradient, integration:cohere, integration:jina

#97 Fix opensearch test badge
  integrations/opensearch/README.md
Labels: integration:opensearch

#99 Change default 'input_type' for CohereTextEmbedder
  integrations/cohere/src/cohere_haystack/embedders/text_embedder.py
  integrations/cohere/tests/test_text_embedder.py
Labels: integration:cohere

#101 Add Google Vertex AI integration
  .github/labeler.yml
  .github/workflows/google_vertex.yml
  README.md
  integrations/google-vertex/LICENSE.txt
  integrations/google-vertex/README.md
  integrations/google-vertex/pyproject.toml
  integrations/google-vertex/src/google_vertex_haystack/__about__.py
  integrations/google-vertex/src/google_vertex_haystack/__init__.py
  integrations/google-vertex/src/google_vertex_haystack/generators/__init__.py
  integrations/google-vertex/src/google_vertex_haystack/generators/captioner.py
  integrations/google-vertex/src/google_vertex_haystack/generators/code_generator.py
  integrations/google-vertex/src/google_vertex_haystack/generators/gemini.py
  integrations/google-vertex/src/google_vertex_haystack/generators/image_generator.py
  integrations/google-vertex/src/google_vertex_haystack/generators/question_answering.py
  integrations/google-vertex/src/google_vertex_haystack/generators/text_generator.py
  integrations/google-vertex/tests/__init__.py
  integrations/google-vertex/tests/test_captioner.py
  integrations/google-vertex/tests/test_code_generator.py
  integrations/google-vertex/tests/test_image_generator.py
  integrations/google-vertex/tests/test_question_answering.py
  integrations/google-vertex/tests/test_text_generator.py
Labels: topic:CI

#104 chore: pin chroma version
  integrations/chroma/pyproject.toml
Labels: integration:chroma

#98 feat: Qdrant haystack
  .github/workflows/qdrant.yml
  integrations/qdrant/LICENSE.txt
  integrations/qdrant/README.md
  integrations/qdrant/pyproject.toml
  integrations/qdrant/src/qdrant_haystack/__about__.py
  integrations/qdrant/src/qdrant_haystack/__init__.py
  integrations/qdrant/src/qdrant_haystack/converters.py
  integrations/qdrant/src/qdrant_haystack/document_store.py
  integrations/qdrant/src/qdrant_haystack/filters.py
  integrations/qdrant/src/qdrant_haystack/retriever.py
  integrations/qdrant/tests/__init__.py
  integrations/qdrant/tests/test_converters.py
  integrations/qdrant/tests/test_dict_converters.py
  integrations/qdrant/tests/test_document_store.py
  integrations/qdrant/tests/test_filters.py
  integrations/qdrant/tests/test_legacy_filters.py
  integrations/qdrant/tests/test_retriever.py
Labels: topic:CI

#105 chore: pin unstructured api version
  .github/workflows/unstructured_fileconverter.yml
  integrations/unstructured/fileconverter/pyproject.toml
Labels: topic:CI, integration:unstructured-fileconverter

#106 ci: fix labeller config
  .github/labeler.yml
Labels: topic:CI

#103 refactor: use `hatch_vcs` to manage integrations versioning
  integrations/chroma/pyproject.toml
  integrations/chroma/src/chroma_haystack/__about__.py
  integrations/cohere/pyproject.toml
  integrations/cohere/src/cohere_haystack/__about__.py
  integrations/elasticsearch/pyproject.toml
  integrations/elasticsearch/src/elasticsearch_haystack/__about__.py
  integrations/google-vertex/pyproject.toml
  integrations/google-vertex/src/google_vertex_haystack/__about__.py
  integrations/gradient/pyproject.toml
  integrations/gradient/src/gradient_haystack/__about__.py
  integrations/instructor-embedders/instructor_embedders_haystack/__about__.py
  integrations/instructor-embedders/pyproject.toml
  integrations/jina/pyproject.toml
  integrations/jina/src/jina_haystack/__about__.py
  integrations/opensearch/pyproject.toml
  integrations/opensearch/src/opensearch_haystack/__about__.py
  integrations/qdrant/pyproject.toml
  integrations/qdrant/src/qdrant_haystack/__about__.py
  integrations/unstructured/fileconverter/pyproject.toml
  integrations/unstructured/fileconverter/src/unstructured_fileconverter_haystack/__about__.py
Labels: integration:instructor-embedders, integration:chroma, integration:elasticsearch, integration:opensearch, integration:unstructured-fileconverter, integration:gradient, integration:cohere, integration:jina, integration:google-vertex

#108 ci: add qdrant to the labeller
  .github/labeler.yml
Labels: topic:CI

#111 Fix GeminiGenerator input type
  integrations/google-vertex/src/google_vertex_haystack/generators/gemini.py
Labels: integration:google-vertex

#110 Gradient.ai - updating the SDK
  integrations/gradient/pyproject.toml
  integrations/gradient/src/gradient_haystack/embedders/gradient_document_embedder.py
  integrations/gradient/src/gradient_haystack/embedders/gradient_text_embedder.py
  integrations/gradient/tests/test_gradient_document_embedder.py
  integrations/gradient/tests/test_gradient_text_embedder.py
Labels: integration:gradient

#114 chore: replace - with _
  .github/labeler.yml
  .github/workflows/google_vertex.yml
  .github/workflows/instructor_embedders.yml
  README.md
  integrations/google_vertex/LICENSE.txt
  integrations/google_vertex/README.md
  integrations/google_vertex/pyproject.toml
  integrations/google_vertex/src/google_vertex_haystack/__init__.py
  integrations/google_vertex/src/google_vertex_haystack/generators/__init__.py
  integrations/google_vertex/src/google_vertex_haystack/generators/captioner.py
  integrations/google_vertex/src/google_vertex_haystack/generators/chat/gemini.py
  integrations/google_vertex/src/google_vertex_haystack/generators/code_generator.py
  integrations/google_vertex/src/google_vertex_haystack/generators/gemini.py
  integrations/google_vertex/src/google_vertex_haystack/generators/image_generator.py
  integrations/google_vertex/src/google_vertex_haystack/generators/question_answering.py
  integrations/google_vertex/src/google_vertex_haystack/generators/text_generator.py
  integrations/google_vertex/tests/__init__.py
  integrations/google_vertex/tests/test_captioner.py
  integrations/google_vertex/tests/test_code_generator.py
  integrations/google_vertex/tests/test_image_generator.py
  integrations/google_vertex/tests/test_question_answering.py
  integrations/google_vertex/tests/test_text_generator.py
  integrations/instructor_embedders/LICENSE.txt
  integrations/instructor_embedders/README.md
  integrations/instructor_embedders/instructor_embedders_haystack/__init__.py
  integrations/instructor_embedders/instructor_embedders_haystack/embedding_backend/__init__.py
  integrations/instructor_embedders/instructor_embedders_haystack/embedding_backend/instructor_backend.py
  integrations/instructor_embedders/instructor_embedders_haystack/instructor_document_embedder.py
  integrations/instructor_embedders/instructor_embedders_haystack/instructor_text_embedder.py
  integrations/instructor_embedders/pyproject.toml
  integrations/instructor_embedders/tests/__init__.py
  integrations/instructor_embedders/tests/test_instructor_backend.py
  integrations/instructor_embedders/tests/test_instructor_document_embedder.py
  integrations/instructor_embedders/tests/test_instructor_text_embedder.py
Labels: integration:instructor-embedders, topic:CI, integration:google-vertex

#118 chore: use naming convention for workflows
  .github/workflows/_CI_labeler.yml
  .github/workflows/_CI_project.yml
  .github/workflows/_CI_pypi_release.yml
Labels: topic:CI

#119 ci: raise an error if integration folder name contains hyphens
  .github/workflows/CI_check_integration_format.yml
Labels: topic:CI

#127 fix: update to the latest Document format
  integrations/chroma/example/example.py
  integrations/chroma/src/chroma_haystack/document_store.py
Labels: integration:chroma

#125 [Elasticsearch] - BM25 retrieval: not all terms must mandatorily match
  integrations/elasticsearch/src/elasticsearch_haystack/document_store.py
  integrations/elasticsearch/tests/test_document_store.py
Labels: integration:elasticsearch

#133 Pinecone - filters
  integrations/pinecone/src/pinecone_haystack/document_store.py
  integrations/pinecone/src/pinecone_haystack/filters.py
  integrations/pinecone/tests/test_filters.py
Labels: integration:pinecone

#149 [Pinecone] Add example notebook
  integrations/pinecone/examples/pinecone_documentstore_example.ipynb
  integrations/pinecone/src/pinecone_haystack/__init__.py
Labels: integration:pinecone

#130 added top_k argument in the run function of ElasticSearcBM25Retriever
  integrations/elasticsearch/src/elasticsearch_haystack/bm25_retriever.py
  integrations/elasticsearch/src/elasticsearch_haystack/embedding_retriever.py
Labels: integration:elasticsearch

#152 Change metadata to meta
  integrations/cohere/src/cohere_haystack/embedders/document_embedder.py
  integrations/cohere/src/cohere_haystack/embedders/text_embedder.py
  integrations/cohere/src/cohere_haystack/generator.py
  integrations/cohere/tests/test_cohere_generators.py
  integrations/cohere/tests/test_document_embedder.py
  integrations/google_vertex/src/google_vertex_haystack/generators/image_generator.py
  integrations/gradient/tests/test_gradient_rag_pipelines.py
  integrations/instructor_embedders/instructor_embedders_haystack/instructor_document_embedder.py
  integrations/instructor_embedders/tests/test_instructor_document_embedder.py
  integrations/jina/src/jina_haystack/document_embedder.py
  integrations/jina/src/jina_haystack/text_embedder.py
  integrations/jina/tests/test_document_embedder.py
  integrations/jina/tests/test_text_embedder.py
Labels: integration:instructor-embedders, integration:gradient, integration:cohere, integration:jina, integration:google-vertex

#88 Add cohere chat generator
  integrations/cohere/pyproject.toml
  integrations/cohere/src/cohere_haystack/chat/chat_generator.py
  integrations/cohere/tests/test_cohere_chat_generator.py
Labels: integration:cohere
