Repository deepset-ai/haystack-core-integrations, pull requests merged in 2023-11, with the labels that each got.

#52 Elasticsearch Document store - embedding retrieval
  document_stores/elasticsearch/docker-compose.yml
  document_stores/elasticsearch/src/elasticsearch_haystack/document_store.py
  document_stores/elasticsearch/tests/test_bm25_retriever.py
  document_stores/elasticsearch/tests/test_document_store.py
Labels: integration:elasticsearch

#56 Elasticsearch DS: temporarily pin `haystack-ai`
  document_stores/elasticsearch/pyproject.toml
Labels: integration:elasticsearch

#54 Elasticsearch Embedding Retriever
  document_stores/elasticsearch/src/elasticsearch_haystack/embedding_retriever.py
  document_stores/elasticsearch/tests/test_embedding_retriever.py
Labels: integration:elasticsearch

#55 [chroma] Update the code to account for the latest changes in haystack Document
  document_stores/chroma/pyproject.toml
  document_stores/chroma/src/chroma_haystack/document_store.py
  document_stores/chroma/tests/test_document_store.py
Labels: integration:chroma

#57 Elasticsearch - refactor `_search_documents`
  document_stores/elasticsearch/src/elasticsearch_haystack/document_store.py
  document_stores/elasticsearch/tests/test_document_store.py
Labels: integration:elasticsearch

#60 Move `instructor-embedders` to `components/embedders`
  .github/workflows/components_instructor_embedders.yml
  README.md
  components/embedders/instructor-embedders/LICENSE.txt
  components/embedders/instructor-embedders/README.md
  components/embedders/instructor-embedders/instructor_embedders/__about__.py
  components/embedders/instructor-embedders/instructor_embedders/__init__.py
  components/embedders/instructor-embedders/instructor_embedders/embedding_backend/__init__.py
  components/embedders/instructor-embedders/instructor_embedders/embedding_backend/instructor_backend.py
  components/embedders/instructor-embedders/instructor_embedders/instructor_document_embedder.py
  components/embedders/instructor-embedders/instructor_embedders/instructor_text_embedder.py
  components/embedders/instructor-embedders/pyproject.toml
  components/embedders/instructor-embedders/tests/__init__.py
  components/embedders/instructor-embedders/tests/test_instructor_backend.py
  components/embedders/instructor-embedders/tests/test_instructor_document_embedder.py
  components/embedders/instructor-embedders/tests/test_instructor_embedders.py
  components/embedders/instructor-embedders/tests/test_instructor_text_embedder.py
Labels: topic:CI

#59 [Elasticsearch Document Store] improve error handling in `write_documents`
  document_stores/elasticsearch/src/elasticsearch_haystack/document_store.py
  document_stores/elasticsearch/tests/test_document_store.py
Labels: integration:elasticsearch

#61 Add Unstructured file converter
  .github/labeler.yml
  .github/workflows/components_unstructured_fileconverter.yml
  README.md
  components/converters/unstructured_fileconverter/LICENSE
  components/converters/unstructured_fileconverter/README.md
  components/converters/unstructured_fileconverter/pyproject.toml
  components/converters/unstructured_fileconverter/src/unstructured_fileconverter_haystack/__about__.py
  components/converters/unstructured_fileconverter/src/unstructured_fileconverter_haystack/__init__.py
  components/converters/unstructured_fileconverter/src/unstructured_fileconverter_haystack/fileconverter.py
  components/converters/unstructured_fileconverter/tests/samples/sample_pdf.pdf
  components/converters/unstructured_fileconverter/tests/test_fileconverter.py
Labels: topic:CI

#64 update import paths
  .github/workflows/instructor_embedders.yml
  integrations/chroma/example/example.py
  integrations/chroma/pyproject.toml
  integrations/chroma/src/chroma_haystack/document_store.py
  integrations/chroma/src/chroma_haystack/errors.py
  integrations/chroma/src/chroma_haystack/retriever.py
  integrations/chroma/tests/test_document_store.py
  integrations/instructor-embedders/instructor_embedders/embedding_backend/instructor_backend.py
  integrations/instructor-embedders/instructor_embedders/instructor_document_embedder.py
  integrations/instructor-embedders/instructor_embedders/instructor_text_embedder.py
  integrations/instructor-embedders/tests/test_instructor_document_embedder.py
  integrations/unstructured/fileconverter/README.md
  integrations/unstructured/fileconverter/src/unstructured_fileconverter_haystack/fileconverter.py
Labels: topic:CI

#68 feat: [OpenSearch] add document store, BM25Retriever and EmbeddingRetriever
  .github/workflows/opensearch.yml
  README.md
  integrations/opensearch/.gitignore
  integrations/opensearch/LICENSE
  integrations/opensearch/README.md
  integrations/opensearch/docker-compose.yml
  integrations/opensearch/pyproject.toml
  integrations/opensearch/src/opensearch_haystack/__about__.py
  integrations/opensearch/src/opensearch_haystack/__init__.py
  integrations/opensearch/src/opensearch_haystack/bm25_retriever.py
  integrations/opensearch/src/opensearch_haystack/document_store.py
  integrations/opensearch/src/opensearch_haystack/embedding_retriever.py
  integrations/opensearch/src/opensearch_haystack/filters.py
  integrations/opensearch/tests/__init__.py
  integrations/opensearch/tests/test_bm25_retriever.py
  integrations/opensearch/tests/test_document_store.py
  integrations/opensearch/tests/test_embedding_retriever.py
  integrations/opensearch/tests/test_filters.py
Labels: topic:CI
