Repository deepset-ai/haystack-core-integrations, pull requests merged in 2024-11, with the labels that each got.

#1164 chore: fastembed - pin `onnxruntime<1.20.0`
  integrations/fastembed/pyproject.toml
Labels: integration:fastembed

#1165 fix: adapt our implementation to breaking changes in Chroma 0.5.17
  integrations/chroma/pyproject.toml
  integrations/chroma/src/haystack_integrations/document_stores/chroma/document_store.py
  integrations/chroma/src/haystack_integrations/document_stores/chroma/filters.py
  integrations/chroma/tests/test_document_store.py
Labels: type:documentation, integration:chroma

#1122 feat: Add Azure AI Search integration
  .github/workflows/azure_ai_search.yml
  integrations/azure_ai_search/LICENSE
  integrations/azure_ai_search/README.md
  integrations/azure_ai_search/example/document_store.py
  integrations/azure_ai_search/example/embedding_retrieval.py
  integrations/azure_ai_search/pydoc/config.yml
  integrations/azure_ai_search/pyproject.toml
  integrations/azure_ai_search/src/haystack_integrations/components/retrievers/azure_ai_search/__init__.py
  integrations/azure_ai_search/src/haystack_integrations/components/retrievers/azure_ai_search/embedding_retriever.py
  integrations/azure_ai_search/src/haystack_integrations/document_stores/azure_ai_search/__init__.py
  integrations/azure_ai_search/src/haystack_integrations/document_stores/azure_ai_search/document_store.py
  integrations/azure_ai_search/src/haystack_integrations/document_stores/azure_ai_search/errors.py
  integrations/azure_ai_search/src/haystack_integrations/document_stores/azure_ai_search/filters.py
  integrations/azure_ai_search/tests/__init__.py
  integrations/azure_ai_search/tests/conftest.py
  integrations/azure_ai_search/tests/test_document_store.py
  integrations/azure_ai_search/tests/test_embedding_retriever.py
Labels: type:documentation, topic:CI

#1161 feat: add support for ttft
  integrations/langfuse/src/haystack_integrations/tracing/langfuse/tracer.py
  integrations/langfuse/tests/test_tracer.py
Labels: type:documentation, integration:langfuse

#1173 fix: Weaviate - skip `_split_overlap` meta field
  integrations/weaviate/src/haystack_integrations/document_stores/weaviate/document_store.py
  integrations/weaviate/tests/test_document_store.py
Labels: integration:weaviate

#1177 fix: `GoogleAIGeminiGenerator` - remove support for tools and change output type
  integrations/google_ai/src/haystack_integrations/components/generators/google_ai/gemini.py
  integrations/google_ai/tests/generators/test_gemini.py
Labels: type:documentation, integration:google-ai

#1186 fix: dependency for weaviate document store
  integrations/weaviate/pyproject.toml
Labels: integration:weaviate

#1183 feat: add nvidia/llama-3.2-nv-rerankqa-1b-v1 to set of known ranking models
  integrations/nvidia/src/haystack_integrations/components/rankers/nvidia/ranker.py
Labels: integration:nvidia

#1178 feat: Fastembed - add FastembedRanker
  README.md
  integrations/fastembed/examples/ranker_example.py
  integrations/fastembed/pydoc/config.yml
  integrations/fastembed/pyproject.toml
  integrations/fastembed/src/haystack_integrations/components/rankers/fastembed/__init__.py
  integrations/fastembed/src/haystack_integrations/components/rankers/fastembed/ranker.py
  integrations/fastembed/tests/test_fastembed_ranker.py
Labels: type:documentation, integration:fastembed

#1187 fix: deepeval - pin indirect dependencies based on python version
  integrations/deepeval/pyproject.toml
Labels: integration:deepeval

#1180 fix: `VertexAIGeminiGenerator` - remove support for tools and change output type
  integrations/google_vertex/src/haystack_integrations/components/generators/google_vertex/gemini.py
  integrations/google_vertex/tests/test_gemini.py
Labels: type:documentation, integration:google-vertex

#1192 Add AnthropicVertexChatGenerator component
  integrations/anthropic/src/haystack_integrations/components/generators/anthropic/__init__.py
  integrations/anthropic/src/haystack_integrations/components/generators/anthropic/chat/vertex_chat_generator.py
  integrations/anthropic/tests/test_vertex_chat_generator.py
Labels: type:documentation

#1185 Enable kwargs in SearchIndex and Embedding Retriever
  integrations/azure_ai_search/example/document_store.py
  integrations/azure_ai_search/example/embedding_retrieval.py
  integrations/azure_ai_search/src/haystack_integrations/components/retrievers/azure_ai_search/embedding_retriever.py
  integrations/azure_ai_search/src/haystack_integrations/document_stores/azure_ai_search/__init__.py
  integrations/azure_ai_search/src/haystack_integrations/document_stores/azure_ai_search/document_store.py
  integrations/azure_ai_search/src/haystack_integrations/document_stores/azure_ai_search/filters.py
  integrations/azure_ai_search/tests/conftest.py
Labels: type:documentation

#1184 Fixed TypeError in LangfuseTrace
  integrations/langfuse/src/haystack_integrations/tracing/langfuse/tracer.py
  integrations/langfuse/tests/test_tracer.py
  integrations/langfuse/tests/test_tracing.py
Labels: type:documentation, integration:langfuse

#1198 docs: Fastembed Ranker - update readme and fix example
  integrations/fastembed/README.md
  integrations/fastembed/examples/ranker_example.py
Labels: type:documentation, integration:fastembed

#1199 ci: Fix changelog generation
  .github/workflows/CI_pypi_release.yml
  cliff.toml
Labels: topic:CI

#1202 feat: Pgvector - recreate the connection if it is no longer valid
  integrations/pgvector/src/haystack_integrations/document_stores/pgvector/document_store.py
  integrations/pgvector/tests/test_document_store.py
Labels: type:documentation, integration:pgvector

#1150 feat: add `JinaReaderConnector`
  integrations/jina/examples/jina_reader_connector.py
  integrations/jina/pydoc/config.yml
  integrations/jina/pyproject.toml
  integrations/jina/src/haystack_integrations/components/connectors/jina/__init__.py
  integrations/jina/src/haystack_integrations/components/connectors/jina/reader.py
  integrations/jina/src/haystack_integrations/components/connectors/jina/reader_mode.py
  integrations/jina/tests/test_reader_connector.py
Labels: type:documentation, integration:jina

#1209 fix: adapt to Ollama client 0.4.0
  integrations/ollama/pyproject.toml
  integrations/ollama/src/haystack_integrations/components/embedders/ollama/__init__.py
  integrations/ollama/src/haystack_integrations/components/embedders/ollama/document_embedder.py
  integrations/ollama/src/haystack_integrations/components/embedders/ollama/text_embedder.py
  integrations/ollama/src/haystack_integrations/components/generators/ollama/__init__.py
  integrations/ollama/src/haystack_integrations/components/generators/ollama/chat/chat_generator.py
  integrations/ollama/src/haystack_integrations/components/generators/ollama/generator.py
  integrations/ollama/tests/test_chat_generator.py
Labels: integration:ollama

#1214 chore: update changelog for `ollama-haystack==2.0.0`
  integrations/ollama/CHANGELOG.md
Labels: integration:ollama

#1213 feat: add `create_extension` parameter to control vector extension creation
  .github/workflows/pgvector.yml
  integrations/pgvector/src/haystack_integrations/document_stores/pgvector/document_store.py
  integrations/pgvector/tests/test_document_store.py
  integrations/pgvector/tests/test_retrievers.py
Labels: type:documentation, topic:CI, integration:pgvector

#1215 chore: fix linting/isort
  integrations/amazon_bedrock/src/haystack_integrations/components/embedders/amazon_bedrock/__init__.py
  integrations/amazon_bedrock/src/haystack_integrations/components/embedders/amazon_bedrock/document_embedder.py
  integrations/amazon_bedrock/src/haystack_integrations/components/generators/amazon_bedrock/__init__.py
  integrations/anthropic/src/haystack_integrations/components/generators/anthropic/__init__.py
  integrations/azure_ai_search/src/haystack_integrations/document_stores/azure_ai_search/__init__.py
  integrations/chroma/src/haystack_integrations/components/retrievers/chroma/__init__.py
  integrations/cohere/src/haystack_integrations/components/embedders/cohere/document_embedder.py
  integrations/cohere/src/haystack_integrations/components/generators/cohere/__init__.py
  integrations/fastembed/src/haystack_integrations/components/embedders/fastembed/__init__.py
  integrations/fastembed/src/haystack_integrations/components/embedders/fastembed/fastembed_document_embedder.py
  integrations/fastembed/src/haystack_integrations/components/embedders/fastembed/fastembed_sparse_document_embedder.py
  integrations/fastembed/src/haystack_integrations/components/rankers/fastembed/ranker.py
  integrations/google_ai/src/haystack_integrations/components/generators/google_ai/__init__.py
  integrations/google_vertex/src/haystack_integrations/components/generators/google_vertex/__init__.py
  integrations/google_vertex/tests/chat/test_gemini.py
  integrations/instructor_embedders/src/haystack_integrations/components/embedders/instructor_embedders/instructor_document_embedder.py
  integrations/jina/src/haystack_integrations/components/embedders/jina/document_embedder.py
  integrations/llama_cpp/src/haystack_integrations/components/generators/llama_cpp/__init__.py
  integrations/nvidia/src/haystack_integrations/components/embedders/nvidia/__init__.py
  integrations/nvidia/src/haystack_integrations/components/embedders/nvidia/document_embedder.py
  integrations/nvidia/src/haystack_integrations/utils/nvidia/__init__.py
  integrations/optimum/src/haystack_integrations/components/embedders/optimum/__init__.py
  integrations/optimum/src/haystack_integrations/components/embedders/optimum/optimum_document_embedder.py
  integrations/qdrant/src/haystack_integrations/components/retrievers/qdrant/__init__.py
  integrations/weaviate/src/haystack_integrations/document_stores/weaviate/__init__.py
Labels: integration:instructor-embedders, integration:chroma, integration:cohere, integration:jina, integration:google-vertex, integration:qdrant, integration:amazon-bedrock, integration:google-ai, integration:llama_cpp, integration:weaviate, integration:fastembed, integration:optimum, integration:nvidia

#1210 fix: Astra - fix embedding retrieval top-k limit
  integrations/astra/src/haystack_integrations/document_stores/astra/astra_client.py
  integrations/astra/tests/test_embedding_retrieval.py
Labels: type:documentation, integration:astra

#1218 chore: add Azure AI Search to labeler.yml
  .github/labeler.yml
Labels: topic:CI

#1217 fix: `JinaReaderConnector` - fix the name of the output edge
  integrations/jina/src/haystack_integrations/components/connectors/jina/reader.py
Labels: integration:jina

#1222 chore: use class methods to create `ChatMessage`
  integrations/amazon_bedrock/tests/test_chat_generator.py
  integrations/cohere/src/haystack_integrations/components/generators/cohere/generator.py
  integrations/cohere/tests/test_cohere_chat_generator.py
  integrations/google_ai/src/haystack_integrations/components/generators/google_ai/chat/gemini.py
  integrations/google_vertex/src/haystack_integrations/components/generators/google_vertex/chat/gemini.py
  integrations/ollama/tests/test_chat_generator.py
Labels: integration:cohere, integration:google-vertex, integration:amazon-bedrock, integration:google-ai, integration:ollama

#1223 chore: Chroma - pin `tokenizers`
  integrations/chroma/pyproject.toml
Labels: integration:chroma

#1224 feat: `OllamaDocumentEmbedder` - allow batching embeddings
  integrations/ollama/src/haystack_integrations/components/embedders/ollama/document_embedder.py
  integrations/ollama/tests/test_document_embedder.py
Labels: type:documentation, integration:ollama
