Repository deepset-ai/haystack-core-integrations, pull requests merged in 2024-12, with the labels that each got.

#1233 chore: Chroma - unpin `tokenizers`
  integrations/chroma/pyproject.toml
Labels: integration:chroma

#1231 feat: warn if LangfuseTracer initialized without tracing enabled
  integrations/langfuse/src/haystack_integrations/tracing/langfuse/tracer.py
  integrations/langfuse/tests/test_tracer.py
Labels: integration:langfuse

#1238 chore: use `text` instead of `content` for `ChatMessage` in Llama.cpp, Langfuse and Mistral
  integrations/langfuse/tests/test_tracing.py
  integrations/llama_cpp/src/haystack_integrations/components/generators/llama_cpp/chat/chat_generator.py
  integrations/llama_cpp/tests/test_chat_generator.py
  integrations/mistral/tests/test_mistral_chat_generator.py
Labels: integration:llama_cpp, integration:mistral, integration:langfuse

#1219 feat: Update AmazonBedrockChatGenerator to use Converse API (BREAKING CHANGE)
  integrations/amazon_bedrock/src/haystack_integrations/components/generators/amazon_bedrock/chat/adapters.py
  integrations/amazon_bedrock/src/haystack_integrations/components/generators/amazon_bedrock/chat/chat_generator.py
  integrations/amazon_bedrock/tests/test_chat_generator.py
Labels: type:documentation, integration:amazon-bedrock

#1239 chore: use `text` instead of `content` for `ChatMessage` in Ollama
  integrations/ollama/src/haystack_integrations/components/generators/ollama/chat/chat_generator.py
  integrations/ollama/tests/test_chat_generator.py
Labels: integration:ollama

#1241 fix: GoogleAI - fix the content type of `ChatMessage` `content` from function
  integrations/google_ai/src/haystack_integrations/components/generators/google_ai/chat/gemini.py
  integrations/google_ai/tests/generators/chat/test_chat_gemini.py
Labels: type:documentation, integration:google-ai

#1242 fix: Google Vertex - fix the content type of `ChatMessage` `content` from function
  integrations/google_vertex/src/haystack_integrations/components/generators/google_vertex/chat/gemini.py
Labels: integration:google-vertex

#1244 feat: support model_arn in AmazonBedrockGenerator
  integrations/amazon_bedrock/src/haystack_integrations/components/generators/amazon_bedrock/generator.py
  integrations/amazon_bedrock/tests/test_generator.py
Labels: type:documentation, integration:amazon-bedrock

#1243 chore: Update docstring and type of fuzziness
  integrations/opensearch/src/haystack_integrations/components/retrievers/opensearch/bm25_retriever.py
  integrations/opensearch/src/haystack_integrations/document_stores/opensearch/document_store.py
  integrations/opensearch/tests/test_bm25_retriever.py
Labels: type:documentation, integration:opensearch

#1245 chore: add application name
  integrations/snowflake/src/haystack_integrations/components/retrievers/snowflake/snowflake_table_retriever.py
  integrations/snowflake/tests/test_snowflake_table_retriever.py
Labels: type:documentation, integration:snowflake

#1247 ci: delete all azure_ai_search indexes
  integrations/azure_ai_search/tests/conftest.py
Labels: type:documentation, integration:azure-ai-search

#1250 fix: fixes to Bedrock Chat Generator for compatibility with the new ChatMessage
  integrations/amazon_bedrock/src/haystack_integrations/components/generators/amazon_bedrock/chat/chat_generator.py
  integrations/amazon_bedrock/tests/test_chat_generator.py
Labels: integration:amazon-bedrock

#1251 ci: make nightly tests actually run with Haystack main branch
  .github/workflows/amazon_bedrock.yml
  .github/workflows/amazon_sagemaker.yml
  .github/workflows/anthropic.yml
  .github/workflows/astra.yml
  .github/workflows/azure_ai_search.yml
  .github/workflows/chroma.yml
  .github/workflows/cohere.yml
  .github/workflows/deepeval.yml
  .github/workflows/elasticsearch.yml
  .github/workflows/fastembed.yml
  .github/workflows/google_ai.yml
  .github/workflows/google_vertex.yml
  .github/workflows/instructor_embedders.yml
  .github/workflows/jina.yml
  .github/workflows/langfuse.yml
  .github/workflows/llama_cpp.yml
  .github/workflows/mistral.yml
  .github/workflows/mongodb_atlas.yml
  .github/workflows/nvidia.yml
  .github/workflows/ollama.yml
  .github/workflows/opensearch.yml
  .github/workflows/optimum.yml
  .github/workflows/pgvector.yml
  .github/workflows/pinecone.yml
  .github/workflows/qdrant.yml
  .github/workflows/ragas.yml
  .github/workflows/snowflake.yml
  .github/workflows/unstructured.yml
  .github/workflows/weaviate.yml
Labels: integration:instructor-embedders, topic:CI, integration:chroma, integration:elasticsearch, integration:opensearch, integration:unstructured-fileconverter, integration:cohere, integration:jina, integration:google-vertex, integration:qdrant, integration:pinecone, integration:amazon-bedrock, integration:google-ai, integration:ollama, integration:llama_cpp, integration:weaviate, integration:astra, integration:amazon-sagemaker, integration:pgvector, integration:deepeval, integration:fastembed, integration:ragas, integration:mongodb-atlas, integration:mistral, integration:optimum, integration:nvidia, integration:langfuse, integration:snowflake, integration:azure-ai-search

#1256 fix: make Ollama Chat Generator compatible with new `ChatMessage`
  integrations/ollama/src/haystack_integrations/components/generators/ollama/chat/chat_generator.py
Labels: integration:ollama

#1254 fix: make llama.cpp Chat Generator compatible with new `ChatMessage`
  integrations/llama_cpp/src/haystack_integrations/components/generators/llama_cpp/chat/chat_generator.py
  integrations/llama_cpp/tests/test_chat_generator.py
Labels: integration:google-vertex, integration:llama_cpp

#1255 fix: make Google Vertex Chat Generator compatible with new ChatMessage
  integrations/google_vertex/src/haystack_integrations/components/generators/google_vertex/chat/gemini.py
Labels: integration:google-vertex

#1253 fix: make GoogleAI Chat Generator compatible with new `ChatMessage`; small fixes to Cohere tests
  integrations/cohere/tests/test_cohere_chat_generator.py
  integrations/google_ai/src/haystack_integrations/components/generators/google_ai/chat/gemini.py
  integrations/google_ai/tests/generators/chat/test_chat_gemini.py
Labels: integration:cohere, integration:google-ai
