Repository deepset-ai/haystack-core-integrations, pull requests merged in 2024-08, with the labels that each got.

#920 feat: support aws authentication with OpenSearchDocumentStore
  integrations/opensearch/pyproject.toml
  integrations/opensearch/src/haystack_integrations/document_stores/opensearch/auth.py
  integrations/opensearch/src/haystack_integrations/document_stores/opensearch/document_store.py
  integrations/opensearch/tests/test_auth.py
  integrations/opensearch/tests/test_bm25_retriever.py
  integrations/opensearch/tests/test_document_store.py
  integrations/opensearch/tests/test_embedding_retriever.py
Labels: type:documentation, integration:opensearch

#932 fix: Astra DB, improved warnings and guidance about indexing-related mismatches
  integrations/astra/README.md
  integrations/astra/src/haystack_integrations/document_stores/astra/astra_client.py
Labels: integration:astra

#937 fix: remove exposure of connection_string
  integrations/mongodb_atlas/src/haystack_integrations/document_stores/mongodb_atlas/document_store.py
Labels: integration:mongodb-atlas

#941 ci: update docker compose to v2
  .github/workflows/elasticsearch.yml
  .github/workflows/opensearch.yml
  .github/workflows/weaviate.yml
Labels: topic:CI, integration:elasticsearch, integration:opensearch, integration:weaviate

#943 fix: pin llama-cpp-python to an older version
  integrations/llama_cpp/pyproject.toml
Labels: integration:llama_cpp

#940 fix: replace DynamicChatPromptBuilder with ChatPromptBuilder
  integrations/anthropic/example/documentation_rag_with_claude.py
  integrations/llama_cpp/tests/test_chat_generator.py
  integrations/mistral/examples/streaming_chat_with_rag.py
Labels: integration:llama_cpp, integration:mistral

#939 refactor: introduce `_convert_message_to_llamacpp_format` utility function
  integrations/llama_cpp/src/haystack_integrations/components/generators/llama_cpp/chat/chat_generator.py
  integrations/llama_cpp/tests/test_chat_generator.py
Labels: type:documentation, integration:llama_cpp

#947 Docs: Update OpenSearchEmbeddingRetriever docstrings
  integrations/opensearch/src/haystack_integrations/components/retrievers/opensearch/embedding_retriever.py
Labels: type:documentation, integration:opensearch

#945 Docs: Update BM25 docstrings
  integrations/opensearch/src/haystack_integrations/components/retrievers/opensearch/bm25_retriever.py
Labels: type:documentation, integration:instructor-embedders, integration:chroma, integration:elasticsearch, integration:opensearch, integration:unstructured-fileconverter, integration:gradient, integration:cohere, integration:jina, integration:google-vertex, integration:qdrant, integration:pinecone, integration:amazon-bedrock, integration:google-ai, integration:ollama, integration:llama_cpp, integration:weaviate, integration:astra, integration:amazon-sagemaker, integration:pgvector, integration:deepeval, integration:fastembed, integration:ragas, integration:mongodb-atlas, integration:mistral, integration:optimum, integration:nvidia, integration:langfuse

#949 Docs: Update AmazonBedrockChatGenerator docstrings
  integrations/amazon_bedrock/src/haystack_integrations/components/generators/amazon_bedrock/chat/chat_generator.py
Labels: type:documentation, integration:amazon-bedrock

#952 chore: Update Langfuse README to avoid common initialization issues
  integrations/langfuse/README.md
Labels: integration:langfuse

#926 feat: remove gradient integration
  .github/labeler.yml
  .github/workflows/gradient.yml
  README.md
  integrations/gradient/LICENSE.txt
  integrations/gradient/README.md
  integrations/gradient/pydoc/config.yml
  integrations/gradient/pyproject.toml
  integrations/gradient/src/haystack_integrations/components/embedders/gradient/__init__.py
  integrations/gradient/src/haystack_integrations/components/embedders/gradient/gradient_document_embedder.py
  integrations/gradient/src/haystack_integrations/components/embedders/gradient/gradient_text_embedder.py
  integrations/gradient/src/haystack_integrations/components/generators/gradient/__init__.py
  integrations/gradient/src/haystack_integrations/components/generators/gradient/base.py
  integrations/gradient/tests/__init__.py
  integrations/gradient/tests/test_gradient_document_embedder.py
  integrations/gradient/tests/test_gradient_rag_pipelines.py
  integrations/gradient/tests/test_gradient_text_embedder.py
Labels: type:documentation, topic:CI, integration:gradient

#966 Docs: Update NvidiaGenerator docstrings
  integrations/nvidia/src/haystack_integrations/components/generators/nvidia/generator.py
Labels: type:documentation, integration:nvidia

#964 Docs: Update GeminiGenerator docstrings
  integrations/google_ai/src/haystack_integrations/components/generators/google_ai/gemini.py
Labels: type:documentation, integration:google-ai

#962 Docs: Update GoogleChatGenerator docstrings
  integrations/google_ai/src/haystack_integrations/components/generators/google_ai/chat/gemini.py
Labels: type:documentation, integration:google-ai

#958 Docs: Update CohereChatGenerator docstrings
  integrations/cohere/src/haystack_integrations/components/generators/cohere/chat/chat_generator.py
Labels: type:documentation, integration:cohere

#960 Docs: Update CohereGenerator docstrings
  integrations/cohere/src/haystack_integrations/components/generators/cohere/generator.py
Labels: type:documentation, integration:cohere

#956 Docs: Update AmazonBedrockGenerator docstrings
  integrations/amazon_bedrock/src/haystack_integrations/components/generators/amazon_bedrock/generator.py
Labels: type:documentation, integration:amazon-bedrock

#955 chore: pin `llama-cpp-python>=0.2.87`
  integrations/llama_cpp/pyproject.toml
Labels: integration:llama_cpp

#915 Add default model for NVIDIA HayStack local NIM endpoints
  integrations/nvidia/pyproject.toml
  integrations/nvidia/src/haystack_integrations/components/embedders/nvidia/_nim_backend.py
  integrations/nvidia/src/haystack_integrations/components/embedders/nvidia/backend.py
  integrations/nvidia/src/haystack_integrations/components/embedders/nvidia/document_embedder.py
  integrations/nvidia/src/haystack_integrations/components/embedders/nvidia/text_embedder.py
  integrations/nvidia/src/haystack_integrations/components/generators/nvidia/backend.py
  integrations/nvidia/src/haystack_integrations/components/generators/nvidia/generator.py
  integrations/nvidia/src/haystack_integrations/utils/nvidia/__init__.py
  integrations/nvidia/src/haystack_integrations/utils/nvidia/nim_backend.py
  integrations/nvidia/src/haystack_integrations/utils/nvidia/utils.py
  integrations/nvidia/tests/__init__.py
  integrations/nvidia/tests/conftest.py
  integrations/nvidia/tests/test_document_embedder.py
  integrations/nvidia/tests/test_generator.py
  integrations/nvidia/tests/test_text_embedder.py
Labels: type:documentation, integration:nvidia

#927 fix: support streaming_callback param in amazon bedrock generators
  integrations/amazon_bedrock/src/haystack_integrations/components/generators/amazon_bedrock/adapters.py
  integrations/amazon_bedrock/src/haystack_integrations/components/generators/amazon_bedrock/chat/adapters.py
  integrations/amazon_bedrock/src/haystack_integrations/components/generators/amazon_bedrock/chat/chat_generator.py
  integrations/amazon_bedrock/src/haystack_integrations/components/generators/amazon_bedrock/generator.py
  integrations/amazon_bedrock/src/haystack_integrations/components/generators/amazon_bedrock/handlers.py
  integrations/amazon_bedrock/tests/test_chat_generator.py
  integrations/amazon_bedrock/tests/test_generator.py
Labels: type:documentation, integration:amazon-bedrock

#954 test: do not retry tests in `hatch run test` command
  .github/workflows/amazon_bedrock.yml
  .github/workflows/amazon_sagemaker.yml
  .github/workflows/anthropic.yml
  .github/workflows/astra.yml
  .github/workflows/chroma.yml
  .github/workflows/cohere.yml
  .github/workflows/deepeval.yml
  .github/workflows/elasticsearch.yml
  .github/workflows/fastembed.yml
  .github/workflows/google_ai.yml
  .github/workflows/google_vertex.yml
  .github/workflows/instructor_embedders.yml
  .github/workflows/jina.yml
  .github/workflows/langfuse.yml
  .github/workflows/llama_cpp.yml
  .github/workflows/mistral.yml
  .github/workflows/mongodb_atlas.yml
  .github/workflows/nvidia.yml
  .github/workflows/ollama.yml
  .github/workflows/opensearch.yml
  .github/workflows/optimum.yml
  .github/workflows/pgvector.yml
  .github/workflows/pinecone.yml
  .github/workflows/qdrant.yml
  .github/workflows/ragas.yml
  .github/workflows/unstructured.yml
  .github/workflows/weaviate.yml
  integrations/amazon_bedrock/pyproject.toml
  integrations/amazon_sagemaker/pyproject.toml
  integrations/anthropic/pyproject.toml
  integrations/astra/pyproject.toml
  integrations/chroma/pyproject.toml
  integrations/cohere/pyproject.toml
  integrations/deepeval/pyproject.toml
  integrations/elasticsearch/pyproject.toml
  integrations/fastembed/pyproject.toml
  integrations/google_ai/pyproject.toml
  integrations/google_vertex/pyproject.toml
  integrations/instructor_embedders/pyproject.toml
  integrations/jina/pyproject.toml
  integrations/langfuse/pyproject.toml
  integrations/llama_cpp/pyproject.toml
  integrations/mistral/pyproject.toml
  integrations/mongodb_atlas/pyproject.toml
  integrations/nvidia/pyproject.toml
  integrations/ollama/pyproject.toml
  integrations/opensearch/pyproject.toml
  integrations/optimum/pyproject.toml
  integrations/pgvector/pyproject.toml
  integrations/pinecone/pyproject.toml
  integrations/qdrant/pyproject.toml
  integrations/ragas/pyproject.toml
  integrations/unstructured/pyproject.toml
  integrations/weaviate/pyproject.toml
Labels: integration:instructor-embedders, topic:CI, integration:chroma, integration:elasticsearch, integration:opensearch, integration:unstructured-fileconverter, integration:cohere, integration:jina, integration:google-vertex, integration:qdrant, integration:pinecone, integration:amazon-bedrock, integration:google-ai, integration:ollama, integration:llama_cpp, integration:weaviate, integration:astra, integration:amazon-sagemaker, integration:pgvector, integration:deepeval, integration:fastembed, integration:ragas, integration:mongodb-atlas, integration:mistral, integration:optimum, integration:nvidia, integration:langfuse

#911 refactor: change meta data fields
  integrations/amazon_bedrock/src/haystack_integrations/components/generators/amazon_bedrock/chat/chat_generator.py
  integrations/anthropic/src/haystack_integrations/components/generators/anthropic/chat/chat_generator.py
Labels: integration:amazon-bedrock, integration:anthropic

#967 feat: make truncation optional for bedrock chat generator
  integrations/amazon_bedrock/src/haystack_integrations/components/generators/amazon_bedrock/chat/adapters.py
  integrations/amazon_bedrock/src/haystack_integrations/components/generators/amazon_bedrock/chat/chat_generator.py
  integrations/amazon_bedrock/tests/test_chat_generator.py
Labels: type:documentation, integration:amazon-bedrock

#978 chore: Update Anthropic example, use ChatPromptBuilder properly
  integrations/anthropic/example/documentation_rag_with_claude.py
Labels: type:documentation

#969 chore: Update Qdrant tests for the new `apply_filter_policy` usage
  integrations/qdrant/tests/test_retriever.py
Labels: integration:qdrant

#982 chore: Jina - ruff update, don't ruff tests
  integrations/jina/pyproject.toml
  integrations/jina/tests/test_document_embedder.py
  integrations/jina/tests/test_ranker.py
  integrations/jina/tests/test_text_embedder.py
Labels: integration:jina

#983 chore: Chroma - ruff update, don't ruff tests
  integrations/chroma/example/example.py
  integrations/chroma/pyproject.toml
  integrations/chroma/src/haystack_integrations/components/retrievers/chroma/retriever.py
  integrations/chroma/tests/test_document_store.py
  integrations/chroma/tests/test_retriever.py
Labels: integration:chroma

#992 chore: langfuse - ruff update, don't ruff tests
  integrations/langfuse/pyproject.toml
  integrations/langfuse/src/haystack_integrations/components/connectors/langfuse/langfuse_connector.py
Labels: integration:langfuse

#971 chore: Update mongodb test for the new `apply_filter_policy` usage
  integrations/mongodb_atlas/tests/test_retriever.py
Labels: type:documentation, integration:mongodb-atlas

#986 chore: weaviate - ruff update, don't ruff tests
  integrations/weaviate/pyproject.toml
  integrations/weaviate/src/haystack_integrations/components/retrievers/weaviate/bm25_retriever.py
  integrations/weaviate/src/haystack_integrations/components/retrievers/weaviate/embedding_retriever.py
  integrations/weaviate/tests/test_auth.py
  integrations/weaviate/tests/test_bm25_retriever.py
  integrations/weaviate/tests/test_document_store.py
  integrations/weaviate/tests/test_embedding_retriever.py
Labels: integration:weaviate

#985 chore: ollama - ruff update, don't ruff tests
  integrations/ollama/examples/chat_generator_example.py
  integrations/ollama/examples/embedders_example.py
  integrations/ollama/examples/generator_example.py
  integrations/ollama/pyproject.toml
  integrations/ollama/tests/test_chat_generator.py
  integrations/ollama/tests/test_document_embedder.py
  integrations/ollama/tests/test_generator.py
  integrations/ollama/tests/test_text_embedder.py
Labels: integration:ollama

#991 chore: mongo - ruff update, don't ruff tests
  integrations/mongodb_atlas/examples/example.py
  integrations/mongodb_atlas/pyproject.toml
  integrations/mongodb_atlas/src/haystack_integrations/components/retrievers/mongodb_atlas/embedding_retriever.py
  integrations/mongodb_atlas/src/haystack_integrations/document_stores/mongodb_atlas/document_store.py
  integrations/mongodb_atlas/tests/test_document_store.py
  integrations/mongodb_atlas/tests/test_embedding_retrieval.py
  integrations/mongodb_atlas/tests/test_retriever.py
Labels: integration:mongodb-atlas

#984 chore: pgvector ruff update, don't ruff tests
  integrations/pgvector/examples/embedding_retrieval.py
  integrations/pgvector/examples/hybrid_retrieval.py
  integrations/pgvector/pyproject.toml
  integrations/pgvector/src/haystack_integrations/components/retrievers/pgvector/embedding_retriever.py
  integrations/pgvector/src/haystack_integrations/components/retrievers/pgvector/keyword_retriever.py
  integrations/pgvector/tests/conftest.py
  integrations/pgvector/tests/test_document_store.py
  integrations/pgvector/tests/test_embedding_retrieval.py
  integrations/pgvector/tests/test_filters.py
  integrations/pgvector/tests/test_keyword_retrieval.py
  integrations/pgvector/tests/test_retrievers.py
Labels: integration:pgvector

#993 fix: Lints in `nvidia-haystack`
  integrations/nvidia/pyproject.toml
  integrations/nvidia/src/haystack_integrations/components/embedders/nvidia/document_embedder.py
  integrations/nvidia/src/haystack_integrations/components/embedders/nvidia/text_embedder.py
  integrations/nvidia/src/haystack_integrations/components/generators/nvidia/generator.py
Labels: integration:nvidia

#994 fix: Lints in `mistral-haystack`
  integrations/mistral/examples/indexing_pipeline.py
  integrations/mistral/examples/streaming_chat_with_rag.py
  integrations/mistral/pyproject.toml
Labels: integration:mistral

#997 chore: fastembed - ruff update, don't ruff tests
  integrations/fastembed/examples/example.py
  integrations/fastembed/examples/sparse_example.py
  integrations/fastembed/pyproject.toml
  integrations/fastembed/tests/test_fastembed_document_embedder.py
  integrations/fastembed/tests/test_fastembed_sparse_document_embedder.py
  integrations/fastembed/tests/test_fastembed_sparse_text_embedder.py
  integrations/fastembed/tests/test_fastembed_text_embedder.py
Labels: integration:fastembed

#995 fix: Lints in `cohere-haystack`
  integrations/cohere/examples/cohere_embedding.py
  integrations/cohere/examples/cohere_generation.py
  integrations/cohere/examples/cohere_ranker.py
  integrations/cohere/pyproject.toml
  integrations/cohere/src/haystack_integrations/components/embedders/cohere/document_embedder.py
  integrations/cohere/src/haystack_integrations/components/embedders/cohere/text_embedder.py
Labels: integration:cohere

#999 chore: elasticsearch - ruff update, don't ruff tests
  integrations/elasticsearch/pyproject.toml
  integrations/elasticsearch/src/haystack_integrations/components/retrievers/elasticsearch/bm25_retriever.py
  integrations/elasticsearch/src/haystack_integrations/components/retrievers/elasticsearch/embedding_retriever.py
  integrations/elasticsearch/tests/test_bm25_retriever.py
  integrations/elasticsearch/tests/test_document_store.py
  integrations/elasticsearch/tests/test_embedding_retriever.py
  integrations/elasticsearch/tests/test_filters.py
Labels: integration:elasticsearch

#981 docs: add link to langfuse in LangfuseConnector
  integrations/langfuse/src/haystack_integrations/components/connectors/langfuse/langfuse_connector.py
Labels: type:documentation, integration:langfuse

#996 fix: Lints in `unstructured-haystack`
  integrations/unstructured/pyproject.toml
Labels: integration:unstructured-fileconverter

#998 chore: lamma_cpp - ruff update, don't ruff tests
  integrations/llama_cpp/examples/rag_pipeline_example.py
  integrations/llama_cpp/pyproject.toml
  integrations/llama_cpp/tests/test_chat_generator.py
  integrations/llama_cpp/tests/test_generator.py
Labels: integration:llama_cpp

#989 chore: qdrant - ruff update, don't ruff tests
  integrations/qdrant/examples/embedding_retrieval.py
  integrations/qdrant/pyproject.toml
  integrations/qdrant/src/haystack_integrations/components/retrievers/qdrant/retriever.py
  integrations/qdrant/src/haystack_integrations/document_stores/qdrant/migrate_to_sparse.py
  integrations/qdrant/tests/test_converters.py
  integrations/qdrant/tests/test_dict_converters.py
  integrations/qdrant/tests/test_document_store.py
  integrations/qdrant/tests/test_filters.py
  integrations/qdrant/tests/test_legacy_filters.py
  integrations/qdrant/tests/test_retriever.py
Labels: integration:qdrant

#988 chore: opensearch - ruff update, don't ruff tests
  integrations/opensearch/pyproject.toml
  integrations/opensearch/src/haystack_integrations/components/retrievers/opensearch/bm25_retriever.py
  integrations/opensearch/src/haystack_integrations/components/retrievers/opensearch/embedding_retriever.py
  integrations/opensearch/src/haystack_integrations/document_stores/opensearch/document_store.py
  integrations/opensearch/tests/test_auth.py
  integrations/opensearch/tests/test_bm25_retriever.py
  integrations/opensearch/tests/test_document_store.py
  integrations/opensearch/tests/test_embedding_retriever.py
  integrations/opensearch/tests/test_filters.py
Labels: integration:opensearch

#987 chore: instructor-embedders - ruff update, don't ruff tests
  integrations/instructor_embedders/pyproject.toml
  integrations/instructor_embedders/tests/test_instructor_backend.py
  integrations/instructor_embedders/tests/test_instructor_document_embedder.py
  integrations/instructor_embedders/tests/test_instructor_text_embedder.py
Labels: integration:instructor-embedders

#1001 refactor: Remove usage of deprecated `ChatMessage.to_openai_format`
  integrations/langfuse/src/haystack_integrations/tracing/langfuse/tracer.py
Labels: integration:langfuse

#973 fix: normalising ChatGenerators output
  integrations/amazon_bedrock/src/haystack_integrations/components/generators/amazon_bedrock/chat/adapters.py
  integrations/amazon_bedrock/src/haystack_integrations/components/generators/amazon_bedrock/chat/chat_generator.py
  integrations/amazon_bedrock/tests/test_chat_generator.py
Labels: integration:amazon-bedrock

#1007 refactor: Remove usage of deprecated `ChatMessage.to_openai_format`
  integrations/amazon_bedrock/src/haystack_integrations/components/generators/amazon_bedrock/chat/adapters.py
Labels: type:documentation, integration:amazon-bedrock

#976 fix(Bedrock): allow tools kwargs for AWS Bedrock Claude model
  integrations/amazon_bedrock/src/haystack_integrations/components/generators/amazon_bedrock/chat/adapters.py
  integrations/amazon_bedrock/tests/test_chat_generator.py
Labels: type:documentation, integration:amazon-bedrock

#1009 fix: skip unsupported meta fields in PineconeDB
  integrations/pinecone/src/haystack_integrations/document_stores/pinecone/document_store.py
  integrations/pinecone/tests/test_document_store.py
Labels: type:documentation, integration:pinecone

#1015 feat: update default embedding model to nvidia/nv-embedqa-e5-v5
  integrations/nvidia/src/haystack_integrations/components/embedders/nvidia/document_embedder.py
  integrations/nvidia/src/haystack_integrations/components/embedders/nvidia/text_embedder.py
  integrations/nvidia/tests/conftest.py
  integrations/nvidia/tests/test_base_url.py
  integrations/nvidia/tests/test_document_embedder.py
  integrations/nvidia/tests/test_generator.py
  integrations/nvidia/tests/test_text_embedder.py
Labels: integration:nvidia

#1025 refactor: Use Qdrant's Query API
  integrations/qdrant/src/haystack_integrations/document_stores/qdrant/document_store.py
  integrations/qdrant/tests/test_document_store.py
Labels: integration:qdrant

#1020 ci: add license compliance workflow
  .github/utils/pyproject_to_requirements.py
  .github/workflows/CI_license_compliance.yml
  README.md
Labels: topic:CI

#1014 feat: enable streaming for VertexAIGeminiChatGenerator
  integrations/google_vertex/src/haystack_integrations/components/generators/google_vertex/chat/gemini.py
Labels: type:documentation, integration:google-vertex

#1012 feat: add tests for VertexAIGeminiGenerator and enable streaming
  integrations/google_vertex/src/haystack_integrations/components/generators/google_vertex/gemini.py
  integrations/google_vertex/tests/test_gemini.py
Labels: type:documentation, integration:google-vertex, integration:pinecone, integration:amazon-bedrock

#1016 Enable streaming in GoogleAIGemini
  integrations/google_ai/src/haystack_integrations/components/generators/google_ai/chat/gemini.py
  integrations/google_ai/src/haystack_integrations/components/generators/google_ai/gemini.py
  integrations/google_ai/tests/generators/chat/test_chat_gemini.py
  integrations/google_ai/tests/generators/test_gemini.py
Labels: type:documentation, integration:google-ai

#1023 feat: add NVIDIA NIM ranker support
  integrations/nvidia/src/haystack_integrations/components/rankers/nvidia/__init__.py
  integrations/nvidia/src/haystack_integrations/components/rankers/nvidia/ranker.py
  integrations/nvidia/src/haystack_integrations/components/rankers/nvidia/truncate.py
  integrations/nvidia/src/haystack_integrations/utils/nvidia/nim_backend.py
  integrations/nvidia/tests/test_base_url.py
  integrations/nvidia/tests/test_ranker.py
Labels: type:documentation, integration:nvidia

#1031 docs: Update Nvidia API docs
  integrations/nvidia/pydoc/config.yml
Labels: integration:nvidia

#1032 fix: remove the use of deprecated gemini models
  integrations/google_ai/src/haystack_integrations/components/generators/google_ai/chat/gemini.py
  integrations/google_ai/src/haystack_integrations/components/generators/google_ai/gemini.py
  integrations/google_ai/tests/generators/chat/test_chat_gemini.py
  integrations/google_ai/tests/generators/test_gemini.py
  integrations/google_vertex/src/haystack_integrations/components/generators/google_vertex/chat/gemini.py
  integrations/google_vertex/src/haystack_integrations/components/generators/google_vertex/gemini.py
  integrations/google_vertex/tests/test_gemini.py
Labels: type:documentation, integration:google-vertex, integration:google-ai

#1035 docs: Update opensearch retriever docstrings
  integrations/opensearch/src/haystack_integrations/components/retrievers/opensearch/bm25_retriever.py
  integrations/opensearch/src/haystack_integrations/components/retrievers/opensearch/embedding_retriever.py
Labels: type:documentation, integration:opensearch

#1034 fix: converting `Pinecone` metadata fields from float back to int
  integrations/pinecone/src/haystack_integrations/document_stores/pinecone/document_store.py
  integrations/pinecone/tests/test_document_store.py
Labels: type:documentation, integration:pinecone

#1030 fix: chat roles for model responses in chat generators
  integrations/amazon_bedrock/tests/test_chat_generator.py
  integrations/google_ai/src/haystack_integrations/components/generators/google_ai/chat/gemini.py
  integrations/google_ai/tests/generators/chat/test_chat_gemini.py
  integrations/google_vertex/src/haystack_integrations/components/generators/google_vertex/chat/gemini.py
  integrations/ollama/examples/chat_generator_example.py
Labels: integration:google-vertex, integration:amazon-bedrock, integration:google-ai, integration:ollama
