Repository deepset-ai/haystack-core-integrations, pull requests merged in 2024-06, with the labels that each got.

#731 fix: align tests and docs on NVIDIA_API_KEY (instead of NVIDIA_CATALOG_API_KEY)
  integrations/nvidia/tests/test_document_embedder.py
  integrations/nvidia/tests/test_generator.py
  integrations/nvidia/tests/test_text_embedder.py
Labels: integration:nvidia

#786 Fix Google AI integration tests
  integrations/google_ai/tests/generators/chat/test_chat_gemini.py
  integrations/google_ai/tests/generators/test_gemini.py
Labels: type:documentation, integration:google-ai

#772 fix: Handle `TypeError: Could not create Blob` in `GoogleAIGeminiChatGenerator`
  integrations/google_ai/src/haystack_integrations/components/generators/google_ai/chat/gemini.py
  integrations/google_ai/tests/generators/chat/test_chat_gemini.py
Labels: type:documentation, integration:google-ai

#787 chore: Drop support for Python 3.8 for Unstructured integration
  .github/workflows/unstructured.yml
  integrations/unstructured/pyproject.toml
Labels: topic:CI, integration:unstructured-fileconverter

#788 test: Fix tests skipping for Google AI integration
  integrations/google_ai/tests/generators/chat/test_chat_gemini.py
  integrations/google_ai/tests/generators/test_gemini.py
Labels: integration:google-ai

#779 feat: Add force_disable_check_same_thread init param for Qdrant local client
  integrations/qdrant/src/haystack_integrations/document_stores/qdrant/document_store.py
  integrations/qdrant/tests/test_dict_converters.py
  integrations/qdrant/tests/test_retriever.py
Labels: integration:qdrant

#803 refactor: Remove deprecated Nvidia Cloud Functions backend and related code
  integrations/nvidia/src/haystack_integrations/components/embedders/nvidia/_nvcf_backend.py
  integrations/nvidia/src/haystack_integrations/components/embedders/nvidia/document_embedder.py
  integrations/nvidia/src/haystack_integrations/components/embedders/nvidia/text_embedder.py
  integrations/nvidia/src/haystack_integrations/components/generators/nvidia/_nvcf_backend.py
  integrations/nvidia/src/haystack_integrations/components/generators/nvidia/_schema.py
  integrations/nvidia/src/haystack_integrations/components/generators/nvidia/generator.py
  integrations/nvidia/src/haystack_integrations/utils/nvidia/__init__.py
  integrations/nvidia/src/haystack_integrations/utils/nvidia/client.py
  integrations/nvidia/tests/test_document_embedder.py
  integrations/nvidia/tests/test_generator.py
  integrations/nvidia/tests/test_text_embedder.py
Labels: type:documentation, integration:nvidia

#802 feat: defer the database connection to when it's needed
  integrations/weaviate/src/haystack_integrations/document_stores/weaviate/document_store.py
  integrations/weaviate/tests/test_document_store.py
Labels: type:documentation, integration:weaviate

#804 feat: defer the database connection to when it's needed
  integrations/pinecone/src/haystack_integrations/document_stores/pinecone/document_store.py
  integrations/pinecone/tests/conftest.py
  integrations/pinecone/tests/test_document_store.py
  integrations/pinecone/tests/test_embedding_retriever.py
Labels: integration:pinecone

#801 test: Amazon Bedrock - skip integration tests from forks
  .github/workflows/amazon_bedrock.yml
  integrations/amazon_bedrock/tests/test_chat_generator.py
Labels: type:documentation, topic:CI, integration:amazon-bedrock

#805 chore: `CohereGenerator` - remove warning about `generate` API
  integrations/cohere/src/haystack_integrations/components/generators/cohere/generator.py
Labels: type:documentation, integration:cohere

#798 fix: Performance optimizations and value error when streaming in langfuse
  integrations/langfuse/pyproject.toml
  integrations/langfuse/src/haystack_integrations/components/connectors/langfuse/langfuse_connector.py
  integrations/langfuse/src/haystack_integrations/tracing/langfuse/tracer.py
  integrations/langfuse/tests/test_tracer.py
Labels: type:documentation, integration:langfuse

#809 feat: support Claude v3, Llama3 and Command R models on Amazon Bedrock
  integrations/amazon_bedrock/src/haystack_integrations/components/generators/amazon_bedrock/adapters.py
  integrations/amazon_bedrock/src/haystack_integrations/components/generators/amazon_bedrock/generator.py
  integrations/amazon_bedrock/tests/test_generator.py
Labels: type:documentation, integration:amazon-bedrock

#790 feat: Update Anthropic/Cohere for tools use
  integrations/anthropic/src/haystack_integrations/components/generators/anthropic/chat/chat_generator.py
  integrations/anthropic/tests/test_chat_generator.py
  integrations/cohere/src/haystack_integrations/components/generators/cohere/chat/chat_generator.py
  integrations/cohere/tests/test_cohere_chat_generator.py
  integrations/cohere/tests/test_cohere_generator.py
Labels: type:documentation, integration:cohere

#815 feat: add support for Azure generators
  integrations/langfuse/src/haystack_integrations/tracing/langfuse/tracer.py
Labels: integration:langfuse

#811 fix: weaviate filter error
  integrations/weaviate/src/haystack_integrations/document_stores/weaviate/document_store.py
  integrations/weaviate/tests/test_document_store.py
Labels: integration:weaviate

#818 feat: add customizable index names for pgvector
  integrations/pgvector/src/haystack_integrations/document_stores/pgvector/document_store.py
  integrations/pgvector/tests/test_document_store.py
  integrations/pgvector/tests/test_retrievers.py
Labels: type:documentation, integration:pgvector

#808 doc: added docstrings for QdrantDocumentStore
  integrations/qdrant/src/haystack_integrations/document_stores/qdrant/document_store.py
Labels: type:documentation, integration:qdrant

#835 clean up workflow files
  .github/workflows/amazon_bedrock.yml
  .github/workflows/amazon_sagemaker.yml
  .github/workflows/anthropic.yml
  .github/workflows/astra.yml
  .github/workflows/chroma.yml
  .github/workflows/cohere.yml
  .github/workflows/deepeval.yml
  .github/workflows/elasticsearch.yml
  .github/workflows/fastembed.yml
  .github/workflows/google_ai.yml
  .github/workflows/google_vertex.yml
  .github/workflows/gradient.yml
  .github/workflows/instructor_embedders.yml
  .github/workflows/jina.yml
  .github/workflows/langfuse.yml
  .github/workflows/llama_cpp.yml
  .github/workflows/mistral.yml
  .github/workflows/mongodb_atlas.yml
  .github/workflows/nvidia.yml
  .github/workflows/ollama.yml
  .github/workflows/opensearch.yml
  .github/workflows/optimum.yml
  .github/workflows/pgvector.yml
  .github/workflows/pinecone.yml
  .github/workflows/qdrant.yml
  .github/workflows/ragas.yml
  .github/workflows/unstructured.yml
  .github/workflows/weaviate.yml
Labels: integration:instructor-embedders, topic:CI, integration:chroma, integration:elasticsearch, integration:opensearch, integration:unstructured-fileconverter, integration:gradient, integration:cohere, integration:jina, integration:google-vertex, integration:qdrant, integration:pinecone, integration:amazon-bedrock, integration:google-ai, integration:ollama, integration:llama_cpp, integration:weaviate, integration:astra, integration:amazon-sagemaker, integration:pgvector, integration:deepeval, integration:fastembed, integration:ragas, integration:mongodb-atlas, integration:mistral, integration:optimum, integration:nvidia, integration:langfuse

#836 ci: retry tests to reduce flakyness
  integrations/amazon_bedrock/pyproject.toml
  integrations/amazon_sagemaker/pyproject.toml
  integrations/anthropic/pyproject.toml
  integrations/astra/pyproject.toml
  integrations/chroma/pyproject.toml
  integrations/cohere/pyproject.toml
  integrations/deepeval/pyproject.toml
  integrations/elasticsearch/pyproject.toml
  integrations/fastembed/pyproject.toml
  integrations/google_ai/pyproject.toml
  integrations/google_vertex/pyproject.toml
  integrations/gradient/pyproject.toml
  integrations/instructor_embedders/pyproject.toml
  integrations/jina/pyproject.toml
  integrations/langfuse/pyproject.toml
  integrations/llama_cpp/pyproject.toml
  integrations/mistral/pyproject.toml
  integrations/mongodb_atlas/pyproject.toml
  integrations/nvidia/pyproject.toml
  integrations/ollama/pyproject.toml
  integrations/opensearch/pyproject.toml
  integrations/optimum/pyproject.toml
  integrations/pgvector/pyproject.toml
  integrations/pinecone/pyproject.toml
  integrations/qdrant/pyproject.toml
  integrations/ragas/pyproject.toml
  integrations/unstructured/pyproject.toml
  integrations/weaviate/pyproject.toml
Labels: integration:instructor-embedders, integration:chroma, integration:elasticsearch, integration:opensearch, integration:unstructured-fileconverter, integration:gradient, integration:cohere, integration:jina, integration:google-vertex, integration:qdrant, integration:pinecone, integration:amazon-bedrock, integration:google-ai, integration:ollama, integration:llama_cpp, integration:weaviate, integration:astra, integration:amazon-sagemaker, integration:pgvector, integration:deepeval, integration:fastembed, integration:ragas, integration:mongodb-atlas, integration:mistral, integration:optimum, integration:nvidia, integration:langfuse

#838 feat: Update Cohere default LLMs, add examples and update unit tests
  integrations/cohere/examples/cohere_embedding.py
  integrations/cohere/examples/cohere_generation.py
  integrations/cohere/examples/cohere_ranker.py
  integrations/cohere/src/haystack_integrations/components/generators/cohere/chat/chat_generator.py
  integrations/cohere/src/haystack_integrations/components/generators/cohere/generator.py
  integrations/cohere/tests/test_cohere_chat_generator.py
  integrations/cohere/tests/test_cohere_generator.py
Labels: type:documentation, integration:cohere

#839 feat: Update Anthropic default models, pydocs
  integrations/anthropic/example/documentation_rag_with_claude.py
  integrations/anthropic/src/haystack_integrations/components/generators/anthropic/chat/chat_generator.py
  integrations/anthropic/src/haystack_integrations/components/generators/anthropic/generator.py
  integrations/anthropic/tests/test_chat_generator.py
Labels: type:documentation

#624 fix: fix connection to Weaviate Cloud Service
  integrations/weaviate/src/haystack_integrations/document_stores/weaviate/document_store.py
  integrations/weaviate/tests/test_document_store.py
Labels: integration:weaviate

#845 ci: install `pytest-rerunfailures` where needed; add retry config to `test-cov` script
  integrations/amazon_bedrock/pyproject.toml
  integrations/amazon_sagemaker/pyproject.toml
  integrations/anthropic/pyproject.toml
  integrations/astra/pyproject.toml
  integrations/chroma/pyproject.toml
  integrations/cohere/pyproject.toml
  integrations/deepeval/pyproject.toml
  integrations/elasticsearch/pyproject.toml
  integrations/fastembed/pyproject.toml
  integrations/google_ai/pyproject.toml
  integrations/google_vertex/pyproject.toml
  integrations/gradient/pyproject.toml
  integrations/instructor_embedders/pyproject.toml
  integrations/jina/pyproject.toml
  integrations/langfuse/pyproject.toml
  integrations/llama_cpp/pyproject.toml
  integrations/mistral/pyproject.toml
  integrations/mongodb_atlas/pyproject.toml
  integrations/nvidia/pyproject.toml
  integrations/ollama/pyproject.toml
  integrations/opensearch/pyproject.toml
  integrations/optimum/pyproject.toml
  integrations/pgvector/pyproject.toml
  integrations/qdrant/pyproject.toml
  integrations/ragas/pyproject.toml
  integrations/unstructured/pyproject.toml
  integrations/weaviate/pyproject.toml
Labels: integration:instructor-embedders, integration:chroma, integration:elasticsearch, integration:opensearch, integration:unstructured-fileconverter, integration:gradient, integration:cohere, integration:jina, integration:google-vertex, integration:qdrant, integration:amazon-bedrock, integration:google-ai, integration:ollama, integration:llama_cpp, integration:weaviate, integration:astra, integration:amazon-sagemaker, integration:pgvector, integration:deepeval, integration:fastembed, integration:ragas, integration:mongodb-atlas, integration:mistral, integration:optimum, integration:nvidia, integration:langfuse

#848 ci: add retry config to Pinecone test
  integrations/pinecone/pyproject.toml
Labels: integration:pinecone

#840 feat: add create_index option to OpenSearchDocumentStore
  integrations/opensearch/src/haystack_integrations/document_stores/opensearch/document_store.py
  integrations/opensearch/tests/test_bm25_retriever.py
  integrations/opensearch/tests/test_document_store.py
  integrations/opensearch/tests/test_embedding_retriever.py
Labels: type:documentation, integration:opensearch

#841 feat: add custom_query param to OpenSearch retrievers
  integrations/opensearch/src/haystack_integrations/components/retrievers/opensearch/bm25_retriever.py
  integrations/opensearch/src/haystack_integrations/components/retrievers/opensearch/embedding_retriever.py
  integrations/opensearch/src/haystack_integrations/document_stores/opensearch/document_store.py
  integrations/opensearch/tests/test_bm25_retriever.py
  integrations/opensearch/tests/test_document_store.py
  integrations/opensearch/tests/test_embedding_retriever.py
Labels: type:documentation, integration:opensearch

#843 feat: Use non-gated tokenizer as fallback for mistral in AmazonBedrockChatGenerator
  integrations/amazon_bedrock/src/haystack_integrations/components/generators/amazon_bedrock/chat/adapters.py
  integrations/amazon_bedrock/tests/test_chat_generator.py
Labels: type:documentation, integration:amazon-bedrock

#814 Fix: typo on Sparse embedders. The parameter should be "progress_bar" …
  integrations/fastembed/src/haystack_integrations/components/embedders/fastembed/fastembed_sparse_document_embedder.py
  integrations/fastembed/src/haystack_integrations/components/embedders/fastembed/fastembed_sparse_text_embedder.py
  integrations/fastembed/tests/test_fastembed_sparse_document_embedder.py
Labels: type:documentation, integration:fastembed

#851 fix: serialization for custom_query in OpenSearch retrievers
  integrations/opensearch/src/haystack_integrations/components/retrievers/opensearch/bm25_retriever.py
  integrations/opensearch/src/haystack_integrations/components/retrievers/opensearch/embedding_retriever.py
  integrations/opensearch/tests/test_bm25_retriever.py
  integrations/opensearch/tests/test_embedding_retriever.py
Labels: integration:opensearch

#850 fix: support legacy filters with OpenSearchDocumentStore
  integrations/opensearch/src/haystack_integrations/document_stores/opensearch/document_store.py
  integrations/opensearch/tests/test_document_store.py
Labels: integration:opensearch

#853 chore: Update ruff invocation to include check parameter
  integrations/amazon_bedrock/pyproject.toml
  integrations/amazon_sagemaker/pyproject.toml
  integrations/amazon_sagemaker/tests/test_sagemaker.py
  integrations/anthropic/pyproject.toml
  integrations/chroma/pyproject.toml
  integrations/cohere/pyproject.toml
  integrations/deepeval/pyproject.toml
  integrations/elasticsearch/pyproject.toml
  integrations/fastembed/pyproject.toml
  integrations/google_ai/pyproject.toml
  integrations/google_vertex/pyproject.toml
  integrations/gradient/pyproject.toml
  integrations/instructor_embedders/pyproject.toml
  integrations/jina/pyproject.toml
  integrations/llama_cpp/pyproject.toml
  integrations/mistral/pyproject.toml
  integrations/mongodb_atlas/pyproject.toml
  integrations/nvidia/pyproject.toml
  integrations/ollama/pyproject.toml
  integrations/opensearch/pyproject.toml
  integrations/optimum/pyproject.toml
  integrations/pgvector/pyproject.toml
  integrations/pinecone/pyproject.toml
  integrations/qdrant/pyproject.toml
  integrations/ragas/pyproject.toml
  integrations/unstructured/pyproject.toml
  integrations/weaviate/pyproject.toml
Labels: type:documentation, integration:instructor-embedders, integration:chroma, integration:elasticsearch, integration:opensearch, integration:unstructured-fileconverter, integration:gradient, integration:cohere, integration:jina, integration:google-vertex, integration:qdrant, integration:pinecone, integration:amazon-bedrock, integration:google-ai, integration:ollama, integration:llama_cpp, integration:weaviate, integration:amazon-sagemaker, integration:pgvector, integration:deepeval, integration:fastembed, integration:ragas, integration:mongodb-atlas, integration:mistral, integration:optimum, integration:nvidia

#854 build: add `psutil` dependency to Unstructured integration
  integrations/unstructured/pyproject.toml
Labels: integration:unstructured-fileconverter

#852 feat: add raise_on_failure param to OpenSearch retrievers
  integrations/opensearch/pyproject.toml
  integrations/opensearch/src/haystack_integrations/components/retrievers/opensearch/bm25_retriever.py
  integrations/opensearch/src/haystack_integrations/components/retrievers/opensearch/embedding_retriever.py
  integrations/opensearch/tests/test_bm25_retriever.py
  integrations/opensearch/tests/test_embedding_retriever.py
Labels: type:documentation, integration:opensearch

#817 feat: added distance_function property to ChromadocumentStore
  integrations/chroma/src/haystack_integrations/document_stores/chroma/document_store.py
  integrations/chroma/tests/test_document_store.py
  integrations/chroma/tests/test_retriever.py
Labels: type:documentation, integration:chroma
