Repository deepset-ai/haystack-core-integrations, pull requests merged in 2024-01, with the labels that each got.

#158 fixed: The default model of VertexAIImagegenerator
  integrations/google_vertex/src/google_vertex_haystack/generators/image_generator.py
Labels: integration:google-vertex

#156 Gemini with Makersuite
  .github/workflows/google_ai.yml
  integrations/google_ai/LICENSE.txt
  integrations/google_ai/README.md
  integrations/google_ai/pyproject.toml
  integrations/google_ai/src/google_ai_haystack/__init__.py
  integrations/google_ai/src/google_ai_haystack/generators/__init__.py
  integrations/google_ai/src/google_ai_haystack/generators/chat/gemini.py
  integrations/google_ai/src/google_ai_haystack/generators/gemini.py
  integrations/google_ai/tests/__init__.py
  integrations/google_ai/tests/generators/chat/test_chat_gemini.py
  integrations/google_ai/tests/generators/test_gemini.py
Labels: topic:CI

#165 Update labeler and readme inventory with google_ai integration
  .github/labeler.yml
  README.md
Labels: topic:CI, integration:google-ai

#166 Add VertexAI prefix to GeminiGenerator and GeminiChatGenerator components
  integrations/google_vertex/src/google_vertex_haystack/generators/chat/gemini.py
  integrations/google_vertex/src/google_vertex_haystack/generators/gemini.py
Labels: integration:google-vertex

#153 [Amazon Bedrock] Add AmazonBedrockGenerator
  .github/labeler.yml
  .github/workflows/amazon_bedrock.yml
  README.md
  integrations/amazon_bedrock/LICENSE.txt
  integrations/amazon_bedrock/README.md
  integrations/amazon_bedrock/pyproject.toml
  integrations/amazon_bedrock/src/amazon_bedrock_haystack/__init__.py
  integrations/amazon_bedrock/src/amazon_bedrock_haystack/errors.py
  integrations/amazon_bedrock/src/amazon_bedrock_haystack/generators/__init__.py
  integrations/amazon_bedrock/src/amazon_bedrock_haystack/generators/amazon_bedrock.py
  integrations/amazon_bedrock/src/amazon_bedrock_haystack/generators/amazon_bedrock_adapters.py
  integrations/amazon_bedrock/src/amazon_bedrock_haystack/generators/amazon_bedrock_handlers.py
  integrations/amazon_bedrock/tests/__init__.py
  integrations/amazon_bedrock/tests/test_amazon_bedrock.py
Labels: topic:CI, integration:amazon-bedrock

#132 Ollama Integration
  .github/labeler.yml
  .github/workflows/ollama.yml
  README.md
  integrations/ollama/README.md
  integrations/ollama/pyproject.toml
  integrations/ollama/src/ollama_haystack/__init__.py
  integrations/ollama/src/ollama_haystack/generator.py
  integrations/ollama/tests/__init__.py
  integrations/ollama/tests/test_generator.py
Labels: topic:CI

#171 docs: Ollama docstrings update
  integrations/ollama/src/ollama_haystack/generator.py
Labels: documentation, integration:ollama

#170 add example of OllamaGenerator
  integrations/ollama/example/example.py
  integrations/ollama/pyproject.toml
Labels: integration:ollama

#162 Optimize API key reading
  integrations/cohere/src/cohere_haystack/chat/chat_generator.py
  integrations/cohere/src/cohere_haystack/embedders/document_embedder.py
  integrations/cohere/src/cohere_haystack/embedders/text_embedder.py
  integrations/cohere/src/cohere_haystack/generator.py
  integrations/cohere/tests/test_cohere_chat_generator.py
  integrations/jina/src/jina_haystack/document_embedder.py
  integrations/jina/src/jina_haystack/text_embedder.py
  integrations/jina/tests/test_document_embedder.py
  integrations/jina/tests/test_text_embedder.py
  integrations/pinecone/src/pinecone_haystack/document_store.py
  integrations/unstructured/fileconverter/src/unstructured_fileconverter_haystack/fileconverter.py
Labels: integration:unstructured-fileconverter, integration:cohere, integration:jina, integration:pinecone

#174 renamed QdrntRetriever to QdrntEmbeddingRetriever
  integrations/qdrant/src/qdrant_haystack/retriever.py
  integrations/qdrant/tests/test_retriever.py
Labels: integration:qdrant

#157 fix: Chroma DocumentStore creation for pre-existing collection name
  integrations/chroma/src/chroma_haystack/document_store.py
  integrations/chroma/tests/test_document_store.py
Labels: integration:chroma

#176 Ollama Chat Generator
  integrations/ollama/example/chat_generator_example.py
  integrations/ollama/example/generator_example.py
  integrations/ollama/src/ollama_haystack/__init__.py
  integrations/ollama/src/ollama_haystack/chat/__init__.py
  integrations/ollama/src/ollama_haystack/chat/chat_generator.py
  integrations/ollama/src/ollama_haystack/generator.py
  integrations/ollama/tests/test_chat_generator.py
  integrations/ollama/tests/test_generator.py
Labels: integration:ollama

#179 feat: Add Llama.cpp Generator
  .github/labeler.yml
  .github/workflows/llama_cpp.yml
  README.md
  integrations/llama_cpp/LICENSE.txt
  integrations/llama_cpp/README.md
  integrations/llama_cpp/examples/llama_cpp_generator_example.py
  integrations/llama_cpp/examples/rag_pipeline_example.py
  integrations/llama_cpp/pyproject.toml
  integrations/llama_cpp/src/llama_cpp_haystack/__init__.py
  integrations/llama_cpp/src/llama_cpp_haystack/generator.py
  integrations/llama_cpp/tests/__init__.py
  integrations/llama_cpp/tests/models/.gitignore
  integrations/llama_cpp/tests/test_generator.py
Labels: topic:CI

#184 Add more docstrings for `ElasticsearchDocumentStore` and `ElasticsearchBM25Retriever`
  integrations/elasticsearch/src/elasticsearch_haystack/bm25_retriever.py
  integrations/elasticsearch/src/elasticsearch_haystack/document_store.py
Labels: integration:elasticsearch

#186 Setup everything to start working on the Weaviate integration
  .github/labeler.yml
  .github/workflows/weaviate.yml
  README.md
  integrations/weaviate/LICENSE.txt
  integrations/weaviate/README.md
  integrations/weaviate/pyproject.toml
  integrations/weaviate/src/weaviate_haystack/__init__.py
  integrations/weaviate/src/weaviate_haystack/document_store.py
  integrations/weaviate/tests/__init__.py
  integrations/weaviate/tests/test_document_store.py
Labels: topic:CI, integration:weaviate

#188 fix links in docstrings
  integrations/opensearch/src/opensearch_haystack/document_store.py
Labels: integration:opensearch

#144 Adding AstraDB as a DocumentStore
  .github/labeler.yml
  .github/workflows/astra.yml
  README.md
  integrations/astra/LICENSE
  integrations/astra/README.md
  integrations/astra/__init__.py
  integrations/astra/examples/data/usr_01.txt
  integrations/astra/examples/example.py
  integrations/astra/examples/pipeline_example.py
  integrations/astra/examples/requirements.txt
  integrations/astra/pyproject.toml
  integrations/astra/src/astra_haystack/__init__.py
  integrations/astra/src/astra_haystack/astra_client.py
  integrations/astra/src/astra_haystack/document_store.py
  integrations/astra/src/astra_haystack/errors.py
  integrations/astra/src/astra_haystack/filters.py
  integrations/astra/src/astra_haystack/retriever.py
  integrations/astra/tests/__init__.py
  integrations/astra/tests/conftest.py
  integrations/astra/tests/test_document_store.py
  integrations/astra/tests/test_retriever.py
Labels: topic:CI

#191 Ollama: improve test
  integrations/ollama/tests/test_chat_generator.py
Labels: integration:ollama

#187 WeaviateDocumentStore initialization and serialization
  integrations/weaviate/pyproject.toml
  integrations/weaviate/src/weaviate_haystack/document_store.py
  integrations/weaviate/tests/test_document_store.py
Labels: integration:weaviate

#214 Move package under haystack_integrations
  integrations/weaviate/pyproject.toml
  integrations/weaviate/src/haystack_integrations/document_stores/weaviate/__init__.py
  integrations/weaviate/src/haystack_integrations/document_stores/weaviate/document_store.py
  integrations/weaviate/tests/test_document_store.py
Labels: integration:weaviate

#215 Add `collection_name` parameter and creation
  integrations/weaviate/src/haystack_integrations/document_stores/weaviate/document_store.py
  integrations/weaviate/tests/test_document_store.py
Labels: integration:weaviate

#216 mount Ollama in haystack_integrations
  integrations/ollama/example/chat_generator_example.py
  integrations/ollama/example/generator_example.py
  integrations/ollama/pyproject.toml
  integrations/ollama/src/haystack_integrations/components/generators/ollama/__init__.py
  integrations/ollama/src/haystack_integrations/components/generators/ollama/chat/__init__.py
  integrations/ollama/src/haystack_integrations/components/generators/ollama/chat/chat_generator.py
  integrations/ollama/src/haystack_integrations/components/generators/ollama/generator.py
  integrations/ollama/src/ollama_haystack/__init__.py
  integrations/ollama/tests/test_chat_generator.py
  integrations/ollama/tests/test_generator.py
Labels: integration:ollama

#219 Ollama: add license
  integrations/ollama/LICENSE.txt
Labels: integration:ollama

#224 Pin `pinecone-client<3`
  integrations/pinecone/pyproject.toml
Labels: integration:pinecone

#217 Mount llama_cpp in haystack_integrations
  integrations/llama_cpp/examples/llama_cpp_generator_example.py
  integrations/llama_cpp/examples/rag_pipeline_example.py
  integrations/llama_cpp/pyproject.toml
  integrations/llama_cpp/src/haystack_integrations/components/generators/llama_cpp/__init__.py
  integrations/llama_cpp/src/haystack_integrations/components/generators/llama_cpp/generator.py
  integrations/llama_cpp/tests/test_generator.py
Labels: integration:llama_cpp

#221 Mount unstructured in haystack_integrations and refactor the structure of the project
  .github/workflows/unstructured.yml
  integrations/unstructured/LICENSE
  integrations/unstructured/README.md
  integrations/unstructured/fileconverter/README.md
  integrations/unstructured/pyproject.toml
  integrations/unstructured/src/haystack_integrations/components/converters/unstructured/__init__.py
  integrations/unstructured/src/haystack_integrations/components/converters/unstructured/converter.py
  integrations/unstructured/tests/__init__.py
  integrations/unstructured/tests/samples/sample_pdf.pdf
  integrations/unstructured/tests/test_converter.py
Labels: topic:CI, integration:unstructured-fileconverter

#222 chore!: Rename `model_name` to `model` in the Cohere integration
  integrations/cohere/src/cohere_haystack/chat/chat_generator.py
  integrations/cohere/src/cohere_haystack/embedders/document_embedder.py
  integrations/cohere/src/cohere_haystack/embedders/text_embedder.py
  integrations/cohere/src/cohere_haystack/generator.py
  integrations/cohere/tests/test_cohere_chat_generator.py
  integrations/cohere/tests/test_cohere_generators.py
  integrations/cohere/tests/test_document_embedder.py
  integrations/cohere/tests/test_text_embedder.py
Labels: integration:cohere, breaking change

#229 chore!: Rename `model_name_or_path` to `model` in the Instructor integration
  integrations/instructor_embedders/instructor_embedders_haystack/instructor_document_embedder.py
  integrations/instructor_embedders/instructor_embedders_haystack/instructor_text_embedder.py
  integrations/instructor_embedders/tests/test_instructor_document_embedder.py
  integrations/instructor_embedders/tests/test_instructor_text_embedder.py
Labels: integration:instructor-embedders

#193 Mount chroma integration under `haystack_integrations.*`
  integrations/chroma/example/example.py
  integrations/chroma/pyproject.toml
  integrations/chroma/src/chroma_haystack/__init__.py
  integrations/chroma/src/haystack_integrations/components/retrievers/chroma/__init__.py
  integrations/chroma/src/haystack_integrations/components/retrievers/chroma/retriever.py
  integrations/chroma/src/haystack_integrations/document_stores/chroma/__init__.py
  integrations/chroma/src/haystack_integrations/document_stores/chroma/document_store.py
  integrations/chroma/src/haystack_integrations/document_stores/chroma/errors.py
  integrations/chroma/src/haystack_integrations/document_stores/chroma/utils.py
  integrations/chroma/tests/test_document_store.py
  integrations/chroma/tests/test_retriever.py
Labels: integration:chroma

#212 move package under haystack_integrations/*
  integrations/opensearch/pyproject.toml
  integrations/opensearch/src/haystack_integrations/components/retrievers/opensearch/__init__.py
  integrations/opensearch/src/haystack_integrations/components/retrievers/opensearch/bm25_retriever.py
  integrations/opensearch/src/haystack_integrations/components/retrievers/opensearch/embedding_retriever.py
  integrations/opensearch/src/haystack_integrations/document_stores/opensearch/__init__.py
  integrations/opensearch/src/haystack_integrations/document_stores/opensearch/document_store.py
  integrations/opensearch/src/haystack_integrations/document_stores/opensearch/filters.py
  integrations/opensearch/src/opensearch_haystack/__init__.py
  integrations/opensearch/tests/test_bm25_retriever.py
  integrations/opensearch/tests/test_document_store.py
  integrations/opensearch/tests/test_embedding_retriever.py
  integrations/opensearch/tests/test_filters.py
Labels: integration:opensearch

#232 update import paths for beta5
  integrations/gradient/tests/test_gradient_document_embedder.py
  integrations/gradient/tests/test_gradient_rag_pipelines.py
  integrations/gradient/tests/test_gradient_text_embedder.py
Labels: integration:gradient

#233 update import paths for beta5
  integrations/llama_cpp/tests/test_generator.py
Labels: integration:llama_cpp

#236 Pinecone - update import for beta5
  integrations/pinecone/src/pinecone_haystack/document_store.py
  integrations/pinecone/tests/conftest.py
Labels: integration:pinecone

#238 Elastic - update imports for beta5
  integrations/elasticsearch/src/elasticsearch_haystack/document_store.py
  integrations/elasticsearch/tests/test_document_store.py
Labels: integration:elasticsearch

#237 fix import paths for beta5
  integrations/qdrant/src/qdrant_haystack/document_store.py
  integrations/qdrant/tests/test_document_store.py
  integrations/qdrant/tests/test_legacy_filters.py
Labels: integration:qdrant

#235 update the import paths for beta5
  integrations/astra/src/astra_haystack/document_store.py
  integrations/astra/tests/conftest.py
  integrations/astra/tests/test_document_store.py
Labels: integration:astra

#240 Remove ChromaSingleQueryRetriever
  integrations/chroma/example/example.py
  integrations/chroma/src/haystack_integrations/components/retrievers/chroma/__init__.py
  integrations/chroma/src/haystack_integrations/components/retrievers/chroma/retriever.py
Labels: integration:chroma

#228 chore!: Rename model_name to model in the Gradient integration
  integrations/gradient/src/gradient_haystack/embedders/gradient_document_embedder.py
  integrations/gradient/src/gradient_haystack/embedders/gradient_text_embedder.py
  integrations/gradient/tests/test_gradient_document_embedder.py
  integrations/gradient/tests/test_gradient_text_embedder.py
Labels: integration:gradient, breaking change

#230 chore!: Rename model_name to model in the Jina integration
  integrations/jina/src/jina_haystack/document_embedder.py
  integrations/jina/src/jina_haystack/text_embedder.py
  integrations/jina/tests/test_document_embedder.py
  integrations/jina/tests/test_text_embedder.py
Labels: integration:jina, breaking change

#244 mount import paths under haystack_integrations
  integrations/elasticsearch/pyproject.toml
  integrations/elasticsearch/src/haystack_integrations/components/retrievers/elasticsearch/__init__.py
  integrations/elasticsearch/src/haystack_integrations/components/retrievers/elasticsearch/bm25_retriever.py
  integrations/elasticsearch/src/haystack_integrations/components/retrievers/elasticsearch/embedding_retriever.py
  integrations/elasticsearch/src/haystack_integrations/document_stores/elasticsearch/__init__.py
  integrations/elasticsearch/src/haystack_integrations/document_stores/elasticsearch/document_store.py
  integrations/elasticsearch/src/haystack_integrations/document_stores/elasticsearch/filters.py
  integrations/elasticsearch/tests/test_bm25_retriever.py
  integrations/elasticsearch/tests/test_document_store.py
  integrations/elasticsearch/tests/test_embedding_retriever.py
  integrations/elasticsearch/tests/test_filters.py
Labels: integration:elasticsearch, breaking change

#245 mount import path under haystack_integrations
  integrations/gradient/pyproject.toml
  integrations/gradient/src/gradient_haystack/embedders/__init__.py
  integrations/gradient/src/gradient_haystack/generator/__init__.py
  integrations/gradient/src/haystack_integrations/components/embedders/gradient/__init__.py
  integrations/gradient/src/haystack_integrations/components/embedders/gradient/gradient_document_embedder.py
  integrations/gradient/src/haystack_integrations/components/embedders/gradient/gradient_text_embedder.py
  integrations/gradient/src/haystack_integrations/components/generators/gradient/__init__.py
  integrations/gradient/src/haystack_integrations/components/generators/gradient/base.py
  integrations/gradient/tests/test_gradient_document_embedder.py
  integrations/gradient/tests/test_gradient_rag_pipelines.py
  integrations/gradient/tests/test_gradient_text_embedder.py
Labels: integration:gradient, breaking change

#243 chore!: Rename model_path to model in the Llama.cpp integration
  integrations/llama_cpp/src/haystack_integrations/components/generators/llama_cpp/generator.py
  integrations/llama_cpp/tests/test_generator.py
Labels: integration:llama_cpp, breaking change

#247 chore: Cohere namespace change
  integrations/cohere/pyproject.toml
  integrations/cohere/src/haystack_integrations/components/embedders/cohere/__init__.py
  integrations/cohere/src/haystack_integrations/components/embedders/cohere/document_embedder.py
  integrations/cohere/src/haystack_integrations/components/embedders/cohere/text_embedder.py
  integrations/cohere/src/haystack_integrations/components/embedders/cohere/utils.py
  integrations/cohere/src/haystack_integrations/components/generators/cohere/__init__.py
  integrations/cohere/src/haystack_integrations/components/generators/cohere/chat/__init__.py
  integrations/cohere/src/haystack_integrations/components/generators/cohere/chat/chat_generator.py
  integrations/cohere/src/haystack_integrations/components/generators/cohere/generator.py
  integrations/cohere/tests/test_cohere_chat_generator.py
  integrations/cohere/tests/test_cohere_generators.py
  integrations/cohere/tests/test_document_embedder.py
  integrations/cohere/tests/test_text_embedder.py
Labels: integration:cohere

#253 refactor!: change import paths
  integrations/instructor_embedders/instructor_embedders_haystack/__init__.py
  integrations/instructor_embedders/pyproject.toml
  integrations/instructor_embedders/src/haystack_integrations/components/embedders/instructor_embedders/__init__.py
  integrations/instructor_embedders/src/haystack_integrations/components/embedders/instructor_embedders/embedding_backend/__init__.py
  integrations/instructor_embedders/src/haystack_integrations/components/embedders/instructor_embedders/embedding_backend/instructor_backend.py
  integrations/instructor_embedders/src/haystack_integrations/components/embedders/instructor_embedders/instructor_document_embedder.py
  integrations/instructor_embedders/src/haystack_integrations/components/embedders/instructor_embedders/instructor_text_embedder.py
  integrations/instructor_embedders/tests/test_instructor_backend.py
  integrations/instructor_embedders/tests/test_instructor_document_embedder.py
  integrations/instructor_embedders/tests/test_instructor_text_embedder.py
Labels: integration:instructor-embedders

#254 refact!:change import paths
  integrations/jina/pyproject.toml
  integrations/jina/src/haystack_integrations/components/embedders/jina/__init__.py
  integrations/jina/src/haystack_integrations/components/embedders/jina/document_embedder.py
  integrations/jina/src/haystack_integrations/components/embedders/jina/text_embedder.py
  integrations/jina/tests/test_document_embedder.py
  integrations/jina/tests/test_text_embedder.py
Labels: integration:jina

#255 refact!:change import paths
  integrations/qdrant/pyproject.toml
  integrations/qdrant/src/haystack_integrations/components/retrievers/qdrant/__init__.py
  integrations/qdrant/src/haystack_integrations/components/retrievers/qdrant/retriever.py
  integrations/qdrant/src/haystack_integrations/document_stores/qdrant/__init__.py
  integrations/qdrant/src/haystack_integrations/document_stores/qdrant/converters.py
  integrations/qdrant/src/haystack_integrations/document_stores/qdrant/document_store.py
  integrations/qdrant/src/haystack_integrations/document_stores/qdrant/filters.py
  integrations/qdrant/tests/test_converters.py
  integrations/qdrant/tests/test_dict_converters.py
  integrations/qdrant/tests/test_document_store.py
  integrations/qdrant/tests/test_filters.py
  integrations/qdrant/tests/test_legacy_filters.py
  integrations/qdrant/tests/test_retriever.py
Labels: integration:qdrant

#256 change import paths
  integrations/pinecone/pyproject.toml
  integrations/pinecone/src/haystack_integrations/components/retrievers/pinecone/__init__.py
  integrations/pinecone/src/haystack_integrations/components/retrievers/pinecone/dense_retriever.py
  integrations/pinecone/src/haystack_integrations/document_stores/pinecone/__init__.py
  integrations/pinecone/src/haystack_integrations/document_stores/pinecone/document_store.py
  integrations/pinecone/src/haystack_integrations/document_stores/pinecone/errors.py
  integrations/pinecone/src/haystack_integrations/document_stores/pinecone/filters.py
  integrations/pinecone/src/pinecone_haystack/__init__.py
  integrations/pinecone/tests/conftest.py
  integrations/pinecone/tests/test_dense_retriever.py
  integrations/pinecone/tests/test_document_store.py
  integrations/pinecone/tests/test_filters.py
Labels: integration:pinecone

#239 Pgvector Document Store - minimal implementation
  .github/workflows/pgvector.yml
  README.md
  integrations/pgvector/LICENSE.txt
  integrations/pgvector/README.md
  integrations/pgvector/pyproject.toml
  integrations/pgvector/src/haystack_integrations/document_stores/pgvector/__init__.py
  integrations/pgvector/src/haystack_integrations/document_stores/pgvector/document_store.py
  integrations/pgvector/tests/__init__.py
  integrations/pgvector/tests/test_document_store.py
Labels: topic:CI

#267 Implement `count_document` for WeaviateDocumentStore
  .github/workflows/weaviate.yml
  integrations/weaviate/src/haystack_integrations/document_stores/weaviate/document_store.py
  integrations/weaviate/tests/test_document_store.py
Labels: topic:CI, integration:weaviate

#268 refact!: adjust import paths
  integrations/google_ai/pyproject.toml
  integrations/google_ai/src/google_ai_haystack/__init__.py
  integrations/google_ai/src/google_ai_haystack/generators/__init__.py
  integrations/google_ai/src/haystack_integrations/components/generators/google_ai/__init__.py
  integrations/google_ai/src/haystack_integrations/components/generators/google_ai/chat/gemini.py
  integrations/google_ai/src/haystack_integrations/components/generators/google_ai/gemini.py
  integrations/google_ai/tests/generators/chat/test_chat_gemini.py
  integrations/google_ai/tests/generators/test_gemini.py
Labels: integration:google-ai

#269 Add methods to convert from Document to Weaviate data object and viceversa
  integrations/weaviate/src/haystack_integrations/document_stores/weaviate/document_store.py
  integrations/weaviate/tests/conftest.py
  integrations/weaviate/tests/test_document_store.py
  integrations/weaviate/tests/test_files/robot1.jpg
Labels: integration:weaviate

#271 fix: Cohere namespace reorg
  integrations/cohere/src/haystack_integrations/components/generators/cohere/__init__.py
  integrations/cohere/src/haystack_integrations/components/generators/cohere/chat/__init__.py
  integrations/cohere/src/haystack_integrations/components/generators/cohere/chat/chat_generator.py
  integrations/cohere/src/haystack_integrations/components/generators/cohere/generator.py
  integrations/cohere/tests/test_cohere_chat_generator.py
Labels: integration:cohere

#262 feat: Generate API docs
  .github/workflows/chroma.yml
  .gitignore
  integrations/chroma/pydoc/config.yml
  integrations/chroma/pyproject.toml
Labels: topic:CI, integration:chroma, topic:DX

#270 Add filter, write and delete documents in Weaviate
  integrations/weaviate/src/haystack_integrations/document_stores/weaviate/document_store.py
  integrations/weaviate/tests/test_document_store.py
Labels: integration:weaviate

#273 refact!: change import paths
  integrations/google_vertex/pyproject.toml
  integrations/google_vertex/src/google_vertex_haystack/__init__.py
  integrations/google_vertex/src/google_vertex_haystack/generators/__init__.py
  integrations/google_vertex/src/haystack_integrations/components/generators/google_vertex/__init__.py
  integrations/google_vertex/src/haystack_integrations/components/generators/google_vertex/captioner.py
  integrations/google_vertex/src/haystack_integrations/components/generators/google_vertex/chat/__init__.py
  integrations/google_vertex/src/haystack_integrations/components/generators/google_vertex/chat/gemini.py
  integrations/google_vertex/src/haystack_integrations/components/generators/google_vertex/code_generator.py
  integrations/google_vertex/src/haystack_integrations/components/generators/google_vertex/gemini.py
  integrations/google_vertex/src/haystack_integrations/components/generators/google_vertex/image_generator.py
  integrations/google_vertex/src/haystack_integrations/components/generators/google_vertex/question_answering.py
  integrations/google_vertex/src/haystack_integrations/components/generators/google_vertex/text_generator.py
  integrations/google_vertex/tests/test_captioner.py
  integrations/google_vertex/tests/test_code_generator.py
  integrations/google_vertex/tests/test_image_generator.py
  integrations/google_vertex/tests/test_question_answering.py
  integrations/google_vertex/tests/test_text_generator.py
Labels: integration:google-vertex

#277 refact!: change import paths
  integrations/astra/examples/example.py
  integrations/astra/examples/pipeline_example.py
  integrations/astra/pyproject.toml
  integrations/astra/src/haystack_integrations/components/retrievers/astra/__init__.py
  integrations/astra/src/haystack_integrations/components/retrievers/astra/retriever.py
  integrations/astra/src/haystack_integrations/document_stores/astra/__init__.py
  integrations/astra/src/haystack_integrations/document_stores/astra/astra_client.py
  integrations/astra/src/haystack_integrations/document_stores/astra/document_store.py
  integrations/astra/src/haystack_integrations/document_stores/astra/errors.py
  integrations/astra/src/haystack_integrations/document_stores/astra/filters.py
  integrations/astra/tests/conftest.py
  integrations/astra/tests/test_document_store.py
  integrations/astra/tests/test_retriever.py
Labels: integration:astra

#282 fix: fix linter errors
  integrations/qdrant/src/haystack_integrations/document_stores/qdrant/filters.py
  integrations/qdrant/tests/test_filters.py
  integrations/qdrant/tests/test_legacy_filters.py
Labels: integration:qdrant

#281 fix: fix linter
  integrations/pinecone/tests/test_document_store.py
  integrations/pinecone/tests/test_filters.py
Labels: integration:pinecone

#276 feat: Sagemaker integration: `SagemakerGenerator`
  .github/labeler.yml
  .github/workflows/amazon_sagemaker.yml
  integrations/amazon_sagemaker/LICENSE.txt
  integrations/amazon_sagemaker/README.md
  integrations/amazon_sagemaker/pyproject.toml
  integrations/amazon_sagemaker/src/haystack_integrations/components/generators/amazon_sagemaker/__init__.py
  integrations/amazon_sagemaker/src/haystack_integrations/components/generators/amazon_sagemaker/errors.py
  integrations/amazon_sagemaker/src/haystack_integrations/components/generators/amazon_sagemaker/sagemaker.py
  integrations/amazon_sagemaker/tests/__init__.py
  integrations/amazon_sagemaker/tests/test_sagemaker.py
Labels: topic:CI, integration:amazon-sagemaker

#289 Instructor embedders: pin Sentence Transformers
  integrations/instructor_embedders/pyproject.toml
Labels: integration:instructor-embedders

#294 fix: Broken version pattern in `pyproject.toml`
  integrations/uptrain/pyproject.toml
Labels: bug, integration: uptrain, integration:uptrain

#288 increase pinecone sleep time
  integrations/pinecone/tests/conftest.py
Labels: integration:pinecone

#297 chore: Adjust amazon bedrock helper classes names
  integrations/amazon_bedrock/src/haystack_integrations/components/generators/amazon_bedrock/adapters.py
  integrations/amazon_bedrock/src/haystack_integrations/components/generators/amazon_bedrock/generator.py
  integrations/amazon_bedrock/src/haystack_integrations/components/generators/amazon_bedrock/handlers.py
  integrations/amazon_bedrock/tests/test_amazon_bedrock.py
Labels: integration:amazon-bedrock

#301 Pinecone - change dummy vector
  integrations/pinecone/src/haystack_integrations/document_stores/pinecone/document_store.py
Labels: integration:pinecone

#295 Add typing_extensions pin to Chroma integration
  integrations/chroma/pyproject.toml
Labels: integration:chroma

#299 Update Breaking Change Proposal issue template
  .github/ISSUE_TEMPLATE/breaking-change-proposal.md
Labels: topic:CI
