Repository deepset-ai/haystack-core-integrations, pull requests merged in 2024-02, with the labels that each got.

#322 elasticsearch: generate api docs
  .github/workflows/elasticsearch.yml
  integrations/elasticsearch/pydoc/config.yml
  integrations/elasticsearch/pyproject.toml
Labels: topic:CI, integration:elasticsearch

#323 Pinecone - decrease concurrency in tests
  integrations/pinecone/pyproject.toml
  integrations/pinecone/tests/conftest.py
Labels: integration:pinecone

#321 cohere: generate api docs
  .github/workflows/cohere.yml
  integrations/cohere/pydoc/config.yml
  integrations/cohere/pyproject.toml
Labels: topic:CI, integration:cohere

#327 astra: generate api docs
  .github/workflows/astra.yml
  integrations/astra/pydoc/config.yml
  integrations/astra/pyproject.toml
Labels: topic:CI, integration:astra

#324 OpenSearch: generate API docs
  .github/workflows/opensearch.yml
  integrations/opensearch/pydoc/config.yml
  integrations/opensearch/pyproject.toml
Labels: topic:CI, integration:opensearch

#329 Labeler: add new entry for pgvector
  .github/labeler.yml
Labels: topic:CI

#325 Pgvector: generate API docs
  .github/workflows/pgvector.yml
  integrations/pgvector/pydoc/config.yml
  integrations/pgvector/pyproject.toml
Labels: topic:CI, integration:pgvector

#332 ollama: generate api docs
  .github/workflows/ollama.yml
  integrations/ollama/pydoc/config.yml
  integrations/ollama/pyproject.toml
Labels: topic:CI, integration:ollama

#339 Add `COHERE_API_KEY` secret to CI environment
  .github/workflows/cohere.yml
Labels: topic:CI, integration:cohere

#336 unstructured: fix metadata order mixed up
  integrations/unstructured/src/haystack_integrations/components/converters/unstructured/converter.py
  integrations/unstructured/tests/test_converter.py
Labels: integration:unstructured-fileconverter

#334 Pgvector: add an example
  integrations/pgvector/examples/example.py
  integrations/pgvector/pyproject.toml
Labels: integration:pgvector

#343 refactor!: `UptrainEvaluator` contexts are now passed as nested lists.
  integrations/uptrain/example/example.py
  integrations/uptrain/src/haystack_integrations/components/evaluators/evaluator.py
  integrations/uptrain/src/haystack_integrations/components/evaluators/metrics.py
  integrations/uptrain/tests/test_evaluator.py
Labels: integration:uptrain

#284 fix: Cohere inconsistent embeddings and documents lengths
  integrations/cohere/src/haystack_integrations/components/embedders/cohere/utils.py
Labels: integration:cohere

#342 Allows filters and persistent document stores for Chroma
  integrations/chroma/src/haystack_integrations/components/retrievers/chroma/retriever.py
  integrations/chroma/src/haystack_integrations/document_stores/chroma/document_store.py
Labels: integration:chroma

#345 docs: Fix UpTrain evaluator class docstring
  integrations/uptrain/src/haystack_integrations/components/evaluators/evaluator.py
Labels: documentation, integration: uptrain, integration:uptrain

#344 CI: Add script and workflow to label PRs that edit docstrings
  .github/utils/docstrings_checksum.py
  .github/workflows/CI_docstring_labeler.yml
Labels: topic:CI

#351 feat: Generate weaviate API docs
  .github/workflows/weaviate.yml
  integrations/weaviate/pydoc/config.yml
  integrations/weaviate/pyproject.toml
Labels: topic:CI, integration:weaviate

#348 fix: update to latest haystack-ai version
  integrations/cohere/tests/test_cohere_chat_generator.py
  integrations/cohere/tests/test_cohere_generators.py
Labels: type:documentation, integration:cohere

#355 google_vertex: create api docs
  .github/workflows/google_vertex.yml
  integrations/google_vertex/pydoc/config.yml
  integrations/google_vertex/pyproject.toml
Labels: topic:CI, integration:google-vertex

#349 Unstructured: prevent "no space left on device" in tests
  .github/workflows/unstructured.yml
Labels: topic:CI, integration:unstructured-fileconverter

#350 feat: Generate unstructured API docs
  .github/workflows/unstructured.yml
  integrations/unstructured/pydoc/config.yml
  integrations/unstructured/pyproject.toml
Labels: topic:CI, integration:unstructured-fileconverter

#360 Revert "Change docstring labeler workflow to add Daria as reviewer (#357)"
  .github/workflows/CI_docstring_labeler.yml
Labels: topic:CI

#359 ci: Generate API docs for Pinecone
  .github/workflows/pinecone.yml
  integrations/pinecone/pydoc/config.yml
  integrations/pinecone/pyproject.toml
Labels: type:documentation, topic:CI, integration:pinecone

#326 amazon bedrock: generate api docs
  .github/workflows/amazon_bedrock.yml
  integrations/amazon_bedrock/pydoc/config.yml
  integrations/amazon_bedrock/pyproject.toml
Labels: topic:CI, integration:amazon-bedrock

#333 feat: Add Amazon Bedrock chat model support
  integrations/amazon_bedrock/src/haystack_integrations/components/generators/amazon_bedrock/__init__.py
  integrations/amazon_bedrock/src/haystack_integrations/components/generators/amazon_bedrock/chat/__init__.py
  integrations/amazon_bedrock/src/haystack_integrations/components/generators/amazon_bedrock/chat/adapters.py
  integrations/amazon_bedrock/src/haystack_integrations/components/generators/amazon_bedrock/chat/chat_generator.py
  integrations/amazon_bedrock/src/haystack_integrations/components/generators/amazon_bedrock/generator.py
  integrations/amazon_bedrock/src/haystack_integrations/components/generators/amazon_bedrock/handlers.py
  integrations/amazon_bedrock/tests/test_amazon_chat_bedrock.py
Labels: type:documentation, integration:amazon-bedrock

#361 ci: Generate API docs for Qdrant
  .github/workflows/qdrant.yml
  integrations/qdrant/pydoc/config.yml
  integrations/qdrant/pyproject.toml
Labels: type:documentation, topic:CI, integration:qdrant

#380 feat: Generate API docs
  .github/workflows/instructor_embedders.yml
  integrations/instructor_embedders/pydoc/config.yml
  integrations/instructor_embedders/pyproject.toml
Labels: type:documentation, integration:instructor-embedders, topic:CI

#381 feat: Generate API docs for Jina
  .github/workflows/jina.yml
  integrations/jina/pydoc/config.yml
  integrations/jina/pyproject.toml
Labels: type:documentation, topic:CI, integration:jina

#352 gradient: generate api docs
  .github/workflows/gradient.yml
  integrations/gradient/pydoc/config.yml
  integrations/gradient/pyproject.toml
Labels: topic:CI, integration:gradient

#266 CI: sync API docs with readme.com
  .github/workflows/CI_readme_sync.yml
Labels: integration:instructor-embedders, topic:CI, integration:chroma, integration:elasticsearch, integration:opensearch, integration:unstructured-fileconverter, integration:gradient, integration:cohere, integration:jina, integration:google-vertex, integration:qdrant, integration:pinecone, integration:amazon-bedrock, integration:google-ai, integration:ollama, integration:llama_cpp, integration:weaviate, integration:astra, integration:pgvector

#382 feat(unstructured): add element index as metadata
  integrations/unstructured/src/haystack_integrations/components/converters/unstructured/converter.py
  integrations/unstructured/tests/test_converter.py
Labels: integration:unstructured-fileconverter

#386 refactor!: Use `Secret` for API keys in Cohere components
  integrations/cohere/pyproject.toml
  integrations/cohere/src/haystack_integrations/components/embedders/cohere/document_embedder.py
  integrations/cohere/src/haystack_integrations/components/embedders/cohere/text_embedder.py
  integrations/cohere/src/haystack_integrations/components/generators/cohere/chat/chat_generator.py
  integrations/cohere/src/haystack_integrations/components/generators/cohere/generator.py
  integrations/cohere/tests/test_cohere_chat_generator.py
  integrations/cohere/tests/test_cohere_generators.py
  integrations/cohere/tests/test_document_embedder.py
  integrations/cohere/tests/test_text_embedder.py
Labels: type:documentation, integration:cohere

#387 refactor!: Standardize namespace and add CI for API docs
  integrations/uptrain/example/example.py
  integrations/uptrain/pydoc/config.yml
  integrations/uptrain/pyproject.toml
  integrations/uptrain/src/haystack_integrations/components/evaluators/__init__.py
  integrations/uptrain/src/haystack_integrations/components/evaluators/uptrain/__init__.py
  integrations/uptrain/src/haystack_integrations/components/evaluators/uptrain/evaluator.py
  integrations/uptrain/src/haystack_integrations/components/evaluators/uptrain/metrics.py
  integrations/uptrain/tests/test_evaluator.py
  integrations/uptrain/tests/test_metrics.py
Labels: type:documentation, integration:uptrain

#346 feat: Implement `DeepEvalEvaluator`
  .github/labeler.yml
  .github/workflows/deepeval.yml
  README.md
  integrations/deepeval/LICENSE.txt
  integrations/deepeval/README.md
  integrations/deepeval/example/example.py
  integrations/deepeval/pydoc/config.yml
  integrations/deepeval/pyproject.toml
  integrations/deepeval/src/haystack_integrations/components/evaluators/deepeval/__init__.py
  integrations/deepeval/src/haystack_integrations/components/evaluators/deepeval/evaluator.py
  integrations/deepeval/src/haystack_integrations/components/evaluators/deepeval/metrics.py
  integrations/deepeval/tests/__init__.py
  integrations/deepeval/tests/test_evaluator.py
  integrations/deepeval/tests/test_metrics.py
Labels: type:documentation, topic:CI, new integration, integration:deepeval

#252 Ollama Text Embedder with new format
  integrations/ollama/src/haystack_integrations/components/embedders/ollama/__init__.py
  integrations/ollama/src/haystack_integrations/components/embedders/ollama/text_embedder.py
  integrations/ollama/tests/test_text_embedder.py
Labels: integration:ollama

#383 add Fastembed Embeddings integration
  .github/workflows/fastembed.yml
  integrations/fastembed/LICENSE.txt
  integrations/fastembed/README.md
  integrations/fastembed/pydoc/config.yml
  integrations/fastembed/pyproject.toml
  integrations/fastembed/src/haystack_integrations/components/embedders/fastembed/__init__.py
  integrations/fastembed/src/haystack_integrations/components/embedders/fastembed/embedding_backend/__init__.py
  integrations/fastembed/src/haystack_integrations/components/embedders/fastembed/embedding_backend/fastembed_backend.py
  integrations/fastembed/src/haystack_integrations/components/embedders/fastembed/fastembed_document_embedder.py
  integrations/fastembed/src/haystack_integrations/components/embedders/fastembed/fastembed_text_embedder.py
  integrations/fastembed/tests/__init__.py
  integrations/fastembed/tests/test_fastembed_backend.py
  integrations/fastembed/tests/test_fastembed_document_embedder.py
  integrations/fastembed/tests/test_fastembed_text_embedder.py
Labels: type:documentation, topic:CI

#389 updated labeler and readme
  .github/labeler.yml
  README.md
  integrations/fastembed/README.md
  integrations/fastembed/src/haystack_integrations/components/embedders/fastembed/fastembed_document_embedder.py
  integrations/fastembed/src/haystack_integrations/components/embedders/fastembed/fastembed_text_embedder.py
Labels: type:documentation, topic:CI

#390 fastembed fix: added prefix and suffix
  integrations/fastembed/src/haystack_integrations/components/embedders/fastembed/fastembed_document_embedder.py
  integrations/fastembed/src/haystack_integrations/components/embedders/fastembed/fastembed_text_embedder.py
  integrations/fastembed/tests/test_fastembed_document_embedder.py
  integrations/fastembed/tests/test_fastembed_text_embedder.py
Labels: type:documentation, topic:CI, integration:fastembed

#280 Support for streaming ollama generator
  integrations/ollama/src/haystack_integrations/components/generators/ollama/generator.py
  integrations/ollama/tests/test_generator.py
Labels: type:documentation, integration:ollama

#393 tests: Fix failing `TestCohereChatGenerator.test_from_dict_fail_wo_env_var` test
  integrations/cohere/tests/test_cohere_chat_generator.py
Labels: integration:cohere

#396 Pinecone: rename retriever
  integrations/pinecone/examples/example.py
  integrations/pinecone/examples/pinecone_documentstore_example.ipynb
  integrations/pinecone/pydoc/config.yml
  integrations/pinecone/pyproject.toml
  integrations/pinecone/src/haystack_integrations/components/retrievers/pinecone/__init__.py
  integrations/pinecone/src/haystack_integrations/components/retrievers/pinecone/embedding_retriever.py
  integrations/pinecone/tests/test_emebedding_retriever.py
Labels: type:documentation, integration:pinecone

#391 fix: from numpy float to float
  integrations/fastembed/src/haystack_integrations/components/embedders/fastembed/embedding_backend/fastembed_backend.py
  integrations/fastembed/src/haystack_integrations/components/embedders/fastembed/fastembed_document_embedder.py
  integrations/fastembed/tests/test_fastembed_document_embedder.py
  integrations/fastembed/tests/test_fastembed_text_embedder.py
Labels: type:documentation, integration:fastembed

#392 chore: Exculde evaluator private classes in API docs
  integrations/deepeval/pydoc/config.yml
  integrations/uptrain/pydoc/config.yml
Labels: integration:uptrain, integration:deepeval

#399 Astra: rename retriever
  integrations/astra/README.md
  integrations/astra/examples/example.py
  integrations/astra/examples/pipeline_example.py
  integrations/astra/src/haystack_integrations/components/retrievers/astra/__init__.py
  integrations/astra/src/haystack_integrations/components/retrievers/astra/retriever.py
  integrations/astra/tests/test_retriever.py
Labels: type:documentation, integration:astra

#407 Chroma: rename retriever
  integrations/chroma/example/example.py
  integrations/chroma/src/haystack_integrations/components/retrievers/chroma/__init__.py
  integrations/chroma/src/haystack_integrations/components/retrievers/chroma/retriever.py
  integrations/chroma/tests/test_retriever.py
Labels: type:documentation, integration:chroma

#398 Pinecone: fix imports in example
  integrations/pinecone/examples/example.py
Labels: integration:pinecone

#278 Implement filtering for `WeaviateDocumentStore`
  integrations/weaviate/pyproject.toml
  integrations/weaviate/src/haystack_integrations/document_stores/weaviate/_filters.py
  integrations/weaviate/src/haystack_integrations/document_stores/weaviate/document_store.py
  integrations/weaviate/tests/test_document_store.py
  integrations/weaviate/tests/test_filters.py
Labels: type:documentation, integration:weaviate

#402 Adopt `Secret` to pgvector
  integrations/pgvector/README.md
  integrations/pgvector/examples/example.py
  integrations/pgvector/pyproject.toml
  integrations/pgvector/src/haystack_integrations/components/retrievers/pgvector/embedding_retriever.py
  integrations/pgvector/src/haystack_integrations/document_stores/pgvector/document_store.py
  integrations/pgvector/tests/conftest.py
  integrations/pgvector/tests/test_document_store.py
  integrations/pgvector/tests/test_retriever.py
Labels: type:documentation, integration:pgvector

#405 refactor!: Qdrant - update secret management
  integrations/qdrant/pyproject.toml
  integrations/qdrant/src/haystack_integrations/document_stores/qdrant/document_store.py
  integrations/qdrant/tests/test_dict_converters.py
Labels: integration:qdrant

#411 Jina: update secrets management
  integrations/jina/src/haystack_integrations/components/embedders/jina/document_embedder.py
  integrations/jina/src/haystack_integrations/components/embedders/jina/text_embedder.py
  integrations/jina/tests/test_document_embedder.py
  integrations/jina/tests/test_text_embedder.py
Labels: type:documentation, integration:jina

#410 Add `WeaviateBM25Retriever`
  integrations/weaviate/src/haystack_integrations/components/retrievers/weaviate/__init__.py
  integrations/weaviate/src/haystack_integrations/components/retrievers/weaviate/bm25_retriever.py
  integrations/weaviate/src/haystack_integrations/document_stores/weaviate/document_store.py
  integrations/weaviate/tests/test_bm25_retriever.py
  integrations/weaviate/tests/test_document_store.py
Labels: type:documentation, integration:weaviate

#414 Update Weaviate docs configs
  integrations/weaviate/pydoc/config.yml
Labels: integration:weaviate

#401 fastembed integration: add example
  integrations/fastembed/example/example.py
Labels: integration:fastembed

#419 Choere - remove matching error message from tests
  integrations/cohere/tests/test_cohere_chat_generator.py
  integrations/cohere/tests/test_cohere_generators.py
  integrations/cohere/tests/test_document_embedder.py
  integrations/cohere/tests/test_text_embedder.py
Labels: integration:cohere

#422 Jina - remove dead code
  integrations/jina/src/haystack_integrations/components/embedders/jina/document_embedder.py
  integrations/jina/src/haystack_integrations/components/embedders/jina/text_embedder.py
Labels: integration:jina

#418 model_name_or_path > model
  integrations/astra/examples/example.py
  integrations/astra/examples/pipeline_example.py
  integrations/instructor_embedders/src/haystack_integrations/components/embedders/instructor_embedders/embedding_backend/instructor_backend.py
  integrations/instructor_embedders/src/haystack_integrations/components/embedders/instructor_embedders/instructor_document_embedder.py
  integrations/instructor_embedders/src/haystack_integrations/components/embedders/instructor_embedders/instructor_text_embedder.py
  integrations/instructor_embedders/tests/test_instructor_backend.py
  integrations/instructor_embedders/tests/test_instructor_document_embedder.py
  integrations/instructor_embedders/tests/test_instructor_text_embedder.py
  integrations/llama_cpp/README.md
  integrations/llama_cpp/examples/rag_pipeline_example.py
Labels: integration:instructor-embedders, integration:llama_cpp, integration:astra

#421 Gradient - new secrets management
  integrations/gradient/pyproject.toml
  integrations/gradient/src/haystack_integrations/components/embedders/gradient/gradient_document_embedder.py
  integrations/gradient/src/haystack_integrations/components/embedders/gradient/gradient_text_embedder.py
  integrations/gradient/src/haystack_integrations/components/generators/gradient/base.py
  integrations/gradient/tests/test_gradient_document_embedder.py
  integrations/gradient/tests/test_gradient_text_embedder.py
Labels: type:documentation, integration:gradient

#420 [Pinecone] Use Haystack Secrets
  integrations/pinecone/examples/example.py
  integrations/pinecone/src/haystack_integrations/document_stores/pinecone/document_store.py
  integrations/pinecone/tests/conftest.py
  integrations/pinecone/tests/test_document_store.py
  integrations/pinecone/tests/test_emebedding_retriever.py
Labels: type:documentation, integration:pinecone

#424 Google AI - new secrets management
  integrations/google_ai/pyproject.toml
  integrations/google_ai/src/haystack_integrations/components/generators/google_ai/chat/gemini.py
  integrations/google_ai/src/haystack_integrations/components/generators/google_ai/gemini.py
  integrations/google_ai/tests/generators/chat/test_chat_gemini.py
  integrations/google_ai/tests/generators/test_gemini.py
Labels: type:documentation, integration:google-ai

#400 Ollama document embedder
  integrations/ollama/src/haystack_integrations/components/embedders/ollama/__init__.py
  integrations/ollama/src/haystack_integrations/components/embedders/ollama/document_embedder.py
  integrations/ollama/tests/test_document_embedder.py
Labels: type:documentation, integration:chroma, integration:ollama, integration:astra, integration:uptrain, integration:deepeval

#413 feat: MongoDBAtlas Document Store
  .github/labeler.yml
  .github/workflows/mongodb_atlas.yml
  README.md
  integrations/mongodb_atlas/LICENSE.txt
  integrations/mongodb_atlas/README.md
  integrations/mongodb_atlas/examples/example.py
  integrations/mongodb_atlas/pydoc/config.yml
  integrations/mongodb_atlas/pyproject.toml
  integrations/mongodb_atlas/src/haystack_integrations/document_stores/mongodb_atlas/__init__.py
  integrations/mongodb_atlas/src/haystack_integrations/document_stores/mongodb_atlas/document_store.py
  integrations/mongodb_atlas/src/haystack_integrations/document_stores/mongodb_atlas/errors.py
  integrations/mongodb_atlas/src/haystack_integrations/document_stores/mongodb_atlas/filters.py
  integrations/mongodb_atlas/tests/__init__.py
  integrations/mongodb_atlas/tests/test_document_store.py
Labels: type:documentation, topic:CI

#426 fix: typo in `mongodb_atlas/pyproject.toml`
  integrations/mongodb_atlas/pyproject.toml
Labels: integration:mongodb-atlas

#425 Update WeaviateDocumentStore authentication to use new Secret class
  integrations/weaviate/pydoc/config.yml
  integrations/weaviate/src/haystack_integrations/document_stores/weaviate/__init__.py
  integrations/weaviate/src/haystack_integrations/document_stores/weaviate/auth.py
  integrations/weaviate/src/haystack_integrations/document_stores/weaviate/document_store.py
  integrations/weaviate/tests/test_auth.py
  integrations/weaviate/tests/test_document_store.py
Labels: type:documentation, integration:weaviate

#423 [Astra] Change authentication parameters
  .github/workflows/astra.yml
  integrations/astra/examples/example.py
  integrations/astra/examples/pipeline_example.py
  integrations/astra/src/haystack_integrations/document_stores/astra/astra_client.py
  integrations/astra/src/haystack_integrations/document_stores/astra/document_store.py
  integrations/astra/tests/conftest.py
  integrations/astra/tests/test_document_store.py
  integrations/astra/tests/test_retriever.py
Labels: type:documentation, topic:CI, integration:astra

#430 fix: remove filters from `MongoDBAtlasDocumentStore.count()` method
  integrations/mongodb_atlas/src/haystack_integrations/document_stores/mongodb_atlas/document_store.py
Labels: type:documentation, integration:mongodb-atlas

#404 Add Ragas integration
  .github/labeler.yml
  .github/workflows/ragas.yml
  README.md
  integrations/ragas/LICENSE.txt
  integrations/ragas/README.md
  integrations/ragas/example/example.py
  integrations/ragas/pydoc/config.yml
  integrations/ragas/pyproject.toml
  integrations/ragas/src/haystack_integrations/components/evaluators/ragas/__init__.py
  integrations/ragas/src/haystack_integrations/components/evaluators/ragas/evaluator.py
  integrations/ragas/src/haystack_integrations/components/evaluators/ragas/metrics.py
  integrations/ragas/tests/__init__.py
  integrations/ragas/tests/test_evaluator.py
  integrations/ragas/tests/test_metrics.py
Labels: type:documentation, topic:CI, integration:ragas

#403 fastembed fix: add parallel
  integrations/fastembed/src/haystack_integrations/components/embedders/fastembed/fastembed_document_embedder.py
  integrations/fastembed/src/haystack_integrations/components/embedders/fastembed/fastembed_text_embedder.py
  integrations/fastembed/tests/test_fastembed_document_embedder.py
  integrations/fastembed/tests/test_fastembed_text_embedder.py
Labels: type:documentation, integration:fastembed

#416 Adopt Secret to Amazon Bedrock
  integrations/amazon_bedrock/pyproject.toml
  integrations/amazon_bedrock/src/haystack_integrations/components/generators/amazon_bedrock/chat/chat_generator.py
  integrations/amazon_bedrock/src/haystack_integrations/components/generators/amazon_bedrock/generator.py
  integrations/amazon_bedrock/tests/conftest.py
  integrations/amazon_bedrock/tests/test_amazon_bedrock.py
  integrations/amazon_bedrock/tests/test_amazon_chat_bedrock.py
Labels: type:documentation, integration:amazon-bedrock

#409 Adding mistral generator and embedders
  .github/labeler.yml
  .github/workflows/mistral.yml
  README.md
  integrations/mistral/LICENSE.txt
  integrations/mistral/README.md
  integrations/mistral/examples/indexing_pipeline.py
  integrations/mistral/examples/streaming_chat_with_rag.py
  integrations/mistral/pydoc/config.yml
  integrations/mistral/pyproject.toml
  integrations/mistral/src/haystack_integrations/components/embedders/mistral/__init__.py
  integrations/mistral/src/haystack_integrations/components/embedders/mistral/document_embedder.py
  integrations/mistral/src/haystack_integrations/components/embedders/mistral/text_embedder.py
  integrations/mistral/src/haystack_integrations/components/generators/mistral/__init__.py
  integrations/mistral/src/haystack_integrations/components/generators/mistral/chat/__init__.py
  integrations/mistral/src/haystack_integrations/components/generators/mistral/chat/chat_generator.py
  integrations/mistral/tests/__init__.py
  integrations/mistral/tests/test_mistral_chat_generator.py
  integrations/mistral/tests/test_mistral_document_embedder.py
  integrations/mistral/tests/test_mistral_text_embedder.py
Labels: type:documentation, topic:CI, integration:mistral

#429 Updated integration tests workflow to set global working directory
  .github/workflows/ollama.yml
  .github/workflows/unstructured.yml
Labels: topic:CI, integration:unstructured-fileconverter, integration:ollama

#436 Llama.cpp: change wrong links and imports
  README.md
  integrations/llama_cpp/README.md
Labels: integration:llama_cpp

#438 Fix Readme sync
  .github/workflows/CI_readme_sync.yml
Labels: topic:CI

#440 Feat: Add filters to run function in retrievers of elasticsearch
  integrations/elasticsearch/src/haystack_integrations/components/retrievers/elasticsearch/bm25_retriever.py
  integrations/elasticsearch/src/haystack_integrations/components/retrievers/elasticsearch/embedding_retriever.py
Labels: type:documentation, integration:elasticsearch

#439 Amazon Sagemaker - create API docs
  .github/workflows/amazon_sagemaker.yml
  integrations/amazon_sagemaker/pydoc/config.yml
  integrations/amazon_sagemaker/pyproject.toml
Labels: topic:CI, integration:amazon-sagemaker

#442 docs: update category slug
  integrations/amazon_bedrock/pydoc/config.yml
  integrations/amazon_sagemaker/pydoc/config.yml
  integrations/astra/pydoc/config.yml
  integrations/chroma/pydoc/config.yml
  integrations/cohere/pydoc/config.yml
  integrations/deepeval/pydoc/config.yml
  integrations/elasticsearch/pydoc/config.yml
  integrations/fastembed/pydoc/config.yml
  integrations/google_ai/pydoc/config.yml
  integrations/google_vertex/pydoc/config.yml
  integrations/gradient/pydoc/config.yml
  integrations/instructor_embedders/pydoc/config.yml
  integrations/jina/pydoc/config.yml
  integrations/llama_cpp/pydoc/config.yml
  integrations/mistral/pydoc/config.yml
  integrations/mongodb_atlas/pydoc/config.yml
  integrations/ollama/pydoc/config.yml
  integrations/opensearch/pydoc/config.yml
  integrations/pgvector/pydoc/config.yml
  integrations/pinecone/pydoc/config.yml
  integrations/qdrant/pydoc/config.yml
  integrations/ragas/pydoc/config.yml
  integrations/unstructured/pydoc/config.yml
  integrations/uptrain/pydoc/config.yml
  integrations/weaviate/pydoc/config.yml
Labels: integration:instructor-embedders, integration:chroma, integration:elasticsearch, integration:opensearch, integration:unstructured-fileconverter, integration:gradient, integration:cohere, integration:jina, integration:google-vertex, integration:qdrant, integration:pinecone, integration:amazon-bedrock, integration:google-ai, integration:ollama, integration:llama_cpp, integration:weaviate, integration:astra, integration:amazon-sagemaker, integration:uptrain, integration:pgvector, integration:deepeval, integration:fastembed, integration:ragas, integration:mongodb-atlas, integration:mistral

#443 small improvements
  integrations/chroma/src/haystack_integrations/document_stores/chroma/document_store.py
Labels: type:documentation, integration:chroma

#444 Docs workflow - clean up hatch env after docs generation
  .github/workflows/CI_readme_sync.yml
Labels: topic:CI

#428 Update the Astra DB Integration to fit latest conventions
  .github/workflows/astra.yml
  integrations/astra/README.md
  integrations/astra/pyproject.toml
  integrations/astra/src/haystack_integrations/document_stores/astra/astra_client.py
  integrations/astra/src/haystack_integrations/document_stores/astra/document_store.py
  integrations/astra/tests/test_document_store.py
  integrations/astra/tests/test_retriever.py
Labels: type:documentation, topic:CI, integration:astra

#447 fix order of API docs
  integrations/amazon_bedrock/pydoc/config.yml
  integrations/amazon_sagemaker/pydoc/config.yml
  integrations/astra/pydoc/config.yml
  integrations/chroma/pydoc/config.yml
  integrations/cohere/pydoc/config.yml
  integrations/deepeval/pydoc/config.yml
  integrations/elasticsearch/pydoc/config.yml
  integrations/fastembed/pydoc/config.yml
  integrations/google_ai/pydoc/config.yml
  integrations/google_vertex/pydoc/config.yml
  integrations/gradient/pydoc/config.yml
  integrations/instructor_embedders/pydoc/config.yml
  integrations/jina/pydoc/config.yml
  integrations/llama_cpp/pydoc/config.yml
  integrations/mistral/pydoc/config.yml
  integrations/mongodb_atlas/pydoc/config.yml
  integrations/ollama/pydoc/config.yml
  integrations/opensearch/pydoc/config.yml
  integrations/pgvector/pydoc/config.yml
  integrations/pinecone/pydoc/config.yml
  integrations/qdrant/pydoc/config.yml
  integrations/ragas/pydoc/config.yml
  integrations/unstructured/pydoc/config.yml
  integrations/uptrain/pydoc/config.yml
  integrations/weaviate/pydoc/config.yml
Labels: integration:instructor-embedders, integration:chroma, integration:elasticsearch, integration:opensearch, integration:unstructured-fileconverter, integration:gradient, integration:cohere, integration:jina, integration:google-vertex, integration:qdrant, integration:pinecone, integration:amazon-bedrock, integration:google-ai, integration:ollama, integration:llama_cpp, integration:weaviate, integration:astra, integration:amazon-sagemaker, integration:uptrain, integration:pgvector, integration:deepeval, integration:fastembed, integration:ragas, integration:mongodb-atlas, integration:mistral

#446 fastembed integration new parameters
  integrations/fastembed/src/haystack_integrations/components/embedders/fastembed/embedding_backend/fastembed_backend.py
  integrations/fastembed/src/haystack_integrations/components/embedders/fastembed/fastembed_document_embedder.py
  integrations/fastembed/src/haystack_integrations/components/embedders/fastembed/fastembed_text_embedder.py
  integrations/fastembed/tests/test_fastembed_backend.py
  integrations/fastembed/tests/test_fastembed_document_embedder.py
  integrations/fastembed/tests/test_fastembed_text_embedder.py
Labels: type:documentation, integration:fastembed

#450 Astra: fix integration tests
  integrations/astra/src/haystack_integrations/document_stores/astra/astra_client.py
  integrations/astra/src/haystack_integrations/document_stores/astra/document_store.py
  integrations/astra/tests/test_document_store.py
Labels: integration:astra

#437 Add contribution guidelines
  CONTRIBUTING.md
  README.md
Labels: topic:DX

#454 FIX: proper name for the sort param for Astra DB Integration
  integrations/astra/src/haystack_integrations/document_stores/astra/astra_client.py
Labels: integration:astra

#441 Instructor embedders - new devices mgmt
  integrations/instructor_embedders/src/haystack_integrations/components/embedders/instructor_embedders/instructor_document_embedder.py
  integrations/instructor_embedders/src/haystack_integrations/components/embedders/instructor_embedders/instructor_text_embedder.py
  integrations/instructor_embedders/tests/test_instructor_document_embedder.py
  integrations/instructor_embedders/tests/test_instructor_text_embedder.py
Labels: integration:instructor-embedders

#453 chore: Update Cohere integration to use new generic callable (de)serializers for their callback handlers
  integrations/cohere/src/haystack_integrations/components/generators/cohere/generator.py
Labels: integration:cohere

#452 chore: Update Amazon Bedrock integration to use new generic callable (de)serializers for their callback handlers
  integrations/amazon_bedrock/src/haystack_integrations/components/generators/amazon_bedrock/chat/chat_generator.py
  integrations/amazon_bedrock/tests/test_amazon_chat_bedrock.py
Labels: integration:amazon-bedrock

#445 Allow passing in required project_name
  integrations/uptrain/pyproject.toml
  integrations/uptrain/src/haystack_integrations/components/evaluators/uptrain/evaluator.py
  integrations/uptrain/tests/test_evaluator.py
Labels: type:documentation, integration:uptrain

#465 pinning uptrain version
  integrations/uptrain/pyproject.toml
Labels: integration:uptrain

#455 Bedrock refactoring
  integrations/amazon_bedrock/pydoc/config.yml
  integrations/amazon_bedrock/src/haystack_integrations/common/amazon_bedrock/__init__.py
  integrations/amazon_bedrock/src/haystack_integrations/common/amazon_bedrock/errors.py
  integrations/amazon_bedrock/src/haystack_integrations/common/amazon_bedrock/utils.py
  integrations/amazon_bedrock/src/haystack_integrations/components/generators/amazon_bedrock/chat/chat_generator.py
  integrations/amazon_bedrock/src/haystack_integrations/components/generators/amazon_bedrock/generator.py
  integrations/amazon_bedrock/tests/conftest.py
  integrations/amazon_bedrock/tests/test_chat_generator.py
  integrations/amazon_bedrock/tests/test_generator.py
Labels: type:documentation, integration:amazon-bedrock

#467 fix: Revert "Allow passing in required project_name (#445)"
  integrations/uptrain/src/haystack_integrations/components/evaluators/uptrain/evaluator.py
  integrations/uptrain/tests/test_evaluator.py
Labels: type:documentation, integration:uptrain

#460 chore: Use `serialize_callable` instead of `serialize_callback_handler` in Cohere
  integrations/cohere/src/haystack_integrations/components/generators/cohere/chat/chat_generator.py
Labels: integration:cohere

#469 Refactor `optimum` namespacing + bug fixes
  integrations/optimum/pydoc/config.yml
  integrations/optimum/pyproject.toml
  integrations/optimum/src/haystack_integrations/components/embedders/optimum/__init__.py
  integrations/optimum/src/haystack_integrations/components/embedders/optimum/optimum_backend.py
  integrations/optimum/src/haystack_integrations/components/embedders/optimum/optimum_document_embedder.py
  integrations/optimum/src/haystack_integrations/components/embedders/optimum/optimum_text_embedder.py
  integrations/optimum/src/haystack_integrations/components/embedders/optimum/pooling.py
  integrations/optimum/tests/test_optimum_backend.py
  integrations/optimum/tests/test_optimum_document_embedder.py
  integrations/optimum/tests/test_optimum_text_embedder.py
Labels: type:documentation, integration:optimum

#468 Bedrock Document Embedder
  integrations/amazon_bedrock/pydoc/config.yml
  integrations/amazon_bedrock/src/haystack_integrations/components/embedders/amazon_bedrock/__init__.py
  integrations/amazon_bedrock/src/haystack_integrations/components/embedders/amazon_bedrock/document_embedder.py
  integrations/amazon_bedrock/tests/test_document_embedder.py
  integrations/amazon_bedrock/tests/test_text_embedder.py
Labels: type:documentation, integration:amazon-bedrock

#459 chore: Use `serialize_callable` instead of `serialize_callback_handler` in Bedrock
  integrations/amazon_bedrock/src/haystack_integrations/components/generators/amazon_bedrock/chat/chat_generator.py
Labels: type:documentation, integration:amazon-bedrock

#473 Pin deepeval version
  integrations/deepeval/pyproject.toml
Labels: integration:deepeval

#476 build: Pin `ragas` dependency to `0.1.1`
  integrations/ragas/pyproject.toml
Labels: integration:ragas

#457 Elasticsearch: add user-agent header
  integrations/elasticsearch/src/haystack_integrations/document_stores/elasticsearch/document_store.py
  integrations/elasticsearch/tests/test_document_store.py
Labels: integration:elasticsearch

#427 feat: `MongoDBAtlasEmbeddingRetriever`
  integrations/mongodb_atlas/src/haystack_integrations/components/retrievers/mongodb_atlas/__init__.py
  integrations/mongodb_atlas/src/haystack_integrations/components/retrievers/mongodb_atlas/embedding_retriever.py
  integrations/mongodb_atlas/src/haystack_integrations/document_stores/mongodb_atlas/document_store.py
  integrations/mongodb_atlas/tests/test_document_store.py
  integrations/mongodb_atlas/tests/test_embedding_retrieval.py
  integrations/mongodb_atlas/tests/test_retriever.py
  integrations/pgvector/pyproject.toml
Labels: type:documentation, integration:pgvector, integration:mongodb-atlas

#478 fix: `pyproject.toml` typo for MongoDB Atlas
  integrations/mongodb_atlas/pyproject.toml
Labels: integration:mongodb-atlas

#488 Weaviate: fix auth tests
  integrations/weaviate/tests/test_auth.py
Labels: integration:weaviate

#491 Weaviate: make retrievers return dicts
  integrations/weaviate/src/haystack_integrations/components/retrievers/weaviate/bm25_retriever.py
  integrations/weaviate/src/haystack_integrations/components/retrievers/weaviate/embedding_retriever.py
Labels: integration:weaviate

#490 Changed Default Ollama Embedding models to supported model: nomic-embed-text
  .github/workflows/ollama.yml
  integrations/ollama/src/haystack_integrations/components/embedders/ollama/document_embedder.py
  integrations/ollama/src/haystack_integrations/components/embedders/ollama/text_embedder.py
  integrations/ollama/tests/test_document_embedder.py
  integrations/ollama/tests/test_text_embedder.py
Labels: type:documentation, topic:CI, integration:ollama

#494 Update API docs adding embedders
  integrations/ollama/pydoc/config.yml
Labels: integration:ollama

#496 feat!: Add support for Optimum optimizers and quantizers
  .github/workflows/optimum.yml
  integrations/optimum/pydoc/config.yml
  integrations/optimum/src/haystack_integrations/components/embedders/optimum/__init__.py
  integrations/optimum/src/haystack_integrations/components/embedders/optimum/_backend.py
  integrations/optimum/src/haystack_integrations/components/embedders/optimum/optimization.py
  integrations/optimum/src/haystack_integrations/components/embedders/optimum/optimum_document_embedder.py
  integrations/optimum/src/haystack_integrations/components/embedders/optimum/optimum_text_embedder.py
  integrations/optimum/src/haystack_integrations/components/embedders/optimum/pooling.py
  integrations/optimum/src/haystack_integrations/components/embedders/optimum/quantization.py
  integrations/optimum/tests/test_optimum_document_embedder.py
  integrations/optimum/tests/test_optimum_text_embedder.py
Labels: type:documentation, topic:CI, integration:optimum

#497 chore: update docstrings
  integrations/mistral/src/haystack_integrations/components/embedders/mistral/document_embedder.py
  integrations/mistral/src/haystack_integrations/components/embedders/mistral/text_embedder.py
  integrations/mistral/src/haystack_integrations/components/generators/mistral/chat/chat_generator.py
Labels: type:documentation, integration:mistral

#499 chore: Update docstrings
  integrations/ollama/src/haystack_integrations/components/embedders/ollama/document_embedder.py
  integrations/ollama/src/haystack_integrations/components/embedders/ollama/text_embedder.py
  integrations/ollama/src/haystack_integrations/components/generators/ollama/chat/chat_generator.py
  integrations/ollama/src/haystack_integrations/components/generators/ollama/generator.py
Labels: type:documentation, integration:ollama

#503 Pinecone - review docstrings and API reference
  integrations/pinecone/pydoc/config.yml
  integrations/pinecone/src/haystack_integrations/components/retrievers/pinecone/embedding_retriever.py
  integrations/pinecone/src/haystack_integrations/document_stores/pinecone/document_store.py
  integrations/pinecone/src/haystack_integrations/document_stores/pinecone/errors.py
Labels: type:documentation, integration:pinecone

#504 Jina - review docstrings
  integrations/jina/src/haystack_integrations/components/embedders/jina/document_embedder.py
  integrations/jina/src/haystack_integrations/components/embedders/jina/text_embedder.py
Labels: type:documentation, integration:jina

#502 pgvector - review docstrings and API reference
  integrations/pgvector/examples/example.py
  integrations/pgvector/pydoc/config.yml
  integrations/pgvector/src/haystack_integrations/components/retrievers/pgvector/embedding_retriever.py
  integrations/pgvector/src/haystack_integrations/document_stores/pgvector/document_store.py
Labels: type:documentation, integration:pgvector

#505 fix: make write_documents compatible with the DocumentStore protocol
  integrations/chroma/src/haystack_integrations/document_stores/chroma/document_store.py
Labels: type:documentation, integration:chroma

#506 fix: serialize the path to the local db
  integrations/chroma/.gitignore
  integrations/chroma/pyproject.toml
  integrations/chroma/src/haystack_integrations/components/retrievers/chroma/retriever.py
  integrations/chroma/src/haystack_integrations/document_stores/chroma/document_store.py
  integrations/chroma/tests/test_document_store.py
  integrations/chroma/tests/test_retriever.py
Labels: type:documentation, integration:chroma
