Repository deepset-ai/haystack-core-integrations, pull requests merged in 2024-10, with the labels that each got.

#1118 feat: Raise error when attempting to embed empty documents/strings with Nvidia embedders
  integrations/nvidia/src/haystack_integrations/components/embedders/nvidia/document_embedder.py
  integrations/nvidia/src/haystack_integrations/components/embedders/nvidia/text_embedder.py
  integrations/nvidia/src/haystack_integrations/utils/nvidia/nim_backend.py
  integrations/nvidia/tests/test_document_embedder.py
  integrations/nvidia/tests/test_text_embedder.py
Labels: integration:nvidia

#1089 Langfuse: add invocation_context to identify traces
  integrations/langfuse/example/chat.py
  integrations/langfuse/src/haystack_integrations/components/connectors/langfuse/langfuse_connector.py
  integrations/langfuse/tests/test_tracing.py
Labels: type:documentation, integration:langfuse

#1124 chore: pin `google-cloud-aiplatform>=1.61` and fix tests
  integrations/google_vertex/pyproject.toml
  integrations/google_vertex/tests/chat/test_gemini.py
  integrations/google_vertex/tests/test_gemini.py
Labels: integration:google-vertex

#1120 modify regex to allow cross-region inference in bedrock
  integrations/amazon_bedrock/src/haystack_integrations/components/generators/amazon_bedrock/chat/chat_generator.py
  integrations/amazon_bedrock/src/haystack_integrations/components/generators/amazon_bedrock/generator.py
  integrations/amazon_bedrock/tests/test_chat_generator.py
  integrations/amazon_bedrock/tests/test_generator.py
Labels: type:documentation, integration:amazon-bedrock

#1126 feat: introduce `model_kwargs` in Sparse Embedders (can be used for BM25 parameters)
  integrations/fastembed/src/haystack_integrations/components/embedders/fastembed/embedding_backend/fastembed_backend.py
  integrations/fastembed/src/haystack_integrations/components/embedders/fastembed/fastembed_sparse_document_embedder.py
  integrations/fastembed/src/haystack_integrations/components/embedders/fastembed/fastembed_sparse_text_embedder.py
  integrations/fastembed/tests/test_fastembed_backend.py
  integrations/fastembed/tests/test_fastembed_sparse_document_embedder.py
  integrations/fastembed/tests/test_fastembed_sparse_text_embedder.py
Labels: type:documentation, integration:fastembed

#1131 feat: add `keep_alive` parameter to Ollama Generators
  integrations/ollama/src/haystack_integrations/components/generators/ollama/chat/chat_generator.py
  integrations/ollama/src/haystack_integrations/components/generators/ollama/generator.py
  integrations/ollama/tests/test_chat_generator.py
  integrations/ollama/tests/test_generator.py
Labels: type:documentation, integration:ollama

#1132 docs: explain different connection string formats in the docstring
  integrations/pgvector/src/haystack_integrations/document_stores/pgvector/document_store.py
Labels: type:documentation, integration:pgvector

#1137 fix: make sure that streaming works with function calls - (drop python3.8)
  integrations/google_ai/pyproject.toml
  integrations/google_ai/src/haystack_integrations/components/generators/google_ai/chat/gemini.py
Labels: type:documentation, integration:google-ai

#1141 fix: make "project-id" parameter optional during initialization
  integrations/google_vertex/src/haystack_integrations/components/generators/google_vertex/chat/gemini.py
  integrations/google_vertex/src/haystack_integrations/components/generators/google_vertex/gemini.py
  integrations/google_vertex/tests/chat/test_gemini.py
  integrations/google_vertex/tests/test_gemini.py
Labels: type:documentation, integration:google-vertex

#1142 ci: adopt uv as installer
  integrations/amazon_bedrock/pyproject.toml
  integrations/amazon_sagemaker/pyproject.toml
  integrations/anthropic/pyproject.toml
  integrations/astra/pyproject.toml
  integrations/chroma/pyproject.toml
  integrations/cohere/pyproject.toml
  integrations/deepeval/pyproject.toml
  integrations/elasticsearch/pyproject.toml
  integrations/fastembed/pyproject.toml
  integrations/google_ai/pyproject.toml
  integrations/google_vertex/pyproject.toml
  integrations/instructor_embedders/pyproject.toml
  integrations/jina/pyproject.toml
  integrations/langfuse/pyproject.toml
  integrations/llama_cpp/pyproject.toml
  integrations/mistral/pyproject.toml
  integrations/mongodb_atlas/pyproject.toml
  integrations/nvidia/pyproject.toml
  integrations/ollama/pyproject.toml
  integrations/opensearch/pyproject.toml
  integrations/optimum/pyproject.toml
  integrations/pgvector/pyproject.toml
  integrations/pinecone/pyproject.toml
  integrations/qdrant/pyproject.toml
  integrations/ragas/pyproject.toml
  integrations/snowflake/pyproject.toml
  integrations/unstructured/pyproject.toml
  integrations/weaviate/pyproject.toml
Labels: integration:instructor-embedders, topic:CI, integration:chroma, integration:elasticsearch, integration:opensearch, integration:unstructured-fileconverter, integration:cohere, integration:jina, integration:google-vertex, integration:qdrant, integration:pinecone, integration:amazon-bedrock, integration:google-ai, integration:ollama, integration:llama_cpp, integration:weaviate, integration:astra, integration:amazon-sagemaker, integration:pgvector, integration:deepeval, integration:fastembed, integration:ragas, integration:mongodb-atlas, integration:mistral, integration:optimum, integration:nvidia, integration:langfuse, integration:snowflake

#1143 fix: compatibility with Weaviate 4.9.0
  .github/workflows/weaviate.yml
  integrations/weaviate/pyproject.toml
  integrations/weaviate/tests/test_document_store.py
Labels: topic:CI, integration:weaviate

#1148 fix: fixing Chroma tests due `chromadb` update behaviour change
  integrations/chroma/src/haystack_integrations/document_stores/chroma/filters.py
  integrations/chroma/tests/test_document_store.py
Labels: type:documentation, integration:chroma

#1145 feat: Update astradb integration for latest client library
  integrations/astra/README.md
  integrations/astra/examples/requirements.txt
  integrations/astra/pyproject.toml
  integrations/astra/src/haystack_integrations/document_stores/astra/astra_client.py
  integrations/astra/tests/test_document_store.py
Labels: type:documentation, integration:astra

#1147 fix: make project-id optional in all VertexAI generators
  integrations/google_vertex/src/haystack_integrations/components/generators/google_vertex/captioner.py
  integrations/google_vertex/src/haystack_integrations/components/generators/google_vertex/code_generator.py
  integrations/google_vertex/src/haystack_integrations/components/generators/google_vertex/image_generator.py
  integrations/google_vertex/src/haystack_integrations/components/generators/google_vertex/question_answering.py
  integrations/google_vertex/src/haystack_integrations/components/generators/google_vertex/text_generator.py
  integrations/google_vertex/tests/test_captioner.py
  integrations/google_vertex/tests/test_code_generator.py
  integrations/google_vertex/tests/test_image_generator.py
  integrations/google_vertex/tests/test_question_answering.py
  integrations/google_vertex/tests/test_text_generator.py
Labels: type:documentation, integration:google-vertex

#1152 refactor: avoid downloading tokenizer if `truncate` is `False`
  integrations/amazon_bedrock/src/haystack_integrations/components/generators/amazon_bedrock/generator.py
  integrations/amazon_bedrock/tests/test_generator.py
Labels: type:documentation, integration:amazon-bedrock

#1156 fix: Elasticsearch - allow passing headers
  integrations/elasticsearch/src/haystack_integrations/document_stores/elasticsearch/document_store.py
  integrations/elasticsearch/tests/test_document_store.py
Labels: integration:elasticsearch

#1157 chore: introduce Stalebot
  .github/workflows/CI_stale.yml
Labels: topic:CI

#1160 refactor!: Qdant - remove `index` parameter from methods
  integrations/qdrant/src/haystack_integrations/document_stores/qdrant/document_store.py
Labels: type:documentation, integration:qdrant

#1134 feat: efficient knn filtering support for OpenSearch
  integrations/opensearch/src/haystack_integrations/components/retrievers/opensearch/embedding_retriever.py
  integrations/opensearch/src/haystack_integrations/document_stores/opensearch/document_store.py
  integrations/opensearch/tests/test_document_store.py
  integrations/opensearch/tests/test_embedding_retriever.py
Labels: type:documentation, integration:opensearch

#1163 chore: fix Vertex tests
  integrations/google_vertex/tests/chat/test_gemini.py
  integrations/google_vertex/tests/test_gemini.py
Labels: integration:google-vertex
