Repository deepset-ai/haystack-core-integrations, pull requests merged in 2024-09, with the labels that each got.

#1041 fix!: fix type errors in `QdrantDocumentStore`; rename `ids` (parameter of `delete_documents`) to `document_ids`
  integrations/qdrant/src/haystack_integrations/document_stores/qdrant/document_store.py
Labels: integration:qdrant

#1043 fix: Missing Nvidia embedding truncate mode
  integrations/nvidia/src/haystack_integrations/components/embedders/nvidia/truncate.py
  integrations/nvidia/tests/test_embedding_truncate_mode.py
Labels: type:documentation, integration:nvidia

#1046 fix: restrict weaviate-client
  integrations/weaviate/pyproject.toml
Labels: integration:weaviate

#1050 Ping `protobuf` to `<5.28` to fix Google Vertex Components serialization
  integrations/google_vertex/pyproject.toml
Labels: integration:google-vertex

#1058 fix: Weaviate - fix connection issues with some WCS URLs
  .github/workflows/weaviate.yml
  integrations/weaviate/src/haystack_integrations/document_stores/weaviate/document_store.py
Labels: type:documentation, topic:CI, integration:weaviate

#1059 refactor!: use ollama python library instead of calling the API with `requests`
  README.md
  integrations/ollama/README.md
  integrations/ollama/examples/chat_generator_example.py
  integrations/ollama/pyproject.toml
  integrations/ollama/src/haystack_integrations/components/embedders/ollama/document_embedder.py
  integrations/ollama/src/haystack_integrations/components/embedders/ollama/text_embedder.py
  integrations/ollama/src/haystack_integrations/components/generators/ollama/chat/chat_generator.py
  integrations/ollama/src/haystack_integrations/components/generators/ollama/generator.py
  integrations/ollama/tests/test_chat_generator.py
  integrations/ollama/tests/test_document_embedder.py
  integrations/ollama/tests/test_generator.py
  integrations/ollama/tests/test_text_embedder.py
Labels: type:documentation, integration:ollama

#1065 chore: ChromaDocumentStore lint fix
  integrations/chroma/src/haystack_integrations/document_stores/chroma/document_store.py
Labels: integration:chroma

#1063 refactor: fix chroma linting; do not use numpy
  integrations/chroma/src/haystack_integrations/document_stores/chroma/document_store.py
  integrations/chroma/tests/test_document_store.py
Labels: integration:chroma

#1076 fix: Add upper-bound pin to `ragas` dependency in `ragas-haystack`
  integrations/ragas/pyproject.toml
Labels: integration:ragas

#1073 docs: update links to Unstructured docs
  integrations/unstructured/src/haystack_integrations/components/converters/unstructured/converter.py
Labels: type:documentation, integration:unstructured-fileconverter

#1074 Update docstrings to remove vertexai preview package
  integrations/google_vertex/src/haystack_integrations/components/generators/google_vertex/chat/gemini.py
  integrations/google_vertex/src/haystack_integrations/components/generators/google_vertex/gemini.py
  integrations/google_vertex/src/haystack_integrations/components/generators/google_vertex/image_generator.py
  integrations/google_vertex/tests/test_image_generator.py
Labels: type:documentation, integration:google-vertex

#1053 fix: AstraDocumentStore filter by id
  integrations/astra/src/haystack_integrations/document_stores/astra/filters.py
  integrations/astra/tests/test_document_store.py
Labels: integration:astra

#1054 feat: Qdrant - Add group_by and group_size optional parameters to Retrievers
  integrations/qdrant/src/haystack_integrations/components/retrievers/qdrant/retriever.py
  integrations/qdrant/src/haystack_integrations/document_stores/qdrant/document_store.py
  integrations/qdrant/tests/test_document_store.py
  integrations/qdrant/tests/test_retriever.py
Labels: type:documentation, integration:qdrant

#1066 chore: MongoDB - remove legacy filter support
  integrations/mongodb_atlas/src/haystack_integrations/document_stores/mongodb_atlas/filters.py
Labels: type:documentation, integration:mongodb-atlas

#1067 chore: OpenSearch - remove legacy filter support
  integrations/opensearch/src/haystack_integrations/document_stores/opensearch/document_store.py
  integrations/opensearch/tests/test_document_store.py
Labels: integration:opensearch

#1068 chore: PgVector - remove legacy filter support
  integrations/pgvector/src/haystack_integrations/document_stores/pgvector/document_store.py
Labels: integration:pgvector

#1069 chore: Pinecone - remove legacy filter support
  integrations/pinecone/src/haystack_integrations/document_stores/pinecone/document_store.py
Labels: integration:pinecone

#1070 chore: Weaviate - remove legacy filter support
  integrations/weaviate/src/haystack_integrations/document_stores/weaviate/document_store.py
  integrations/weaviate/tests/test_document_store.py
Labels: integration:weaviate

#1083 chore: Update changelog after removing legacy filters
  integrations/elasticsearch/CHANGELOG.md
  integrations/opensearch/CHANGELOG.md
  integrations/pgvector/CHANGELOG.md
  integrations/pinecone/CHANGELOG.md
  integrations/weaviate/CHANGELOG.md
Labels: integration:elasticsearch, integration:opensearch, integration:pinecone, integration:weaviate, integration:pgvector

#1084 Remove support for deprecated legacy filters in Qdrant
  integrations/qdrant/src/haystack_integrations/document_stores/qdrant/document_store.py
  integrations/qdrant/tests/test_legacy_filters.py
Labels: type:documentation, integration:qdrant

#1085 chore: Unpin protobuf dependency in Google Vertex integration
  integrations/google_vertex/pyproject.toml
Labels: integration:google-vertex

#1064 feat: Add Snowflake integration
  integrations/snowflake/CHANGELOG.md
  integrations/snowflake/README.md
  integrations/snowflake/example/text2sql_example.py
  integrations/snowflake/pydoc/config.yml
  integrations/snowflake/pyproject.toml
  integrations/snowflake/src/haystack_integrations/components/retrievers/snowflake/__init__.py
  integrations/snowflake/src/haystack_integrations/components/retrievers/snowflake/snowflake_table_retriever.py
  integrations/snowflake/tests/__init__.py
  integrations/snowflake/tests/test_snowflake_table_retriever.py
Labels: type:documentation

#1086 feat: Cohere LLM - adjust token counting meta to match OpenAI format
  integrations/cohere/src/haystack_integrations/components/generators/cohere/chat/chat_generator.py
  integrations/cohere/tests/test_cohere_chat_generator.py
Labels: type:documentation, integration:cohere

#1087 feat: Langfuse - support generation span for more LLMs
  integrations/langfuse/example/chat.py
  integrations/langfuse/pyproject.toml
  integrations/langfuse/src/haystack_integrations/tracing/langfuse/tracer.py
  integrations/langfuse/tests/test_tracing.py
Labels: type:documentation, integration:langfuse

#1077 chore: update Jina Embedder usage for V3 release
  integrations/jina/src/haystack_integrations/components/embedders/jina/document_embedder.py
  integrations/jina/src/haystack_integrations/components/embedders/jina/text_embedder.py
  integrations/jina/tests/test_document_embedder.py
  integrations/jina/tests/test_text_embedder.py
Labels: type:documentation, integration:jina

#1092 docs: update docstrings of JinaDocumentEmbedder and JinaTextEmbedder
  integrations/jina/src/haystack_integrations/components/embedders/jina/document_embedder.py
  integrations/jina/src/haystack_integrations/components/embedders/jina/text_embedder.py
Labels: type:documentation, integration:jina

#1091 fix: Add delay to flush the Langfuse traces
  integrations/langfuse/tests/test_tracing.py
Labels: integration:langfuse

#1006 feat: Add Anthropic prompt caching support, add example
  integrations/anthropic/example/prompt_caching.py
  integrations/anthropic/pyproject.toml
  integrations/anthropic/src/haystack_integrations/components/generators/anthropic/chat/chat_generator.py
  integrations/anthropic/tests/test_chat_generator.py
Labels: type:documentation

#1072 fix: filters in chroma integration
  integrations/chroma/src/haystack_integrations/document_stores/chroma/document_store.py
  integrations/chroma/src/haystack_integrations/document_stores/chroma/filters.py
  integrations/chroma/tests/test_document_store.py
Labels: type:documentation, integration:chroma

#1097 ci: adding github workflow for Snowflake
  .github/workflows/snowflake.yml
  integrations/snowflake/pydoc/config.yml
Labels: topic:CI

#1090 feat: Add chatrole tests and meta for GeminiChatGenerators
  integrations/google_ai/src/haystack_integrations/components/generators/google_ai/chat/gemini.py
  integrations/google_ai/tests/generators/chat/test_chat_gemini.py
  integrations/google_vertex/src/haystack_integrations/components/generators/google_vertex/chat/gemini.py
  integrations/google_vertex/tests/chat/test_gemini.py
Labels: type:documentation, integration:google-vertex, integration:google-ai

#1094 feat: Chroma - allow remote HTTP connection
  .github/workflows/chroma.yml
  integrations/chroma/src/haystack_integrations/document_stores/chroma/document_store.py
  integrations/chroma/tests/test_document_store.py
  integrations/chroma/tests/test_retriever.py
Labels: type:documentation, topic:CI, integration:chroma

#1104 build: adding snowflake to the labeler.yml and README.MD
  .github/labeler.yml
  README.md
Labels: topic:CI

#1049 fix: #1047 Remove count_documents from delete_documents
  integrations/astra/src/haystack_integrations/document_stores/astra/astra_client.py
  integrations/astra/src/haystack_integrations/document_stores/astra/document_store.py
Labels: type:documentation, integration:astra

#1110 fix: Ollama Chat Generator - add missing `to_dict` and `from_dict` methods
  integrations/ollama/src/haystack_integrations/components/generators/ollama/chat/chat_generator.py
  integrations/ollama/tests/test_chat_generator.py
Labels: type:documentation, integration:ollama

#1111 fix: pin `llama-cpp-python<0.3.0`
  integrations/llama_cpp/pyproject.toml
Labels: integration:llama_cpp

#1105 chore: update ruff linting scripts and settings
  .github/workflows/anthropic.yml
  integrations/amazon_bedrock/pyproject.toml
  integrations/amazon_sagemaker/pyproject.toml
  integrations/anthropic/pyproject.toml
  integrations/astra/pyproject.toml
  integrations/chroma/pyproject.toml
  integrations/chroma/tests/test_document_store.py
  integrations/cohere/pyproject.toml
  integrations/cohere/tests/test_cohere_chat_generator.py
  integrations/cohere/tests/test_cohere_generator.py
  integrations/cohere/tests/test_cohere_ranker.py
  integrations/cohere/tests/test_document_embedder.py
  integrations/cohere/tests/test_text_embedder.py
  integrations/deepeval/example/example.py
  integrations/deepeval/pyproject.toml
  integrations/deepeval/tests/test_evaluator.py
  integrations/elasticsearch/pyproject.toml
  integrations/fastembed/pyproject.toml
  integrations/google_ai/pyproject.toml
  integrations/google_vertex/pyproject.toml
  integrations/instructor_embedders/pyproject.toml
  integrations/jina/pyproject.toml
  integrations/langfuse/example/basic_rag.py
  integrations/langfuse/pyproject.toml
  integrations/langfuse/tests/test_langfuse_span.py
  integrations/langfuse/tests/test_tracer.py
  integrations/langfuse/tests/test_tracing.py
  integrations/llama_cpp/pyproject.toml
  integrations/mistral/pyproject.toml
  integrations/mistral/tests/test_mistral_chat_generator.py
  integrations/mistral/tests/test_mistral_document_embedder.py
  integrations/mistral/tests/test_mistral_text_embedder.py
  integrations/mongodb_atlas/pyproject.toml
  integrations/nvidia/pyproject.toml
  integrations/ollama/pyproject.toml
  integrations/opensearch/pyproject.toml
  integrations/optimum/example/example.py
  integrations/optimum/pyproject.toml
  integrations/optimum/tests/test_optimum_document_embedder.py
  integrations/optimum/tests/test_optimum_text_embedder.py
  integrations/pgvector/pyproject.toml
  integrations/pinecone/pyproject.toml
  integrations/qdrant/pyproject.toml
  integrations/ragas/pyproject.toml
  integrations/ragas/tests/test_evaluator.py
  integrations/snowflake/pyproject.toml
  integrations/snowflake/tests/test_snowflake_table_retriever.py
  integrations/unstructured/pyproject.toml
  integrations/unstructured/tests/test_converter.py
  integrations/weaviate/pyproject.toml
Labels: integration:instructor-embedders, topic:CI, integration:chroma, integration:elasticsearch, integration:opensearch, integration:unstructured-fileconverter, integration:cohere, integration:jina, integration:google-vertex, integration:qdrant, integration:pinecone, integration:amazon-bedrock, integration:google-ai, integration:ollama, integration:llama_cpp, integration:weaviate, integration:astra, integration:amazon-sagemaker, integration:pgvector, integration:deepeval, integration:fastembed, integration:ragas, integration:mongodb-atlas, integration:mistral, integration:optimum, integration:nvidia, integration:langfuse, integration:snowflake

#1107 feat: Chroma - defer the DB connection
  integrations/chroma/pyproject.toml
  integrations/chroma/src/haystack_integrations/document_stores/chroma/document_store.py
  integrations/chroma/tests/test_document_store.py
Labels: type:documentation, integration:chroma

#1117 Chroma: empty filters should behave as no filters
  integrations/chroma/src/haystack_integrations/document_stores/chroma/document_store.py
  integrations/chroma/tests/test_document_store.py
Labels: integration:chroma

#1115 chore: unpin `llama-cpp-python`
  integrations/llama_cpp/pyproject.toml
  integrations/llama_cpp/tests/test_chat_generator.py
Labels: integration:llama_cpp
