Repository deepset-ai/haystack-core-integrations, pull requests merged in 2024-03, with the labels that each got.

#508 doc: fixing docstrings + API for instrtuct_embedders
  integrations/instructor_embedders/src/haystack_integrations/components/embedders/instructor_embedders/instructor_document_embedder.py
  integrations/instructor_embedders/src/haystack_integrations/components/embedders/instructor_embedders/instructor_text_embedder.py
Labels: type:documentation, integration:instructor-embedders

#510 llama.cpp - review docstrings
  integrations/llama_cpp/src/haystack_integrations/components/generators/llama_cpp/generator.py
Labels: type:documentation, integration:llama_cpp

#512 release chroma on python 3.8
  .github/workflows/chroma.yml
  integrations/chroma/pyproject.toml
  integrations/chroma/src/haystack_integrations/document_stores/chroma/document_store.py
Labels: type:documentation, topic:CI, integration:chroma

#511 llama.cpp - update examples
  integrations/llama_cpp/examples/llama_cpp_generator_example.py
  integrations/llama_cpp/examples/rag_pipeline_example.py
Labels: integration:llama_cpp

#515 Add Nvidia integration scaffold
  .github/labeler.yml
  .github/workflows/nvidia.yml
  README.md
  integrations/nvidia/LICENSE.txt
  integrations/nvidia/README.md
  integrations/nvidia/pydoc/config.yml
  integrations/nvidia/pyproject.toml
  integrations/nvidia/src/haystack_integrations/components/generators/nvidia/__init__.py
  integrations/nvidia/src/haystack_integrations/components/generators/nvidia/chat/__init__.py
  integrations/nvidia/tests/__init__.py
  integrations/nvidia/tests/test_placeholder.py
Labels: type:documentation, topic:CI, integration:nvidia

#514 Update docs for Amazon Sagemaker
  integrations/amazon_sagemaker/src/haystack_integrations/components/generators/amazon_sagemaker/sagemaker.py
Labels: type:documentation, integration:amazon-sagemaker

#519 docs:Review and normalize docstrings - `integrations.fastembed`
  integrations/fastembed/src/haystack_integrations/components/embedders/fastembed/fastembed_document_embedder.py
  integrations/fastembed/src/haystack_integrations/components/embedders/fastembed/fastembed_text_embedder.py
Labels: type:documentation, integration:fastembed

#518 doc: fixing docstrings for qdrant
  integrations/qdrant/src/haystack_integrations/components/retrievers/qdrant/retriever.py
Labels: type:documentation, integration:qdrant

#517 docs: Fix Optimum embedder examples
  integrations/optimum/src/haystack_integrations/components/embedders/optimum/optimum_document_embedder.py
  integrations/optimum/src/haystack_integrations/components/embedders/optimum/optimum_text_embedder.py
Labels: type:documentation, integration:optimum

#513 Docs updates + two additional unit tests
  integrations/amazon_bedrock/src/haystack_integrations/components/generators/amazon_bedrock/adapters.py
  integrations/amazon_bedrock/src/haystack_integrations/components/generators/amazon_bedrock/chat/adapters.py
  integrations/amazon_bedrock/src/haystack_integrations/components/generators/amazon_bedrock/chat/chat_generator.py
  integrations/amazon_bedrock/src/haystack_integrations/components/generators/amazon_bedrock/generator.py
  integrations/amazon_bedrock/tests/test_chat_generator.py
Labels: type:documentation, integration:amazon-bedrock

#509 cohere: fix linting
  integrations/cohere/src/haystack_integrations/components/embedders/cohere/document_embedder.py
  integrations/cohere/src/haystack_integrations/components/embedders/cohere/text_embedder.py
Labels: type:documentation, integration:cohere

#526 feat: Add example for Optimum integration, fix docs, CI
  .github/workflows/optimum.yml
  README.md
  integrations/optimum/README.md
  integrations/optimum/example/example.py
  integrations/optimum/src/haystack_integrations/components/embedders/optimum/optimization.py
  integrations/optimum/src/haystack_integrations/components/embedders/optimum/optimum_document_embedder.py
  integrations/optimum/src/haystack_integrations/components/embedders/optimum/optimum_text_embedder.py
  integrations/optimum/src/haystack_integrations/components/embedders/optimum/pooling.py
  integrations/optimum/src/haystack_integrations/components/embedders/optimum/quantization.py
Labels: type:documentation, topic:CI, integration:optimum

#521 docs: fixing opensearch docstrings
  integrations/opensearch/src/haystack_integrations/components/retrievers/opensearch/bm25_retriever.py
  integrations/opensearch/src/haystack_integrations/components/retrievers/opensearch/embedding_retriever.py
  integrations/opensearch/src/haystack_integrations/document_stores/opensearch/document_store.py
Labels: type:documentation, integration:opensearch

#529 docs: Update `ragas-haystack` docstrings
  integrations/ragas/src/haystack_integrations/components/evaluators/ragas/evaluator.py
  integrations/ragas/src/haystack_integrations/components/evaluators/ragas/metrics.py
Labels: integration:ragas

#525 docs: Docstring update
  integrations/elasticsearch/src/haystack_integrations/components/retrievers/elasticsearch/bm25_retriever.py
  integrations/elasticsearch/src/haystack_integrations/components/retrievers/elasticsearch/embedding_retriever.py
  integrations/elasticsearch/src/haystack_integrations/document_stores/elasticsearch/document_store.py
Labels: type:documentation, integration:elasticsearch

#531 Unstructured: review docstrings
  integrations/unstructured/pyproject.toml
  integrations/unstructured/src/haystack_integrations/components/converters/unstructured/converter.py
Labels: type:documentation, integration:unstructured-fileconverter

#532 unstructured: add missing `from_dict` method
  integrations/unstructured/src/haystack_integrations/components/converters/unstructured/converter.py
  integrations/unstructured/tests/test_converter.py
Labels: type:documentation, integration:unstructured-fileconverter

#507 doc: fixing docstrings and API docs for gradient
  integrations/gradient/src/haystack_integrations/components/embedders/gradient/gradient_document_embedder.py
  integrations/gradient/src/haystack_integrations/components/embedders/gradient/gradient_text_embedder.py
  integrations/gradient/src/haystack_integrations/components/generators/gradient/base.py
Labels: type:documentation, integration:gradient

#530 docs: Update `uptrain-haystack` docstrings
  integrations/uptrain/src/haystack_integrations/components/evaluators/uptrain/evaluator.py
  integrations/uptrain/src/haystack_integrations/components/evaluators/uptrain/metrics.py
Labels: integration:uptrain

#533 Google AI - review docstrings
  integrations/google_ai/src/haystack_integrations/components/generators/google_ai/chat/gemini.py
  integrations/google_ai/src/haystack_integrations/components/generators/google_ai/gemini.py
Labels: type:documentation, integration:google-ai

#534 docs: Mongo atlas
  integrations/mongodb_atlas/src/haystack_integrations/components/retrievers/mongodb_atlas/embedding_retriever.py
  integrations/mongodb_atlas/src/haystack_integrations/document_stores/mongodb_atlas/document_store.py
  integrations/mongodb_atlas/tests/test_embedding_retrieval.py
  integrations/mongodb_atlas/tests/test_retriever.py
Labels: type:documentation, integration:mongodb-atlas

#536 docs: small consistency improvements
  .gitignore
  integrations/amazon_bedrock/src/haystack_integrations/common/amazon_bedrock/utils.py
  integrations/amazon_bedrock/src/haystack_integrations/components/embedders/amazon_bedrock/document_embedder.py
  integrations/amazon_bedrock/src/haystack_integrations/components/embedders/amazon_bedrock/text_embedder.py
  integrations/amazon_bedrock/src/haystack_integrations/components/generators/amazon_bedrock/adapters.py
  integrations/amazon_bedrock/src/haystack_integrations/components/generators/amazon_bedrock/chat/adapters.py
  integrations/amazon_bedrock/src/haystack_integrations/components/generators/amazon_bedrock/chat/chat_generator.py
  integrations/amazon_bedrock/src/haystack_integrations/components/generators/amazon_bedrock/generator.py
  integrations/amazon_bedrock/src/haystack_integrations/components/generators/amazon_bedrock/handlers.py
  integrations/amazon_sagemaker/src/haystack_integrations/components/generators/amazon_sagemaker/sagemaker.py
  integrations/astra/src/haystack_integrations/components/retrievers/astra/retriever.py
  integrations/chroma/src/haystack_integrations/components/retrievers/chroma/retriever.py
  integrations/chroma/src/haystack_integrations/document_stores/chroma/document_store.py
  integrations/cohere/src/haystack_integrations/components/embedders/cohere/text_embedder.py
  integrations/cohere/src/haystack_integrations/components/generators/cohere/chat/chat_generator.py
  integrations/cohere/src/haystack_integrations/components/generators/cohere/generator.py
  integrations/fastembed/src/haystack_integrations/components/embedders/fastembed/fastembed_document_embedder.py
  integrations/fastembed/src/haystack_integrations/components/embedders/fastembed/fastembed_text_embedder.py
  integrations/google_vertex/src/haystack_integrations/components/generators/google_vertex/image_generator.py
  integrations/google_vertex/src/haystack_integrations/components/generators/google_vertex/question_answering.py
  integrations/google_vertex/src/haystack_integrations/components/generators/google_vertex/text_generator.py
  integrations/llama_cpp/src/haystack_integrations/components/generators/llama_cpp/generator.py
  integrations/opensearch/src/haystack_integrations/document_stores/opensearch/document_store.py
  integrations/qdrant/src/haystack_integrations/document_stores/qdrant/document_store.py
  integrations/qdrant/src/haystack_integrations/document_stores/qdrant/filters.py
  integrations/unstructured/src/haystack_integrations/components/converters/unstructured/converter.py
  nodes/text2speech/text2speech/utils/text_to_speech.py
Labels: type:documentation, integration:chroma, integration:opensearch, integration:unstructured-fileconverter, integration:cohere, integration:google-vertex, integration:qdrant, integration:amazon-bedrock, integration:llama_cpp, integration:astra, topic:DX, integration:amazon-sagemaker, integration:fastembed, integration:mongodb-atlas

#537 feat: Add `NvidiaTextEmbedder`, `NvidiaDocumentEmbedder` and co.
  integrations/nvidia/pydoc/config.yml
  integrations/nvidia/pyproject.toml
  integrations/nvidia/src/haystack_integrations/components/embedders/nvidia/__init__.py
  integrations/nvidia/src/haystack_integrations/components/embedders/nvidia/_schema.py
  integrations/nvidia/src/haystack_integrations/components/embedders/nvidia/document_embedder.py
  integrations/nvidia/src/haystack_integrations/components/embedders/nvidia/models.py
  integrations/nvidia/src/haystack_integrations/components/embedders/nvidia/text_embedder.py
  integrations/nvidia/src/haystack_integrations/utils/nvidia/__init__.py
  integrations/nvidia/src/haystack_integrations/utils/nvidia/client.py
  integrations/nvidia/tests/test_document_embedder.py
  integrations/nvidia/tests/test_placeholder.py
  integrations/nvidia/tests/test_text_embedder.py
Labels: type:documentation, integration:nvidia

#538 docs: Final API docs touches
  integrations/mongodb_atlas/pydoc/config.yml
  integrations/mongodb_atlas/src/haystack_integrations/document_stores/mongodb_atlas/document_store.py
Labels: type:documentation, integration:mongodb-atlas

#543 fix: `nvidia-haystack`- Handle non-strict env var secrets correctly
  integrations/nvidia/src/haystack_integrations/components/embedders/nvidia/document_embedder.py
  integrations/nvidia/src/haystack_integrations/components/embedders/nvidia/text_embedder.py
  integrations/nvidia/src/haystack_integrations/utils/nvidia/client.py
Labels: integration:nvidia

#546 MongoDB: improve example
  integrations/mongodb_atlas/examples/example.py
Labels: integration:mongodb-atlas

#544 docs: review integrations sagemaker
  integrations/amazon_sagemaker/src/haystack_integrations/components/generators/amazon_sagemaker/errors.py
  integrations/amazon_sagemaker/src/haystack_integrations/components/generators/amazon_sagemaker/sagemaker.py
Labels: type:documentation, integration:amazon-sagemaker

#541 docs: review Elastic
  integrations/elasticsearch/src/haystack_integrations/components/retrievers/elasticsearch/bm25_retriever.py
  integrations/elasticsearch/src/haystack_integrations/components/retrievers/elasticsearch/embedding_retriever.py
  integrations/elasticsearch/src/haystack_integrations/document_stores/elasticsearch/document_store.py
Labels: type:documentation, integration:elasticsearch

#540 docs: Fix `integrations.fastembed` API docs
  integrations/fastembed/src/haystack_integrations/components/embedders/fastembed/fastembed_document_embedder.py
  integrations/fastembed/src/haystack_integrations/components/embedders/fastembed/fastembed_text_embedder.py
Labels: type:documentation, integration:fastembed

#550 docs: review integrations bedrock
  integrations/amazon_bedrock/src/haystack_integrations/common/amazon_bedrock/errors.py
  integrations/amazon_bedrock/src/haystack_integrations/components/embedders/amazon_bedrock/document_embedder.py
  integrations/amazon_bedrock/src/haystack_integrations/components/embedders/amazon_bedrock/text_embedder.py
  integrations/amazon_bedrock/src/haystack_integrations/components/generators/amazon_bedrock/adapters.py
  integrations/amazon_bedrock/src/haystack_integrations/components/generators/amazon_bedrock/generator.py
  integrations/amazon_bedrock/src/haystack_integrations/components/generators/amazon_bedrock/handlers.py
Labels: type:documentation, integration:amazon-bedrock

#551 Ollama: change testing workflow
  .github/workflows/ollama.yml
  integrations/ollama/pyproject.toml
Labels: topic:CI, integration:ollama

#558 improvements to FastEmbed integration
  integrations/fastembed/pyproject.toml
  integrations/fastembed/src/haystack_integrations/components/embedders/fastembed/embedding_backend/fastembed_backend.py
  integrations/fastembed/src/haystack_integrations/components/embedders/fastembed/fastembed_document_embedder.py
  integrations/fastembed/src/haystack_integrations/components/embedders/fastembed/fastembed_text_embedder.py
  integrations/fastembed/tests/test_fastembed_document_embedder.py
  integrations/fastembed/tests/test_fastembed_text_embedder.py
Labels: type:documentation, integration:fastembed

#557 Add `NvidiaGenerator`
  integrations/nvidia/src/haystack_integrations/components/embedders/nvidia/_schema.py
  integrations/nvidia/src/haystack_integrations/components/embedders/nvidia/document_embedder.py
  integrations/nvidia/src/haystack_integrations/components/embedders/nvidia/text_embedder.py
  integrations/nvidia/src/haystack_integrations/components/generators/nvidia/__init__.py
  integrations/nvidia/src/haystack_integrations/components/generators/nvidia/_schema.py
  integrations/nvidia/src/haystack_integrations/components/generators/nvidia/chat/__init__.py
  integrations/nvidia/src/haystack_integrations/components/generators/nvidia/generator.py
  integrations/nvidia/src/haystack_integrations/components/generators/nvidia/models.py
  integrations/nvidia/src/haystack_integrations/utils/nvidia/client.py
  integrations/nvidia/tests/test_document_embedder.py
  integrations/nvidia/tests/test_generator.py
  integrations/nvidia/tests/test_text_embedder.py
Labels: type:documentation, integration:nvidia

#559 Add missing import in NvidiaGenerator docstring
  integrations/nvidia/src/haystack_integrations/components/generators/nvidia/__init__.py
  integrations/nvidia/src/haystack_integrations/components/generators/nvidia/generator.py
Labels: type:documentation, integration:nvidia

#561 fix tests
  integrations/cohere/tests/test_cohere_chat_generator.py
  integrations/cohere/tests/test_cohere_generators.py
Labels: integration:cohere

#555 [RAGAS] fix: Metric parameter validation and metric descriptors
  integrations/ragas/src/haystack_integrations/components/evaluators/ragas/evaluator.py
  integrations/ragas/src/haystack_integrations/components/evaluators/ragas/metrics.py
  integrations/ragas/tests/test_evaluator.py
Labels: type:documentation, integration:ragas

#542 MongoDB Atlas: filters
  integrations/mongodb_atlas/pyproject.toml
  integrations/mongodb_atlas/src/haystack_integrations/components/retrievers/mongodb_atlas/embedding_retriever.py
  integrations/mongodb_atlas/src/haystack_integrations/document_stores/mongodb_atlas/document_store.py
  integrations/mongodb_atlas/src/haystack_integrations/document_stores/mongodb_atlas/errors.py
  integrations/mongodb_atlas/src/haystack_integrations/document_stores/mongodb_atlas/filters.py
  integrations/mongodb_atlas/tests/test_document_store.py
  integrations/mongodb_atlas/tests/test_embedding_retrieval.py
Labels: type:documentation, integration:mongodb-atlas

#566 Make tests show coverage
  integrations/astra/pyproject.toml
  integrations/chroma/pyproject.toml
  integrations/cohere/pyproject.toml
  integrations/deepeval/pyproject.toml
  integrations/elasticsearch/pyproject.toml
  integrations/google_ai/pyproject.toml
  integrations/google_vertex/pyproject.toml
  integrations/gradient/pyproject.toml
  integrations/jina/pyproject.toml
  integrations/llama_cpp/pyproject.toml
  integrations/mistral/pyproject.toml
  integrations/nvidia/pyproject.toml
  integrations/opensearch/pyproject.toml
  integrations/optimum/pyproject.toml
  integrations/pinecone/pyproject.toml
  integrations/qdrant/pyproject.toml
  integrations/ragas/pyproject.toml
  integrations/uptrain/pyproject.toml
  integrations/weaviate/pyproject.toml
Labels: integration:chroma, integration:elasticsearch, integration:opensearch, integration:gradient, integration:cohere, integration:jina, integration:google-vertex, integration:qdrant, integration:pinecone, integration:google-ai, integration:llama_cpp, integration:weaviate, integration:astra, integration:uptrain, integration:deepeval, integration:ragas, integration:mistral, integration:optimum, integration:nvidia

#463 weaviate: migrate from weaviate python client v3 to v4
  integrations/weaviate/docker-compose.yml
  integrations/weaviate/pyproject.toml
  integrations/weaviate/src/haystack_integrations/document_stores/weaviate/_filters.py
  integrations/weaviate/src/haystack_integrations/document_stores/weaviate/document_store.py
  integrations/weaviate/tests/test_bm25_retriever.py
  integrations/weaviate/tests/test_document_store.py
  integrations/weaviate/tests/test_embedding_retriever.py
  integrations/weaviate/tests/test_filters.py
Labels: type:documentation, integration:weaviate

#574 Refactor tests
  integrations/chroma/tests/test_document_store.py
  integrations/cohere/tests/test_cohere_chat_generator.py
  integrations/deepeval/tests/test_evaluator.py
  integrations/elasticsearch/tests/test_document_store.py
  integrations/mongodb_atlas/tests/test_retriever.py
  integrations/opensearch/tests/test_document_store.py
  integrations/pgvector/tests/conftest.py
  integrations/pgvector/tests/test_document_store.py
  integrations/pgvector/tests/test_embedding_retrieval.py
  integrations/pgvector/tests/test_filters.py
  integrations/pgvector/tests/test_retriever.py
  integrations/weaviate/tests/test_document_store.py
Labels: type:documentation, integration:chroma, integration:elasticsearch, integration:opensearch, integration:cohere, integration:weaviate, integration:pgvector, integration:deepeval, integration:mongodb-atlas

#577 Notify nightly failures
  .github/actions/send_failure/action.yml
  .github/workflows/astra.yml
  .github/workflows/chroma.yml
  .github/workflows/cohere.yml
  .github/workflows/deepeval.yml
  .github/workflows/elasticsearch.yml
  .github/workflows/fastembed.yml
  .github/workflows/google_ai.yml
  .github/workflows/google_vertex.yml
  .github/workflows/gradient.yml
  .github/workflows/instructor_embedders.yml
  .github/workflows/jina.yml
  .github/workflows/llama_cpp.yml
  .github/workflows/mistral.yml
  .github/workflows/mongodb_atlas.yml
  .github/workflows/nvidia.yml
  .github/workflows/ollama.yml
  .github/workflows/opensearch.yml
  .github/workflows/optimum.yml
  .github/workflows/pgvector.yml
  .github/workflows/pinecone.yml
  .github/workflows/qdrant.yml
  .github/workflows/ragas.yml
  .github/workflows/unstructured.yml
  .github/workflows/uptrain.yml
  .github/workflows/weaviate.yml
Labels: integration:instructor-embedders, topic:CI, integration:chroma, integration:elasticsearch, integration:opensearch, integration:unstructured-fileconverter, integration:gradient, integration:cohere, integration:jina, integration:google-vertex, integration:qdrant, integration:pinecone, integration:google-ai, integration:ollama, integration:llama_cpp, integration:weaviate, integration:astra, integration:uptrain, integration:pgvector, integration:deepeval, integration:fastembed, integration:ragas, integration:mongodb-atlas, integration:mistral, integration:optimum, integration:nvidia

#556 docs: disable-class-def
  integrations/amazon_bedrock/pydoc/config.yml
  integrations/amazon_sagemaker/pydoc/config.yml
  integrations/astra/pydoc/config.yml
  integrations/chroma/pydoc/config.yml
  integrations/cohere/pydoc/config.yml
  integrations/deepeval/pydoc/config.yml
  integrations/elasticsearch/pydoc/config.yml
  integrations/fastembed/pydoc/config.yml
  integrations/google_ai/pydoc/config.yml
  integrations/google_vertex/pydoc/config.yml
  integrations/gradient/pydoc/config.yml
  integrations/instructor_embedders/pydoc/config.yml
  integrations/jina/pydoc/config.yml
  integrations/llama_cpp/pydoc/config.yml
  integrations/mistral/pydoc/config.yml
  integrations/mongodb_atlas/pydoc/config.yml
  integrations/nvidia/pydoc/config.yml
  integrations/ollama/pydoc/config.yml
  integrations/opensearch/pydoc/config.yml
  integrations/optimum/pydoc/config.yml
  integrations/pgvector/pydoc/config.yml
  integrations/pinecone/pydoc/config.yml
  integrations/qdrant/pydoc/config.yml
  integrations/ragas/pydoc/config.yml
  integrations/unstructured/pydoc/config.yml
  integrations/uptrain/pydoc/config.yml
  integrations/weaviate/pydoc/config.yml
Labels: integration:instructor-embedders, integration:chroma, integration:elasticsearch, integration:opensearch, integration:unstructured-fileconverter, integration:gradient, integration:cohere, integration:jina, integration:google-vertex, integration:qdrant, integration:pinecone, integration:amazon-bedrock, integration:google-ai, integration:ollama, integration:llama_cpp, integration:weaviate, integration:astra, integration:amazon-sagemaker, integration:uptrain, integration:pgvector, integration:deepeval, integration:fastembed, integration:ragas, integration:mongodb-atlas, integration:mistral, integration:optimum, integration:nvidia

#573 feat: Add AnthropicGenerator and AnthropicChatGenerator
  .github/workflows/anthropic.yml
  integrations/anthropic/LICENSE.txt
  integrations/anthropic/README.md
  integrations/anthropic/example/documentation_rag_with_claude.py
  integrations/anthropic/pydoc/config.yml
  integrations/anthropic/pyproject.toml
  integrations/anthropic/src/haystack_integrations/components/generators/anthropic/__init__.py
  integrations/anthropic/src/haystack_integrations/components/generators/anthropic/chat/__init__.py
  integrations/anthropic/src/haystack_integrations/components/generators/anthropic/chat/chat_generator.py
  integrations/anthropic/src/haystack_integrations/components/generators/anthropic/generator.py
  integrations/anthropic/tests/__init__.py
  integrations/anthropic/tests/conftest.py
  integrations/anthropic/tests/test_chat_generator.py
  integrations/anthropic/tests/test_generator.py
Labels: type:documentation, topic:CI

#586 docs: fix docstrings
  integrations/weaviate/src/haystack_integrations/components/retrievers/weaviate/bm25_retriever.py
  integrations/weaviate/src/haystack_integrations/components/retrievers/weaviate/embedding_retriever.py
  integrations/weaviate/src/haystack_integrations/document_stores/weaviate/document_store.py
  integrations/weaviate/tests/test_embedding_retriever.py
Labels: type:documentation, integration:weaviate

#580 Nightly - run unit tests with Haystack main branch
  .github/workflows/amazon_bedrock.yml
  .github/workflows/amazon_sagemaker.yml
  .github/workflows/anthropic.yml
  .github/workflows/astra.yml
  .github/workflows/chroma.yml
  .github/workflows/cohere.yml
  .github/workflows/deepeval.yml
  .github/workflows/elasticsearch.yml
  .github/workflows/fastembed.yml
  .github/workflows/google_ai.yml
  .github/workflows/google_vertex.yml
  .github/workflows/gradient.yml
  .github/workflows/instructor_embedders.yml
  .github/workflows/jina.yml
  .github/workflows/llama_cpp.yml
  .github/workflows/mistral.yml
  .github/workflows/mongodb_atlas.yml
  .github/workflows/nvidia.yml
  .github/workflows/ollama.yml
  .github/workflows/opensearch.yml
  .github/workflows/optimum.yml
  .github/workflows/pgvector.yml
  .github/workflows/pinecone.yml
  .github/workflows/qdrant.yml
  .github/workflows/ragas.yml
  .github/workflows/unstructured.yml
  .github/workflows/uptrain.yml
  .github/workflows/weaviate.yml
Labels: integration:instructor-embedders, topic:CI, integration:chroma, integration:elasticsearch, integration:opensearch, integration:unstructured-fileconverter, integration:gradient, integration:cohere, integration:jina, integration:google-vertex, integration:qdrant, integration:pinecone, integration:amazon-bedrock, integration:google-ai, integration:ollama, integration:llama_cpp, integration:weaviate, integration:astra, integration:amazon-sagemaker, integration:uptrain, integration:pgvector, integration:deepeval, integration:fastembed, integration:ragas, integration:mongodb-atlas, integration:mistral, integration:optimum, integration:nvidia

#568 Astra DB: Add integration usage tracking
  integrations/astra/examples/requirements.txt
  integrations/astra/src/haystack_integrations/document_stores/astra/astra_client.py
Labels: integration:astra

#588 Change Google AI concurrency group for tests
  .github/workflows/google_ai.yml
Labels: topic:CI, integration:google-ai

#594 Fix opensearch errors bulk write
  integrations/opensearch/src/haystack_integrations/document_stores/opensearch/document_store.py
  integrations/opensearch/tests/test_document_store.py
Labels: integration:opensearch

#593 Pinecone: temporarily skip failing tests
  integrations/pinecone/tests/test_filters.py
Labels: integration:pinecone

#591 test: relax test constraints
  integrations/cohere/tests/test_cohere_chat_generator.py
Labels: integration:cohere

#596 evaluation components - use API keys in tests
  .github/workflows/deepeval.yml
  .github/workflows/ragas.yml
  .github/workflows/uptrain.yml
Labels: topic:CI, integration:uptrain, integration:deepeval, integration:ragas

#597 Add NIM backend support
  integrations/nvidia/pyproject.toml
  integrations/nvidia/src/haystack_integrations/components/embedders/nvidia/__init__.py
  integrations/nvidia/src/haystack_integrations/components/embedders/nvidia/_nim_backend.py
  integrations/nvidia/src/haystack_integrations/components/embedders/nvidia/_nvcf_backend.py
  integrations/nvidia/src/haystack_integrations/components/embedders/nvidia/backend.py
  integrations/nvidia/src/haystack_integrations/components/embedders/nvidia/document_embedder.py
  integrations/nvidia/src/haystack_integrations/components/embedders/nvidia/models.py
  integrations/nvidia/src/haystack_integrations/components/embedders/nvidia/text_embedder.py
  integrations/nvidia/src/haystack_integrations/components/generators/nvidia/__init__.py
  integrations/nvidia/src/haystack_integrations/components/generators/nvidia/_nim_backend.py
  integrations/nvidia/src/haystack_integrations/components/generators/nvidia/_nvcf_backend.py
  integrations/nvidia/src/haystack_integrations/components/generators/nvidia/backend.py
  integrations/nvidia/src/haystack_integrations/components/generators/nvidia/generator.py
  integrations/nvidia/src/haystack_integrations/components/generators/nvidia/models.py
  integrations/nvidia/tests/test_document_embedder.py
  integrations/nvidia/tests/test_generator.py
  integrations/nvidia/tests/test_text_embedder.py
Labels: type:documentation, integration:nvidia

#539 feat: add JinaRanker component
  integrations/jina/src/haystack_integrations/components/rankers/jina/__init__.py
  integrations/jina/src/haystack_integrations/components/rankers/jina/ranker.py
  integrations/jina/tests/test_ranker.py
Labels: type:documentation, integration:jina

#599 docs: Update docstrings of Nvidia integrations
  integrations/nvidia/src/haystack_integrations/components/embedders/nvidia/document_embedder.py
  integrations/nvidia/src/haystack_integrations/components/embedders/nvidia/text_embedder.py
  integrations/nvidia/src/haystack_integrations/components/generators/nvidia/generator.py
Labels: type:documentation, integration:nvidia

#601 remove references to Python 3.7
  integrations/amazon_bedrock/pyproject.toml
  integrations/amazon_sagemaker/pyproject.toml
  integrations/anthropic/pyproject.toml
  integrations/astra/pyproject.toml
  integrations/chroma/pyproject.toml
  integrations/cohere/pyproject.toml
  integrations/deepeval/pyproject.toml
  integrations/elasticsearch/pyproject.toml
  integrations/fastembed/pyproject.toml
  integrations/google_ai/pyproject.toml
  integrations/google_vertex/pyproject.toml
  integrations/gradient/pyproject.toml
  integrations/instructor_embedders/pyproject.toml
  integrations/jina/pyproject.toml
  integrations/llama_cpp/pyproject.toml
  integrations/mistral/pyproject.toml
  integrations/mongodb_atlas/pyproject.toml
  integrations/nvidia/pyproject.toml
  integrations/ollama/pyproject.toml
  integrations/opensearch/pyproject.toml
  integrations/optimum/pyproject.toml
  integrations/pgvector/pyproject.toml
  integrations/pinecone/pyproject.toml
  integrations/qdrant/pyproject.toml
  integrations/ragas/pyproject.toml
  integrations/unstructured/pyproject.toml
  integrations/uptrain/pyproject.toml
  integrations/weaviate/pyproject.toml
Labels: integration:instructor-embedders, integration:chroma, integration:elasticsearch, integration:opensearch, integration:unstructured-fileconverter, integration:gradient, integration:cohere, integration:jina, integration:google-vertex, integration:qdrant, integration:pinecone, integration:amazon-bedrock, integration:google-ai, integration:ollama, integration:llama_cpp, integration:weaviate, integration:astra, integration:amazon-sagemaker, integration:uptrain, integration:pgvector, integration:deepeval, integration:fastembed, integration:ragas, integration:mongodb-atlas, integration:mistral, integration:optimum, integration:nvidia

#603 ci: Add generate docs to Nvidia workflow
  .github/workflows/nvidia.yml
  integrations/nvidia/pydoc/config.yml
  integrations/nvidia/pyproject.toml
Labels: topic:CI, integration:nvidia

#606 Make Document Stores initially skip `SparseEmbedding`
  integrations/astra/src/haystack_integrations/document_stores/astra/document_store.py
  integrations/chroma/src/haystack_integrations/document_stores/chroma/document_store.py
  integrations/elasticsearch/src/haystack_integrations/document_stores/elasticsearch/document_store.py
  integrations/mongodb_atlas/src/haystack_integrations/document_stores/mongodb_atlas/document_store.py
  integrations/pgvector/src/haystack_integrations/document_stores/pgvector/document_store.py
  integrations/pinecone/src/haystack_integrations/document_stores/pinecone/document_store.py
  integrations/qdrant/src/haystack_integrations/document_stores/qdrant/converters.py
  integrations/weaviate/src/haystack_integrations/document_stores/weaviate/document_store.py
Labels: integration:chroma, integration:elasticsearch, integration:qdrant, integration:pinecone, integration:weaviate, integration:astra, integration:pgvector, integration:mongodb-atlas

#609 fix: Pin cohere version
  integrations/cohere/pyproject.toml
Labels: integration:cohere

#605 CI: push docs when releasing a new version
  .github/workflows/CI_readme_sync.yml
Labels: topic:CI

#612 fix readme_sync workflow
  .github/workflows/CI_readme_sync.yml
Labels: topic:CI

#613 retry fixing readme_sync
  .github/workflows/CI_readme_sync.yml
Labels: topic:CI

#619 Pin databind-core
  integrations/chroma/pyproject.toml
Labels: integration:chroma

#621 Fix Weaviate retrievers returning no score
  integrations/weaviate/docker-compose.yml
  integrations/weaviate/src/haystack_integrations/document_stores/weaviate/document_store.py
  integrations/weaviate/tests/test_document_store.py
Labels: integration:weaviate

#622 Update Weaviate docstrings
  integrations/weaviate/src/haystack_integrations/document_stores/weaviate/document_store.py
Labels: type:documentation, integration:weaviate

#623 [Astra] Fix integration tests
  .github/workflows/astra.yml
Labels: topic:CI, integration:astra

#625 [gradient] Run integration tests in the CI
  .github/workflows/gradient.yml
  integrations/gradient/src/haystack_integrations/components/embedders/gradient/gradient_text_embedder.py
  integrations/gradient/tests/test_gradient_rag_pipelines.py
Labels: type:documentation, topic:CI, integration:gradient

#626 Google Generators: change `answers` to `replies`
  integrations/google_ai/src/haystack_integrations/components/generators/google_ai/gemini.py
  integrations/google_ai/tests/generators/test_gemini.py
  integrations/google_vertex/src/haystack_integrations/components/generators/google_vertex/code_generator.py
  integrations/google_vertex/src/haystack_integrations/components/generators/google_vertex/gemini.py
  integrations/google_vertex/src/haystack_integrations/components/generators/google_vertex/question_answering.py
  integrations/google_vertex/src/haystack_integrations/components/generators/google_vertex/text_generator.py
Labels: type:documentation, integration:google-vertex, integration:google-ai

#570 feat: Qdrant datetime filtering support
  integrations/qdrant/src/haystack_integrations/document_stores/qdrant/filters.py
  integrations/qdrant/tests/test_filters.py
Labels: type:documentation, integration:qdrant

#629 Add pyarrow as required dependency
  integrations/google_vertex/pyproject.toml
Labels: integration:google-vertex

#630 Disable nightly tests for uptrain
  .github/workflows/uptrain.yml
Labels: topic:CI, integration:uptrain

#633 fix docs build
  integrations/optimum/pyproject.toml
Labels: integration:optimum

#362 Add the Cohere client name to cohere requests
  integrations/cohere/src/haystack_integrations/components/embedders/cohere/document_embedder.py
  integrations/cohere/src/haystack_integrations/components/embedders/cohere/text_embedder.py
  integrations/cohere/src/haystack_integrations/components/generators/cohere/chat/chat_generator.py
  integrations/cohere/src/haystack_integrations/components/generators/cohere/generator.py
Labels: type:documentation, integration:cohere
