Repository deepset-ai/haystack-core-integrations, pull requests merged in 2024-04, with the labels that each got.

#636 fix: Correctly deserialize Pinecone docstore in embedding retriever
  integrations/pinecone/src/haystack_integrations/components/retrievers/pinecone/embedding_retriever.py
  integrations/pinecone/src/haystack_integrations/document_stores/pinecone/document_store.py
  integrations/pinecone/tests/test_document_store.py
  integrations/pinecone/tests/test_emebedding_retriever.py
  integrations/pinecone/tests/test_filters.py
Labels: type:documentation, integration:pinecone

#639 [Elasticsearch] fix: Filters not working with metadata that contain a space or capitalization
  integrations/elasticsearch/src/haystack_integrations/document_stores/elasticsearch/document_store.py
  integrations/opensearch/src/haystack_integrations/document_stores/opensearch/document_store.py
Labels: type:documentation, integration:elasticsearch, integration:opensearch

#579 feat(FastEmbed): Support for SPLADE Sparse Embedder
  .github/workflows/fastembed.yml
  integrations/fastembed/README.md
  integrations/fastembed/examples/example.py
  integrations/fastembed/examples/sparse_example.py
  integrations/fastembed/pydoc/config.yml
  integrations/fastembed/pyproject.toml
  integrations/fastembed/src/haystack_integrations/components/embedders/fastembed/__init__.py
  integrations/fastembed/src/haystack_integrations/components/embedders/fastembed/embedding_backend/fastembed_backend.py
  integrations/fastembed/src/haystack_integrations/components/embedders/fastembed/fastembed_sparse_document_embedder.py
  integrations/fastembed/src/haystack_integrations/components/embedders/fastembed/fastembed_sparse_text_embedder.py
  integrations/fastembed/tests/test_fastembed_sparse_document_embedder.py
  integrations/fastembed/tests/test_fastembed_sparse_text_embedder.py
Labels: type:documentation, topic:CI, integration:fastembed

#578 feat(Qdrant): start to work on sparse vector integration
  integrations/qdrant/pyproject.toml
  integrations/qdrant/src/haystack_integrations/components/retrievers/qdrant/__init__.py
  integrations/qdrant/src/haystack_integrations/components/retrievers/qdrant/retriever.py
  integrations/qdrant/src/haystack_integrations/document_stores/qdrant/converters.py
  integrations/qdrant/src/haystack_integrations/document_stores/qdrant/document_store.py
  integrations/qdrant/src/haystack_integrations/document_stores/qdrant/filters.py
  integrations/qdrant/tests/test_converters.py
  integrations/qdrant/tests/test_dict_converters.py
  integrations/qdrant/tests/test_retriever.py
Labels: type:documentation, topic:CI, integration:qdrant

#659 Qdrant: add migration utility function for Sparse Embedding support
  integrations/qdrant/pydoc/config.yml
  integrations/qdrant/src/haystack_integrations/document_stores/qdrant/__init__.py
  integrations/qdrant/src/haystack_integrations/document_stores/qdrant/document_store.py
  integrations/qdrant/src/haystack_integrations/document_stores/qdrant/migrate_to_sparse.py
Labels: type:documentation, integration:qdrant

#632 feat: Add Mistral Amazon Bedrock support
  integrations/amazon_bedrock/src/haystack_integrations/components/generators/amazon_bedrock/adapters.py
  integrations/amazon_bedrock/src/haystack_integrations/components/generators/amazon_bedrock/chat/adapters.py
  integrations/amazon_bedrock/src/haystack_integrations/components/generators/amazon_bedrock/chat/chat_generator.py
  integrations/amazon_bedrock/src/haystack_integrations/components/generators/amazon_bedrock/generator.py
  integrations/amazon_bedrock/tests/test_chat_generator.py
  integrations/amazon_bedrock/tests/test_generator.py
Labels: type:documentation, integration:amazon-bedrock

#667 Update CODEOWNERS
  .github/CODEOWNERS
Labels: topic:CI

#669 Ollama: Add ollama embedder example
  integrations/ollama/examples/chat_generator_example.py
  integrations/ollama/examples/embedders_example.py
  integrations/ollama/examples/generator_example.py
  integrations/ollama/pyproject.toml
Labels: integration:ollama

#670 fix: change ollama output name to 'meta'
  integrations/ollama/src/haystack_integrations/components/generators/ollama/generator.py
Labels: topic:CI, integration:ollama

#666 Qdrant: add embedding retrieval example
  integrations/qdrant/examples/embedding_retrieval.py
  integrations/qdrant/pyproject.toml
Labels: integration:qdrant

#672 add HF_TOKEN var to access gated models
  .github/workflows/amazon_bedrock.yml
Labels: topic:CI, integration:amazon-bedrock

#673 Pinecone - increase sleep time
  integrations/pinecone/tests/conftest.py
Labels: integration:pinecone

#679 chore: move uptrain integration to staging
  .github/labeler.yml
  .github/workflows/uptrain.yml
  README.md
  integrations/uptrain/LICENSE.txt
  integrations/uptrain/README.md
  integrations/uptrain/example/example.py
  integrations/uptrain/pydoc/config.yml
  integrations/uptrain/pyproject.toml
  integrations/uptrain/src/haystack_integrations/components/evaluators/uptrain/__init__.py
  integrations/uptrain/src/haystack_integrations/components/evaluators/uptrain/evaluator.py
  integrations/uptrain/src/haystack_integrations/components/evaluators/uptrain/metrics.py
  integrations/uptrain/tests/__init__.py
  integrations/uptrain/tests/test_evaluator.py
  integrations/uptrain/tests/test_metrics.py
Labels: type:documentation, topic:CI, integration:uptrain

#677 unpin ragas
  integrations/ragas/pyproject.toml
  integrations/ragas/src/haystack_integrations/components/evaluators/ragas/evaluator.py
  integrations/ragas/src/haystack_integrations/components/evaluators/ragas/metrics.py
Labels: integration:ragas

#681 rename `QdrantSparseRetriever` to `QdrantSparseEmbeddingRetriever`
  integrations/qdrant/src/haystack_integrations/components/retrievers/qdrant/__init__.py
  integrations/qdrant/src/haystack_integrations/components/retrievers/qdrant/retriever.py
  integrations/qdrant/tests/test_retriever.py
Labels: type:documentation, integration:qdrant

#680 chore: add license classifiers
  integrations/amazon_bedrock/pyproject.toml
  integrations/amazon_sagemaker/pyproject.toml
  integrations/anthropic/pyproject.toml
  integrations/astra/pyproject.toml
  integrations/chroma/pyproject.toml
  integrations/cohere/pyproject.toml
  integrations/deepeval/pyproject.toml
  integrations/elasticsearch/pyproject.toml
  integrations/fastembed/pyproject.toml
  integrations/google_ai/pyproject.toml
  integrations/google_vertex/pyproject.toml
  integrations/gradient/pyproject.toml
  integrations/instructor_embedders/pyproject.toml
  integrations/jina/pyproject.toml
  integrations/llama_cpp/pyproject.toml
  integrations/mistral/pyproject.toml
  integrations/mongodb_atlas/pyproject.toml
  integrations/nvidia/pyproject.toml
  integrations/ollama/pyproject.toml
  integrations/opensearch/pyproject.toml
  integrations/optimum/pyproject.toml
  integrations/pgvector/pyproject.toml
  integrations/pinecone/pyproject.toml
  integrations/qdrant/pyproject.toml
  integrations/ragas/pyproject.toml
  integrations/unstructured/pyproject.toml
  integrations/weaviate/pyproject.toml
Labels: integration:instructor-embedders, integration:chroma, integration:elasticsearch, integration:opensearch, integration:unstructured-fileconverter, integration:gradient, integration:cohere, integration:jina, integration:google-vertex, integration:qdrant, integration:pinecone, integration:amazon-bedrock, integration:google-ai, integration:ollama, integration:llama_cpp, integration:weaviate, integration:astra, integration:amazon-sagemaker, integration:pgvector, integration:deepeval, integration:fastembed, integration:ragas, integration:mongodb-atlas, integration:mistral, integration:optimum, integration:nvidia

#618 Bug fix for document_store.py
  integrations/astra/src/haystack_integrations/document_stores/astra/document_store.py
  integrations/astra/tests/test_document_store.py
Labels: type:documentation, integration:astra

#683 fix: pass namespace in the docstore init
  integrations/astra/src/haystack_integrations/document_stores/astra/document_store.py
  integrations/astra/tests/test_document_store.py
  integrations/astra/tests/test_retriever.py
Labels: integration:astra

#685 fix: Fix streaming_callback serialization in AmazonBedrockChatGenerator
  integrations/amazon_bedrock/src/haystack_integrations/components/generators/amazon_bedrock/chat/chat_generator.py
Labels: integration:amazon-bedrock

#687 Qdrant - improve docstrings for retrievers
  integrations/qdrant/src/haystack_integrations/components/retrievers/qdrant/retriever.py
Labels: type:documentation, integration:qdrant
