Repository deepset-ai/haystack-core-integrations, pull requests merged in 2024-05, with the labels that each got.

#702 Update Cohere integration to use Cohere SDK v5
  integrations/cohere/pyproject.toml
  integrations/cohere/src/haystack_integrations/components/embedders/cohere/document_embedder.py
  integrations/cohere/src/haystack_integrations/components/embedders/cohere/text_embedder.py
  integrations/cohere/src/haystack_integrations/components/embedders/cohere/utils.py
  integrations/cohere/src/haystack_integrations/components/generators/cohere/chat/chat_generator.py
  integrations/cohere/src/haystack_integrations/components/generators/cohere/generator.py
  integrations/cohere/src/haystack_integrations/components/rankers/cohere/ranker.py
  integrations/cohere/tests/test_cohere_chat_generator.py
  integrations/cohere/tests/test_cohere_generators.py
  integrations/cohere/tests/test_cohere_ranker.py
  integrations/cohere/tests/test_document_embedder.py
  integrations/cohere/tests/test_text_embedder.py
Labels: type:documentation, integration:cohere

#686 feat: Langfuse integration
  .github/labeler.yml
  .github/workflows/langfuse.yml
  README.md
  integrations/langfuse/LICENSE.txt
  integrations/langfuse/README.md
  integrations/langfuse/example/basic_rag.py
  integrations/langfuse/example/chat.py
  integrations/langfuse/example/requirements.txt
  integrations/langfuse/pydoc/config.yml
  integrations/langfuse/pyproject.toml
  integrations/langfuse/src/haystack_integrations/components/connectors/langfuse/__init__.py
  integrations/langfuse/src/haystack_integrations/components/connectors/langfuse/langfuse_connector.py
  integrations/langfuse/src/haystack_integrations/tracing/langfuse/__init__.py
  integrations/langfuse/src/haystack_integrations/tracing/langfuse/tracer.py
  integrations/langfuse/tests/__init__.py
  integrations/langfuse/tests/test_tracing.py
Labels: type:documentation, topic:CI

#700 Feature/bump chromadb dep to 0.5.0
  integrations/chroma/pyproject.toml
  integrations/chroma/src/haystack_integrations/document_stores/chroma/utils.py
  integrations/chroma/tests/test_document_store.py
Labels: integration:chroma

#713 chore: sync integrations docs with all the available Haystack versions
  .github/workflows/CI_readme_sync.yml
Labels: topic:CI

#711 Follow up: update Cohere integration to use Cohere SDK v5
  integrations/cohere/src/haystack_integrations/components/embedders/cohere/document_embedder.py
  integrations/cohere/src/haystack_integrations/components/embedders/cohere/text_embedder.py
  integrations/cohere/src/haystack_integrations/components/embedders/cohere/utils.py
  integrations/cohere/src/haystack_integrations/components/generators/cohere/chat/chat_generator.py
  integrations/cohere/src/haystack_integrations/components/generators/cohere/generator.py
  integrations/cohere/tests/test_cohere_chat_generator.py
  integrations/cohere/tests/test_cohere_generators.py
  integrations/cohere/tests/test_document_embedder.py
  integrations/cohere/tests/test_text_embedder.py
Labels: type:documentation, integration:cohere

#714 fix: add multi-line variable to step output in the right way
  .github/workflows/CI_readme_sync.yml
Labels: topic:CI

#704 Type hints in pgvector document store updated for 3.8 compability
  integrations/pgvector/src/haystack_integrations/document_stores/pgvector/filters.py
Labels: integration:pgvector

#688 `FastembedSparseTextEmbedder` - remove `batch_size`
  integrations/fastembed/src/haystack_integrations/components/embedders/fastembed/fastembed_document_embedder.py
  integrations/fastembed/src/haystack_integrations/components/embedders/fastembed/fastembed_sparse_document_embedder.py
  integrations/fastembed/src/haystack_integrations/components/embedders/fastembed/fastembed_sparse_text_embedder.py
  integrations/fastembed/src/haystack_integrations/components/embedders/fastembed/fastembed_text_embedder.py
  integrations/fastembed/tests/test_fastembed_sparse_text_embedder.py
Labels: type:documentation, integration:fastembed

#719 chore: pass the haystack docs version when generating docs
  .github/workflows/CI_readme_sync.yml
Labels: topic:CI

#716 fix: Fix langfuse nightly tests
  .github/workflows/langfuse.yml
Labels: topic:CI, integration:langfuse

#720 fix: make unit tests pass
  integrations/astra/pyproject.toml
  integrations/astra/tests/test_document_store.py
Labels: integration:astra

#701 Update Nvidia integration to support new endpoints
  .github/workflows/nvidia.yml
  integrations/nvidia/pyproject.toml
  integrations/nvidia/src/haystack_integrations/components/embedders/nvidia/__init__.py
  integrations/nvidia/src/haystack_integrations/components/embedders/nvidia/_nim_backend.py
  integrations/nvidia/src/haystack_integrations/components/embedders/nvidia/_nvcf_backend.py
  integrations/nvidia/src/haystack_integrations/components/embedders/nvidia/document_embedder.py
  integrations/nvidia/src/haystack_integrations/components/embedders/nvidia/text_embedder.py
  integrations/nvidia/src/haystack_integrations/components/embedders/nvidia/truncate.py
  integrations/nvidia/src/haystack_integrations/components/generators/nvidia/_nim_backend.py
  integrations/nvidia/src/haystack_integrations/components/generators/nvidia/_nvcf_backend.py
  integrations/nvidia/src/haystack_integrations/components/generators/nvidia/generator.py
  integrations/nvidia/tests/test_document_embedder.py
  integrations/nvidia/tests/test_generator.py
  integrations/nvidia/tests/test_text_embedder.py
Labels: type:documentation, topic:CI, integration:nvidia

#644 feat: Implement keyword retrieval for pgvector integration
  integrations/pgvector/examples/embedding_retrieval.py
  integrations/pgvector/pyproject.toml
  integrations/pgvector/src/haystack_integrations/components/retrievers/pgvector/__init__.py
  integrations/pgvector/src/haystack_integrations/components/retrievers/pgvector/embedding_retriever.py
  integrations/pgvector/src/haystack_integrations/components/retrievers/pgvector/keyword_retriever.py
  integrations/pgvector/src/haystack_integrations/document_stores/pgvector/document_store.py
  integrations/pgvector/src/haystack_integrations/document_stores/pgvector/filters.py
  integrations/pgvector/tests/conftest.py
  integrations/pgvector/tests/test_document_store.py
  integrations/pgvector/tests/test_keyword_retrieval.py
  integrations/pgvector/tests/test_retrievers.py
Labels: type:documentation, integration:pgvector

#725 chore: Use ChatMessage to_openai_format, update unit tests, pydocs
  .github/workflows/langfuse.yml
  integrations/langfuse/src/haystack_integrations/tracing/langfuse/tracer.py
  integrations/langfuse/tests/test_langfuse_span.py
  integrations/langfuse/tests/test_tracer.py
Labels: type:documentation, topic:CI, integration:langfuse

#728 docs: add missing api references
  integrations/anthropic/pydoc/config.yml
  integrations/langfuse/pydoc/config.yml
  integrations/nvidia/pydoc/config.yml
  integrations/pgvector/pydoc/config.yml
Labels: integration:pgvector, integration:nvidia, integration:langfuse

#705 Implement filters for chromaQueryTextRetriever via existing haystack filters logic
  integrations/chroma/src/haystack_integrations/components/retrievers/chroma/retriever.py
  integrations/chroma/src/haystack_integrations/document_stores/chroma/document_store.py
  integrations/chroma/tests/test_document_store.py
Labels: type:documentation, integration:chroma

#723 basic implementation of llama.cpp chat generation
  integrations/llama_cpp/pyproject.toml
  integrations/llama_cpp/src/haystack_integrations/components/generators/llama_cpp/__init__.py
  integrations/llama_cpp/src/haystack_integrations/components/generators/llama_cpp/chat/chat_generator.py
  integrations/llama_cpp/tests/test_chat_generator.py
Labels: type:documentation, integration:llama_cpp

#736 Use the local_files_only option available as of fastembed==0.2.7. It …
  integrations/fastembed/src/haystack_integrations/components/embedders/fastembed/embedding_backend/fastembed_backend.py
  integrations/fastembed/src/haystack_integrations/components/embedders/fastembed/fastembed_document_embedder.py
  integrations/fastembed/src/haystack_integrations/components/embedders/fastembed/fastembed_sparse_document_embedder.py
  integrations/fastembed/src/haystack_integrations/components/embedders/fastembed/fastembed_sparse_text_embedder.py
  integrations/fastembed/src/haystack_integrations/components/embedders/fastembed/fastembed_text_embedder.py
  integrations/fastembed/tests/test_fastembed_backend.py
  integrations/fastembed/tests/test_fastembed_document_embedder.py
  integrations/fastembed/tests/test_fastembed_sparse_document_embedder.py
  integrations/fastembed/tests/test_fastembed_sparse_text_embedder.py
  integrations/fastembed/tests/test_fastembed_text_embedder.py
Labels: type:documentation, integration:fastembed

#733 [Astra DB] Explicit projection when reading from Astra DB
  integrations/astra/src/haystack_integrations/document_stores/astra/astra_client.py
Labels: integration:astra

#738 [deepset-ai/haystack-core-integrations#727]
  integrations/pgvector/examples/hybrid_retrieval.py
Labels: integration:pgvector

#744 Update _nim_backend.py
  integrations/nvidia/src/haystack_integrations/components/embedders/nvidia/_nim_backend.py
  integrations/nvidia/src/haystack_integrations/components/generators/nvidia/_nim_backend.py
Labels: integration:nvidia

#740 Fix: max_tokens typo in Mistral Chat
  integrations/amazon_bedrock/src/haystack_integrations/components/generators/amazon_bedrock/chat/adapters.py
Labels: integration:amazon-bedrock

#735 adding support of "amazon.titan-embed-text-v2:0"
  integrations/amazon_bedrock/src/haystack_integrations/components/embedders/amazon_bedrock/document_embedder.py
  integrations/amazon_bedrock/src/haystack_integrations/components/embedders/amazon_bedrock/text_embedder.py
Labels: integration:amazon-bedrock

#748 feat: defer database connection to the first usage
  integrations/qdrant/src/haystack_integrations/document_stores/qdrant/document_store.py
  integrations/qdrant/tests/test_document_store.py
Labels: integration:qdrant

#721 fix: add support for custom mapping in ElasticsearchDocumentStore
  integrations/elasticsearch/src/haystack_integrations/document_stores/elasticsearch/document_store.py
  integrations/elasticsearch/tests/test_bm25_retriever.py
  integrations/elasticsearch/tests/test_document_store.py
  integrations/elasticsearch/tests/test_embedding_retriever.py
Labels: type:documentation, integration:elasticsearch

#692 Allow vanilla qdrant filters
  integrations/qdrant/src/haystack_integrations/components/retrievers/qdrant/retriever.py
  integrations/qdrant/src/haystack_integrations/document_stores/qdrant/document_store.py
  integrations/qdrant/src/haystack_integrations/document_stores/qdrant/filters.py
  integrations/qdrant/tests/test_filters.py
Labels: type:documentation, integration:qdrant

#755 fix: remove support for generate API
  integrations/cohere/src/haystack_integrations/components/generators/cohere/chat/chat_generator.py
  integrations/cohere/src/haystack_integrations/components/generators/cohere/generator.py
  integrations/cohere/tests/test_cohere_generators.py
Labels: type:documentation, integration:cohere

#754 feat: make get_distance and recreate_collection public, replace deprecated recreate_collection function
  integrations/qdrant/src/haystack_integrations/document_stores/qdrant/document_store.py
Labels: integration:qdrant

#753 feat: defer the database connection to when it's needed
  integrations/opensearch/src/haystack_integrations/document_stores/opensearch/document_store.py
  integrations/opensearch/tests/test_document_store.py
Labels: integration:opensearch

#739 feat: Improve `OpenSearchDocumentStore.__init__` arguments
  integrations/opensearch/src/haystack_integrations/document_stores/opensearch/document_store.py
  integrations/opensearch/tests/test_bm25_retriever.py
  integrations/opensearch/tests/test_document_store.py
  integrations/opensearch/tests/test_embedding_retriever.py
Labels: type:documentation, integration:opensearch

#766 feat: defer the database connection to when it's needed
  integrations/elasticsearch/src/haystack_integrations/document_stores/elasticsearch/document_store.py
  integrations/elasticsearch/tests/test_document_store.py
Labels: integration:elasticsearch

#769 feat: defer the database connection to when it's needed
  integrations/astra/src/haystack_integrations/document_stores/astra/document_store.py
  integrations/astra/tests/test_document_store.py
Labels: integration:astra

#770 feat: defer the database connection to when it's needed
  integrations/mongodb_atlas/src/haystack_integrations/document_stores/mongodb_atlas/document_store.py
  integrations/mongodb_atlas/tests/test_document_store.py
Labels: integration:mongodb-atlas

#774 ci: add `diff` command
  show_unreleased.sh
Labels: topic:CI, topic:DX

#775 fix: pass empty dict to filter instead of None
  integrations/mongodb_atlas/src/haystack_integrations/document_stores/mongodb_atlas/document_store.py
Labels: integration:mongodb-atlas

#777 chore: pin chromadb>=0.5.0
  integrations/chroma/pyproject.toml
Labels: integration:chroma

#757 feat: Add streaming support to OllamaChatGenerator
  integrations/ollama/src/haystack_integrations/components/generators/ollama/chat/chat_generator.py
  integrations/ollama/tests/test_chat_generator.py
Labels: type:documentation, integration:ollama
