Repository deepset-ai/haystack-core-integrations, pull requests merged in 2024-07, with the labels that each got.

#858 chore: Add system files in git ignore
  .gitignore
Labels: topic:DX

#833 feat: made truncation optional for BedrockGenerator
  integrations/amazon_bedrock/src/haystack_integrations/components/generators/amazon_bedrock/generator.py
  integrations/amazon_bedrock/tests/test_generator.py
Labels: type:documentation, integration:amazon-bedrock

#861 refactor!: Qdrant - remove unused init parameters: `content_field`, `name_field`, `embedding_field`, and `duplicate_documents`
  integrations/qdrant/src/haystack_integrations/document_stores/qdrant/converters.py
  integrations/qdrant/src/haystack_integrations/document_stores/qdrant/document_store.py
  integrations/qdrant/tests/test_dict_converters.py
  integrations/qdrant/tests/test_retriever.py
Labels: type:documentation, integration:qdrant

#862 refactor!: Qdrant - set `scale_score` default value to `False`
  integrations/qdrant/src/haystack_integrations/components/retrievers/qdrant/retriever.py
  integrations/qdrant/src/haystack_integrations/document_stores/qdrant/document_store.py
  integrations/qdrant/tests/test_retriever.py
Labels: integration:qdrant

#860 feat: add `score_threshold` to Qdrant Retrievers
  integrations/qdrant/src/haystack_integrations/components/retrievers/qdrant/retriever.py
  integrations/qdrant/src/haystack_integrations/document_stores/qdrant/document_store.py
  integrations/qdrant/tests/test_retriever.py
Labels: type:documentation, integration:qdrant

#864 feat: Qdrant - add support for BM42
  integrations/qdrant/pyproject.toml
  integrations/qdrant/src/haystack_integrations/document_stores/qdrant/document_store.py
  integrations/qdrant/tests/test_dict_converters.py
  integrations/qdrant/tests/test_document_store.py
  integrations/qdrant/tests/test_retriever.py
Labels: type:documentation, integration:qdrant

#866 fix: Fix typo in the `ORTModel.inputs_names` field to align with upstream
  integrations/optimum/src/haystack_integrations/components/embedders/optimum/_backend.py
Labels: integration:optimum

#827 feat: Add filter_policy to astra integration
  integrations/astra/src/haystack_integrations/components/retrievers/astra/retriever.py
  integrations/astra/tests/test_retriever.py
Labels: type:documentation, integration:astra

#824 feat: Add filter_policy to weaviate integration
  integrations/weaviate/pyproject.toml
  integrations/weaviate/src/haystack_integrations/components/retrievers/weaviate/__init__.py
  integrations/weaviate/src/haystack_integrations/components/retrievers/weaviate/bm25_retriever.py
  integrations/weaviate/src/haystack_integrations/components/retrievers/weaviate/embedding_retriever.py
  integrations/weaviate/src/haystack_integrations/document_stores/weaviate/_filters.py
  integrations/weaviate/src/haystack_integrations/document_stores/weaviate/auth.py
  integrations/weaviate/tests/conftest.py
  integrations/weaviate/tests/test_auth.py
  integrations/weaviate/tests/test_bm25_retriever.py
  integrations/weaviate/tests/test_document_store.py
  integrations/weaviate/tests/test_embedding_retriever.py
  integrations/weaviate/tests/test_filters.py
Labels: type:documentation, integration:weaviate

#820 feat: Add filter_policy to pgvector integration
  integrations/pgvector/src/haystack_integrations/components/retrievers/pgvector/embedding_retriever.py
  integrations/pgvector/src/haystack_integrations/components/retrievers/pgvector/keyword_retriever.py
  integrations/pgvector/tests/test_retrievers.py
Labels: type:documentation, integration:pgvector

#825 feat: Add filter_policy to elasticsearch integration
  integrations/elasticsearch/src/haystack_integrations/components/retrievers/elasticsearch/bm25_retriever.py
  integrations/elasticsearch/src/haystack_integrations/components/retrievers/elasticsearch/embedding_retriever.py
  integrations/elasticsearch/tests/test_bm25_retriever.py
  integrations/elasticsearch/tests/test_embedding_retriever.py
Labels: type:documentation, integration:elasticsearch

#819 feat: Add filter_policy to qdrant integration
  integrations/qdrant/pyproject.toml
  integrations/qdrant/src/haystack_integrations/components/retrievers/qdrant/retriever.py
  integrations/qdrant/tests/test_retriever.py
Labels: type:documentation, integration:qdrant

#822 feat: Add filter_policy to opensearch integration
  integrations/opensearch/src/haystack_integrations/components/retrievers/opensearch/bm25_retriever.py
  integrations/opensearch/src/haystack_integrations/components/retrievers/opensearch/embedding_retriever.py
  integrations/opensearch/tests/test_bm25_retriever.py
  integrations/opensearch/tests/test_embedding_retriever.py
Labels: type:documentation, integration:opensearch

#823 feat: Add filter_policy to mongodb_atlas integration
  integrations/mongodb_atlas/src/haystack_integrations/components/retrievers/mongodb_atlas/embedding_retriever.py
  integrations/mongodb_atlas/tests/test_retriever.py
Labels: type:documentation, integration:mongodb-atlas

#826 feat: Add filter_policy to chroma integration
  integrations/chroma/src/haystack_integrations/components/retrievers/chroma/retriever.py
  integrations/chroma/tests/test_retriever.py
Labels: type:documentation, integration:chroma

#884 chore: Minor retriever pydoc fix
  integrations/astra/src/haystack_integrations/components/retrievers/astra/retriever.py
  integrations/chroma/src/haystack_integrations/components/retrievers/chroma/retriever.py
  integrations/elasticsearch/src/haystack_integrations/components/retrievers/elasticsearch/bm25_retriever.py
  integrations/elasticsearch/src/haystack_integrations/components/retrievers/elasticsearch/embedding_retriever.py
  integrations/mongodb_atlas/src/haystack_integrations/components/retrievers/mongodb_atlas/embedding_retriever.py
  integrations/opensearch/src/haystack_integrations/components/retrievers/opensearch/bm25_retriever.py
  integrations/opensearch/src/haystack_integrations/components/retrievers/opensearch/embedding_retriever.py
  integrations/pgvector/src/haystack_integrations/components/retrievers/pgvector/embedding_retriever.py
  integrations/pgvector/src/haystack_integrations/components/retrievers/pgvector/keyword_retriever.py
  integrations/pinecone/src/haystack_integrations/components/retrievers/pinecone/embedding_retriever.py
  integrations/qdrant/src/haystack_integrations/components/retrievers/qdrant/retriever.py
  integrations/weaviate/src/haystack_integrations/components/retrievers/weaviate/bm25_retriever.py
  integrations/weaviate/src/haystack_integrations/components/retrievers/weaviate/embedding_retriever.py
Labels: type:documentation, integration:chroma, integration:elasticsearch, integration:opensearch, integration:qdrant, integration:pinecone, integration:weaviate, integration:astra, integration:pgvector, integration:mongodb-atlas

#863 fix: Allow search in ChromaDocumentStore without metadata
  integrations/chroma/src/haystack_integrations/document_stores/chroma/document_store.py
  integrations/chroma/tests/test_document_store.py
Labels: type:documentation, integration:chroma

#885 Fix Google AI tests failing
  integrations/google_ai/src/haystack_integrations/components/generators/google_ai/chat/gemini.py
  integrations/google_ai/tests/generators/chat/test_chat_gemini.py
Labels: type:documentation, integration:google-ai

#870 fix: errors in convert_filters_to_qdrant
  integrations/qdrant/src/haystack_integrations/document_stores/qdrant/filters.py
  integrations/qdrant/tests/test_filters.py
Labels: type:documentation, integration:qdrant

#896 fix: `Astra` - Fallback to default filter policy when deserializing retrievers without the init parameter
  integrations/astra/src/haystack_integrations/components/retrievers/astra/retriever.py
  integrations/astra/tests/test_retriever.py
Labels: integration:astra

#897 fix: `Chroma` - Fallback to default filter policy when deserializing retrievers without the init parameter
  integrations/chroma/src/haystack_integrations/components/retrievers/chroma/retriever.py
  integrations/chroma/tests/test_retriever.py
Labels: integration:chroma

#902 fix: `qdrant` - Fallback to default filter policy when deserializing retrievers without the init parameter
  integrations/qdrant/src/haystack_integrations/components/retrievers/qdrant/retriever.py
  integrations/qdrant/tests/test_retriever.py
Labels: integration:qdrant

#898 fix: `ElasticSearch` - Fallback to default filter policy when deserializing retrievers without the init parameter
  integrations/elasticsearch/src/haystack_integrations/components/retrievers/elasticsearch/bm25_retriever.py
  integrations/elasticsearch/src/haystack_integrations/components/retrievers/elasticsearch/embedding_retriever.py
  integrations/elasticsearch/tests/test_bm25_retriever.py
  integrations/elasticsearch/tests/test_embedding_retriever.py
Labels: integration:chroma, integration:elasticsearch

#901 fix: `pinecone` - Fallback to default filter policy when deserializing retrievers without the init parameter
  integrations/pinecone/src/haystack_integrations/components/retrievers/pinecone/embedding_retriever.py
  integrations/pinecone/tests/test_embedding_retriever.py
Labels: integration:pinecone

#906 feat: Add metadata parameter to ChromaDocumentStore.
  integrations/chroma/src/haystack_integrations/document_stores/chroma/document_store.py
  integrations/chroma/tests/test_document_store.py
Labels: type:documentation, integration:chroma

#899 fix: `Mongo` - Fallback to default filter policy when deserializing retrievers without the init parameter
  integrations/mongodb_atlas/src/haystack_integrations/components/retrievers/mongodb_atlas/embedding_retriever.py
  integrations/mongodb_atlas/tests/test_retriever.py
Labels: integration:mongodb-atlas

#900 fix: `PgVector` - Fallback to default filter policy when deserializing retrievers without the init parameter
  integrations/pgvector/src/haystack_integrations/components/retrievers/pgvector/embedding_retriever.py
  integrations/pgvector/src/haystack_integrations/components/retrievers/pgvector/keyword_retriever.py
  integrations/pgvector/tests/test_retrievers.py
Labels: type:documentation, integration:pgvector

#903 fix: `weaviate` - Fallback to default filter policy when deserializing retrievers without the init parameter
  integrations/weaviate/src/haystack_integrations/components/retrievers/weaviate/bm25_retriever.py
  integrations/weaviate/src/haystack_integrations/components/retrievers/weaviate/embedding_retriever.py
  integrations/weaviate/tests/test_bm25_retriever.py
  integrations/weaviate/tests/test_embedding_retriever.py
Labels: integration:weaviate

#907 fix: `ChromaDocumentStore` - discard `meta` items when the type of their value is not supported in Chroma
  integrations/chroma/src/haystack_integrations/document_stores/chroma/document_store.py
  integrations/chroma/tests/test_document_store.py
Labels: type:documentation, integration:chroma

#910 Add meta deprecration warning
  integrations/amazon_bedrock/src/haystack_integrations/components/generators/amazon_bedrock/chat/chat_generator.py
  integrations/anthropic/src/haystack_integrations/components/generators/anthropic/chat/chat_generator.py
Labels: type:documentation, integration:amazon-bedrock

#914 chore: Pinecone - fix import in conftest
  integrations/pinecone/tests/conftest.py
Labels: integration:pinecone

#874 Normalize logical filter conditions
  integrations/astra/src/haystack_integrations/document_stores/astra/filters.py
  integrations/astra/tests/test_document_store.py
Labels: type:documentation, integration:astra

#921 fix: Weaviate: Use collections.list_all instead of collections._get_all
  integrations/weaviate/src/haystack_integrations/document_stores/weaviate/document_store.py
Labels: integration:weaviate

#917 chore: Ragas - remove context relevancy metric
  integrations/ragas/pyproject.toml
  integrations/ragas/src/haystack_integrations/components/evaluators/ragas/metrics.py
  integrations/ragas/tests/test_evaluator.py
Labels: integration:ragas

#922 Raise warning for base_url ../embeddings .../completions .../rankings
  integrations/nvidia/src/haystack_integrations/components/embedders/nvidia/document_embedder.py
  integrations/nvidia/src/haystack_integrations/components/embedders/nvidia/text_embedder.py
  integrations/nvidia/src/haystack_integrations/components/generators/nvidia/generator.py
  integrations/nvidia/src/haystack_integrations/utils/nvidia/__init__.py
  integrations/nvidia/src/haystack_integrations/utils/nvidia/utils.py
  integrations/nvidia/tests/test_base_url.py
  integrations/nvidia/tests/test_document_embedder.py
  integrations/nvidia/tests/test_generator.py
  integrations/nvidia/tests/test_text_embedder.py
Labels: type:documentation, integration:nvidia

#925 chore: `Langfuse` - replace DynamicChatPromptBuilder with ChatPromptBuilder
  integrations/langfuse/example/chat.py
  integrations/langfuse/src/haystack_integrations/components/connectors/langfuse/langfuse_connector.py
Labels: type:documentation, integration:langfuse

#931 chore: Remove all `DynamicChatPromptBuilder` references in Langfuse integration
  integrations/langfuse/README.md
  integrations/langfuse/tests/test_tracing.py
Labels: integration:langfuse
