Repository deepset-ai/haystack-core-integrations, pull requests merged in 2025-04, with the labels that each got.

#1584 feat: AmazonBedrockGenerator - return response metadata
  integrations/amazon_bedrock/src/haystack_integrations/components/generators/amazon_bedrock/generator.py
  integrations/amazon_bedrock/tests/test_generator.py
Labels: type:documentation, integration:amazon-bedrock

#1578 docs: fix MCPTool import in code example
  integrations/mcp/README.md
Labels: integration:mcp

#1593 fix: amazon-bedrock-haystack remove init files to make them namespace packages
  integrations/amazon_bedrock/src/haystack_integrations/__init__.py
  integrations/amazon_bedrock/src/haystack_integrations/common/__init__.py
  integrations/amazon_bedrock/src/haystack_integrations/components/__init__.py
  integrations/amazon_bedrock/src/haystack_integrations/components/embedders/__init__.py
  integrations/amazon_bedrock/src/haystack_integrations/components/generators/__init__.py
  integrations/amazon_bedrock/src/haystack_integrations/components/rankers/__init__.py
Labels: integration:amazon-bedrock

#1594 fix: nvidia-haystack remove init files to make them namespace packages
  integrations/nvidia/src/haystack_integrations/__init__.py
  integrations/nvidia/src/haystack_integrations/components/__init__.py
  integrations/nvidia/src/haystack_integrations/components/embedders/__init__.py
  integrations/nvidia/src/haystack_integrations/components/generators/__init__.py
  integrations/nvidia/src/haystack_integrations/components/rankers/__init__.py
  integrations/nvidia/src/haystack_integrations/utils/__init__.py
Labels: integration:nvidia

#1595 fix: astra-haystack remove init files to make them namespace packages
  integrations/astra/__init__.py
Labels: integration:astra

#1597 fix!: rename env variables for Azure AI
  integrations/azure_ai_search/example/document_store.py
  integrations/azure_ai_search/example/embedding_retrieval.py
  integrations/azure_ai_search/src/haystack_integrations/document_stores/azure_ai_search/document_store.py
  integrations/azure_ai_search/tests/conftest.py
  integrations/azure_ai_search/tests/test_bm25_retriever.py
  integrations/azure_ai_search/tests/test_document_store.py
  integrations/azure_ai_search/tests/test_embedding_retriever.py
  integrations/azure_ai_search/tests/test_hybrid_retriever.py
Labels: type:documentation, breaking change, integration:azure-ai-search

#1601 test: test llama.cpp with python 3.12
  .github/workflows/llama_cpp.yml
  integrations/llama_cpp/pyproject.toml
  integrations/llama_cpp/tests/test_chat_generator.py
Labels: topic:CI, integration:llama_cpp

#1608 fix: Pin chroma
  integrations/chroma/pyproject.toml
Labels: integration:chroma

#1577 feat: adapt Ollama metadata to OpenAI format; support Ollama in Langfuse
  integrations/langfuse/src/haystack_integrations/tracing/langfuse/tracer.py
  integrations/ollama/src/haystack_integrations/components/generators/ollama/chat/chat_generator.py
  integrations/ollama/tests/test_chat_generator.py
Labels: type:documentation, integration:ollama, integration:langfuse

#1617 tests: upgrade gemini models
  integrations/google_ai/src/haystack_integrations/components/generators/google_ai/gemini.py
  integrations/google_ai/tests/generators/test_gemini.py
  integrations/google_vertex/src/haystack_integrations/components/generators/google_vertex/gemini.py
  integrations/google_vertex/tests/test_gemini.py
Labels: type:documentation, integration:google-vertex, integration:google-ai

#1618 fix: Update test and unpin chroma
  integrations/chroma/pyproject.toml
  integrations/chroma/src/haystack_integrations/components/retrievers/chroma/__init__.py
  integrations/chroma/src/haystack_integrations/components/retrievers/chroma/retriever.py
  integrations/chroma/src/haystack_integrations/document_stores/chroma/__init__.py
  integrations/chroma/src/haystack_integrations/document_stores/chroma/document_store.py
  integrations/chroma/src/haystack_integrations/document_stores/chroma/errors.py
  integrations/chroma/src/haystack_integrations/document_stores/chroma/filters.py
  integrations/chroma/src/haystack_integrations/document_stores/chroma/utils.py
  integrations/chroma/tests/__init__.py
  integrations/chroma/tests/test_document_store.py
  integrations/chroma/tests/test_retriever.py
Labels: integration:chroma

#1619 fix: Make chroma backwards compatible
  integrations/chroma/pyproject.toml
Labels: integration:chroma

#1623 chore: update ChatGenerators with `deserialize_tools_or_toolset_inplace`
  integrations/amazon_bedrock/src/haystack_integrations/components/generators/amazon_bedrock/chat/chat_generator.py
  integrations/anthropic/src/haystack_integrations/components/generators/anthropic/chat/chat_generator.py
  integrations/anthropic/src/haystack_integrations/components/generators/anthropic/chat/vertex_chat_generator.py
  integrations/cohere/src/haystack_integrations/components/generators/cohere/chat/chat_generator.py
  integrations/google_ai/src/haystack_integrations/components/generators/google_ai/chat/gemini.py
  integrations/google_vertex/src/haystack_integrations/components/generators/google_vertex/chat/gemini.py
  integrations/llama_cpp/src/haystack_integrations/components/generators/llama_cpp/chat/chat_generator.py
  integrations/ollama/src/haystack_integrations/components/generators/ollama/chat/chat_generator.py
Labels: integration:cohere, integration:google-vertex, integration:amazon-bedrock, integration:google-ai, integration:ollama, integration:llama_cpp

#1574 feat: add run_async for VertexAIGeminiChatGenerator
  integrations/google_vertex/pyproject.toml
  integrations/google_vertex/src/haystack_integrations/components/generators/google_vertex/chat/gemini.py
  integrations/google_vertex/tests/chat/test_gemini.py
Labels: type:documentation, integration:google-vertex

#1636 feat: Add `streaming_callback` to run methods of OllamaGenerator and OllamaChatGenerator
  integrations/ollama/src/haystack_integrations/components/generators/ollama/chat/chat_generator.py
  integrations/ollama/src/haystack_integrations/components/generators/ollama/generator.py
  integrations/ollama/tests/test_chat_generator.py
  integrations/ollama/tests/test_generator.py
Labels: type:documentation, integration:ollama

#1624 feat: Unify traces of sub-pipelines within pipelines with Langfuse
  integrations/langfuse/src/haystack_integrations/components/connectors/langfuse/langfuse_connector.py
  integrations/langfuse/src/haystack_integrations/tracing/langfuse/tracer.py
  integrations/langfuse/tests/test_langfuse_connector.py
  integrations/langfuse/tests/test_langfuse_span.py
  integrations/langfuse/tests/test_tracer.py
  integrations/langfuse/tests/test_tracing.py
Labels: type:documentation, integration:langfuse

#1627 fix!: Make sure to JSON serialize objects before setting content tags
  integrations/langfuse/README.md
  integrations/langfuse/pyproject.toml
  integrations/langfuse/src/haystack_integrations/tracing/langfuse/tracer.py
Labels: breaking change, integration:langfuse

#1633 fix: async failing in mongodb-integrations
  integrations/mongodb_atlas/pyproject.toml
  integrations/mongodb_atlas/src/haystack_integrations/components/retrievers/mongodb_atlas/full_text_retriever.py
  integrations/mongodb_atlas/src/haystack_integrations/document_stores/mongodb_atlas/document_store.py
  integrations/mongodb_atlas/tests/test_document_store_async.py
  integrations/mongodb_atlas/tests/test_fulltext_retrieval.py
  integrations/mongodb_atlas/tests/test_fulltext_retrieval_async.py
Labels: type:documentation, topic:CI, integration:mongodb-atlas

#1643 feat: Add AsyncExecutor in MCPTool, ensure MCPTool works in hayhooks
  integrations/mcp/examples/hayhooks/pipeline_wrapper.py
  integrations/mcp/examples/mcp_sse_client.py
  integrations/mcp/examples/mcp_stdio_client.py
  integrations/mcp/examples/time_pipeline.py
  integrations/mcp/src/haystack_integrations/tools/mcp/mcp_tool.py
  integrations/mcp/tests/test_mcp_tool.py
Labels: type:documentation, integration:mcp

#1607 feat: add halfvec support for storing high-dimensional embeddings in half-precision
  integrations/pgvector/src/haystack_integrations/document_stores/pgvector/converters.py
  integrations/pgvector/src/haystack_integrations/document_stores/pgvector/document_store.py
  integrations/pgvector/tests/conftest.py
  integrations/pgvector/tests/test_document_store.py
  integrations/pgvector/tests/test_retrievers.py
Labels: type:documentation, integration:pgvector

#1649 chore: update label name for stalebot
  .github/workflows/CI_stale.yml
Labels: topic:CI

#1651 test: Mistral - remove unneeded `tool_choice` parameter from `test_live_run_streaming`
  integrations/mistral/tests/test_mistral_chat_generator.py
Labels: integration:mistral

#1648 ci: Update to `GoogleAIGeminiGenerator` tests
  integrations/google_ai/tests/generators/chat/test_chat_gemini.py
  integrations/google_ai/tests/generators/test_gemini.py
Labels: integration:google-ai

#1647 feat: fix serialization errors in `AzureAIDocumentStore`
  integrations/azure_ai_search/pyproject.toml
  integrations/azure_ai_search/src/haystack_integrations/document_stores/azure_ai_search/document_store.py
  integrations/azure_ai_search/tests/test_document_store.py
Labels: type:documentation, integration:azure-ai-search

#1656 docs: update Unstructured example
  integrations/unstructured/src/haystack_integrations/components/converters/unstructured/converter.py
Labels: type:documentation, integration:unstructured-fileconverter

#1626 feat: Add MCPToolset
  integrations/mcp/examples/google_maps_agent.py
  integrations/mcp/examples/hayhooks/pipeline_wrapper.py
  integrations/mcp/examples/mcp_filtered_tools.py
  integrations/mcp/examples/mcp_sse_toolset.py
  integrations/mcp/examples/mcp_stdio_toolset.py
  integrations/mcp/examples/time_pipeline_toolset.py
  integrations/mcp/pyproject.toml
  integrations/mcp/src/haystack_integrations/tools/mcp/__init__.py
  integrations/mcp/src/haystack_integrations/tools/mcp/mcp_toolset.py
  integrations/mcp/tests/test_mcp_tool.py
  integrations/mcp/tests/test_mcp_toolset.py
Labels: type:documentation, integration:mcp

#1668 docs: add MCPToolset to do pydoc
  integrations/mcp/pydoc/config.yml
Labels: integration:mcp

#1669 docs: add MongoDBAtlasFullTextRetriever to API Reference
  integrations/mongodb_atlas/pydoc/config.yml
Labels: integration:mongodb-atlas

#1661 fix: Langfuse - remove warning "Creating a new trace without a parent span is not recommended ..."
  integrations/langfuse/src/haystack_integrations/tracing/langfuse/tracer.py
Labels: type:documentation, integration:langfuse

#1671 refactor: Refactor tests of AmazonBedrock Integration
  integrations/amazon_bedrock/src/haystack_integrations/components/generators/amazon_bedrock/chat/utils.py
  integrations/amazon_bedrock/tests/test_chat_generator.py
  integrations/amazon_bedrock/tests/test_chat_generator_utils.py
  integrations/amazon_bedrock/tests/test_document_embedder.py
  integrations/amazon_bedrock/tests/test_generator.py
  integrations/amazon_bedrock/tests/test_ranker.py
Labels: type:documentation, integration:amazon-bedrock
