Repository deepset-ai/haystack-core-integrations, pull requests merged in 2025-06, with the labels that each got.

#1873 feat: add run_async support for CohereTextEmbedder
  integrations/cohere/pyproject.toml
  integrations/cohere/src/haystack_integrations/components/embedders/cohere/text_embedder.py
  integrations/cohere/tests/test_text_embedder.py
Labels: type:documentation, integration:cohere

#1875 feat: Add Google GenAI GoogleGenAIChatGenerator
  .github/labeler.yml
  .github/workflows/google_genai.yml
  integrations/google_genai/LICENSE.txt
  integrations/google_genai/README.md
  integrations/google_genai/pydoc/config.yml
  integrations/google_genai/pyproject.toml
  integrations/google_genai/src/haystack_integrations/components/generators/google_genai/__init__.py
  integrations/google_genai/src/haystack_integrations/components/generators/google_genai/chat/chat_generator.py
  integrations/google_genai/src/haystack_integrations/components/generators/google_genai/chat/utils.py
  integrations/google_genai/tests/test_chat_generator.py
Labels: type:documentation, topic:CI

#1887 feat: Add detailed tracing for GoogleGenAIChatGenerator
  integrations/langfuse/src/haystack_integrations/tracing/langfuse/tracer.py
Labels: integration:langfuse

#1871 test: Pinecone - reenable tests for `comparison_not_equal` and `or_operator`
  integrations/pinecone/tests/test_filters.py
Labels: integration:pinecone

#1893 feat: Allow full metadata field customization
  .github/workflows/azure_ai_search.yml
  integrations/azure_ai_search/src/haystack_integrations/document_stores/azure_ai_search/document_store.py
  integrations/azure_ai_search/tests/conftest.py
  integrations/azure_ai_search/tests/test_bm25_retriever.py
  integrations/azure_ai_search/tests/test_document_store.py
  integrations/azure_ai_search/tests/test_embedding_retriever.py
  integrations/azure_ai_search/tests/test_hybrid_retriever.py
Labels: type:documentation, topic:CI, integration:azure-ai-search

#1729 fix: correct Azure AI search _in delimiter
  integrations/azure_ai_search/src/haystack_integrations/document_stores/azure_ai_search/filters.py
Labels: integration:azure-ai-search

#1776 feat: Add NvidiaChatGenerator based on OpenAIChatGenerator
  .github/workflows/nvidia.yml
  integrations/nvidia/pyproject.toml
  integrations/nvidia/src/haystack_integrations/components/generators/nvidia/__init__.py
  integrations/nvidia/src/haystack_integrations/components/generators/nvidia/chat/chat_generator.py
  integrations/nvidia/tests/test_nvidia_chat_generator.py
Labels: type:documentation, topic:CI, integration:nvidia

#1904 chore: pin langfuse<3.0.0
  integrations/langfuse/pyproject.toml
Labels: integration:langfuse

#1697 feat: add async support for Chroma + improve typing
  .github/workflows/chroma.yml
  integrations/chroma/pyproject.toml
  integrations/chroma/src/haystack_integrations/components/retrievers/chroma/retriever.py
  integrations/chroma/src/haystack_integrations/document_stores/chroma/document_store.py
  integrations/chroma/src/haystack_integrations/document_stores/chroma/filters.py
  integrations/chroma/tests/conftest.py
  integrations/chroma/tests/test_document_store.py
  integrations/chroma/tests/test_document_store_async.py
  integrations/chroma/tests/test_retriever.py
Labels: type:documentation, topic:CI, integration:chroma

#1910 feat: Chroma - fix typing + ship types by adding py.typed files
  integrations/chroma/pyproject.toml
  integrations/chroma/src/haystack_integrations/components/retrievers/chroma/retriever.py
  integrations/chroma/src/haystack_integrations/components/retrievers/py.typed
  integrations/chroma/src/haystack_integrations/document_stores/chroma/document_store.py
  integrations/chroma/src/haystack_integrations/document_stores/chroma/utils.py
  integrations/chroma/src/haystack_integrations/document_stores/py.typed
Labels: integration:chroma

#1783 feat: Add GoogleAITextEmbedder and GoogleAIDocumentEmbedder components
  integrations/google_genai/pydoc/config.yml
  integrations/google_genai/pyproject.toml
  integrations/google_genai/src/haystack_integrations/components/embedders/google_genai/__init__.py
  integrations/google_genai/src/haystack_integrations/components/embedders/google_genai/document_embedder.py
  integrations/google_genai/src/haystack_integrations/components/embedders/google_genai/text_embedder.py
  integrations/google_genai/tests/test_document_embedder.py
  integrations/google_genai/tests/test_text_embedder.py
Labels: type:documentation, integration:google-genai

#1911 chore: update md files for new hatch scripts
  CONTRIBUTING.md
  README.md
  integrations/amazon_bedrock/README.md
  integrations/amazon_sagemaker/README.md
  integrations/anthropic/README.md
  integrations/chroma/README.md
  integrations/cohere/README.md
  integrations/deepeval/README.md
  integrations/elasticsearch/README.md
  integrations/google_vertex/README.md
  integrations/langfuse/README.md
  integrations/mongodb_atlas/README.md
  integrations/nvidia/README.md
  integrations/ollama/README.md
  integrations/opensearch/README.md
  integrations/pgvector/README.md
  integrations/pinecone/README.md
  integrations/qdrant/README.md
  integrations/ragas/README.md
  integrations/unstructured/README.md
  integrations/weaviate/README.md
Labels: integration:chroma, integration:elasticsearch, integration:opensearch, integration:unstructured-fileconverter, integration:cohere, integration:google-vertex, integration:qdrant, integration:pinecone, integration:amazon-bedrock, integration:ollama, integration:weaviate, topic:DX, integration:amazon-sagemaker, integration:pgvector, integration:deepeval, integration:ragas, integration:mongodb-atlas, integration:nvidia, integration:anthropic, integration:langfuse

#1914 fix: fix pgvector types + add py.typed
  .github/workflows/pgvector.yml
  integrations/pgvector/pyproject.toml
  integrations/pgvector/src/haystack_integrations/components/retrievers/pgvector/embedding_retriever.py
  integrations/pgvector/src/haystack_integrations/components/retrievers/pgvector/keyword_retriever.py
  integrations/pgvector/src/haystack_integrations/components/retrievers/py.typed
  integrations/pgvector/src/haystack_integrations/document_stores/pgvector/document_store.py
  integrations/pgvector/src/haystack_integrations/document_stores/pgvector/filters.py
  integrations/pgvector/src/haystack_integrations/document_stores/py.typed
  integrations/pgvector/tests/test_document_store_async.py
Labels: type:documentation, topic:CI, integration:pgvector

#1912 fix: fix Bedrock types + add py.typed
  .github/workflows/amazon_bedrock.yml
  integrations/amazon_bedrock/pyproject.toml
  integrations/amazon_bedrock/src/haystack_integrations/common/amazon_bedrock/utils.py
  integrations/amazon_bedrock/src/haystack_integrations/common/py.typed
  integrations/amazon_bedrock/src/haystack_integrations/components/embedders/amazon_bedrock/document_embedder.py
  integrations/amazon_bedrock/src/haystack_integrations/components/embedders/amazon_bedrock/text_embedder.py
  integrations/amazon_bedrock/src/haystack_integrations/components/embedders/py.typed
  integrations/amazon_bedrock/src/haystack_integrations/components/generators/amazon_bedrock/adapters.py
  integrations/amazon_bedrock/src/haystack_integrations/components/generators/amazon_bedrock/chat/chat_generator.py
  integrations/amazon_bedrock/src/haystack_integrations/components/generators/amazon_bedrock/chat/utils.py
  integrations/amazon_bedrock/src/haystack_integrations/components/generators/amazon_bedrock/generator.py
  integrations/amazon_bedrock/src/haystack_integrations/components/generators/py.typed
  integrations/amazon_bedrock/src/haystack_integrations/components/rankers/py.typed
Labels: topic:CI, integration:amazon-bedrock

#1878 feat: add run_async support for OllamaDocumentEmbedder
  integrations/ollama/src/haystack_integrations/components/embedders/ollama/document_embedder.py
  integrations/ollama/tests/test_document_embedder.py
Labels: type:documentation, integration:ollama

#1923 fix: fix Elasticsearch types + add py.typed
  .github/workflows/elasticsearch.yml
  integrations/elasticsearch/pyproject.toml
  integrations/elasticsearch/src/haystack_integrations/components/retrievers/elasticsearch/bm25_retriever.py
  integrations/elasticsearch/src/haystack_integrations/components/retrievers/elasticsearch/embedding_retriever.py
  integrations/elasticsearch/src/haystack_integrations/components/retrievers/py.typed
  integrations/elasticsearch/src/haystack_integrations/document_stores/elasticsearch/document_store.py
  integrations/elasticsearch/src/haystack_integrations/document_stores/py.typed
Labels: topic:CI, integration:elasticsearch

#1919 fix: fix Qdrant types + add py.typed
  .github/workflows/qdrant.yml
  integrations/qdrant/pyproject.toml
  integrations/qdrant/src/haystack_integrations/components/retrievers/py.typed
  integrations/qdrant/src/haystack_integrations/components/retrievers/qdrant/retriever.py
  integrations/qdrant/src/haystack_integrations/document_stores/py.typed
  integrations/qdrant/src/haystack_integrations/document_stores/qdrant/converters.py
  integrations/qdrant/src/haystack_integrations/document_stores/qdrant/document_store.py
  integrations/qdrant/src/haystack_integrations/document_stores/qdrant/filters.py
  integrations/qdrant/src/haystack_integrations/document_stores/qdrant/migrate_to_sparse.py
Labels: type:documentation, topic:CI, integration:qdrant

#1928 chore: Use GEMINI_API_KEY as default env var for the api key (in addition to GOOGLE_API_KEY)
  integrations/google_genai/src/haystack_integrations/components/embedders/google_genai/document_embedder.py
  integrations/google_genai/src/haystack_integrations/components/embedders/google_genai/text_embedder.py
  integrations/google_genai/src/haystack_integrations/components/generators/google_genai/chat/chat_generator.py
  integrations/google_genai/tests/test_document_embedder.py
  integrations/google_genai/tests/test_text_embedder.py
Labels: type:documentation, integration:google-genai

#1922 fix: fix Ollama types + add py.typed
  .github/workflows/ollama.yml
  integrations/ollama/pyproject.toml
  integrations/ollama/src/haystack_integrations/components/embedders/ollama/document_embedder.py
  integrations/ollama/src/haystack_integrations/components/embedders/ollama/text_embedder.py
  integrations/ollama/src/haystack_integrations/components/embedders/py.typed
  integrations/ollama/src/haystack_integrations/components/generators/ollama/chat/chat_generator.py
  integrations/ollama/src/haystack_integrations/components/generators/ollama/generator.py
  integrations/ollama/src/haystack_integrations/components/generators/py.typed
Labels: type:documentation, topic:CI, integration:ollama

#1941 chore: stop testing instructor-embedders on windows + python 3.13
  .github/workflows/instructor_embedders.yml
Labels: integration:instructor-embedders, topic:CI

#1835 chore: Update mcp-haystack integration README.md
  integrations/mcp/README.md
Labels: integration:mcp

#1950 fix: `AnthropicChatGenerator` now properly can call tools that have no arguments when streaming is enabled
  integrations/anthropic/src/haystack_integrations/components/generators/anthropic/chat/chat_generator.py
  integrations/anthropic/tests/test_chat_generator.py
Labels: type:documentation, integration:anthropic

#1946 refactor!: Cohere: remove `use_async_client` parameter; fix types and add py.typed
  .github/workflows/cohere.yml
  integrations/cohere/pyproject.toml
  integrations/cohere/src/haystack_integrations/components/embedders/cohere/document_embedder.py
  integrations/cohere/src/haystack_integrations/components/embedders/cohere/text_embedder.py
  integrations/cohere/src/haystack_integrations/components/embedders/cohere/utils.py
  integrations/cohere/src/haystack_integrations/components/embedders/py.typed
  integrations/cohere/src/haystack_integrations/components/generators/cohere/chat/chat_generator.py
  integrations/cohere/src/haystack_integrations/components/generators/cohere/generator.py
  integrations/cohere/src/haystack_integrations/components/generators/py.typed
  integrations/cohere/src/haystack_integrations/components/rankers/cohere/ranker.py
  integrations/cohere/src/haystack_integrations/components/rankers/py.typed
  integrations/cohere/tests/test_document_embedder.py
  integrations/cohere/tests/test_text_embedder.py
Labels: type:documentation, topic:CI, integration:cohere

#1959 fix: fix Unstructured types + add py.typed
  .github/workflows/unstructured.yml
  integrations/unstructured/pyproject.toml
  integrations/unstructured/src/haystack_integrations/components/converters/py.typed
  integrations/unstructured/src/haystack_integrations/components/converters/unstructured/converter.py
Labels: topic:CI, integration:unstructured-fileconverter

#1977 fix: Weaviate - fix types + add py.typed
  .github/workflows/weaviate.yml
  integrations/weaviate/pyproject.toml
  integrations/weaviate/src/haystack_integrations/components/retrievers/py.typed
  integrations/weaviate/src/haystack_integrations/components/retrievers/weaviate/bm25_retriever.py
  integrations/weaviate/src/haystack_integrations/components/retrievers/weaviate/embedding_retriever.py
  integrations/weaviate/src/haystack_integrations/document_stores/py.typed
  integrations/weaviate/src/haystack_integrations/document_stores/weaviate/auth.py
  integrations/weaviate/src/haystack_integrations/document_stores/weaviate/document_store.py
Labels: topic:CI, integration:weaviate

#1983 feat: add asynchronous embedding methods for GoogleGenAIDocumentEmbedder and GoogleGenAITextEmbedder
  integrations/google_genai/src/haystack_integrations/components/embedders/google_genai/document_embedder.py
  integrations/google_genai/src/haystack_integrations/components/embedders/google_genai/text_embedder.py
  integrations/google_genai/tests/test_document_embedder.py
  integrations/google_genai/tests/test_text_embedder.py
Labels: type:documentation, integration:google-genai

#1985 chore: remove black
  .github/workflows/pinecone.yml
  integrations/amazon_bedrock/pyproject.toml
  integrations/amazon_sagemaker/pyproject.toml
  integrations/anthropic/pyproject.toml
  integrations/astra/pyproject.toml
  integrations/azure_ai_search/pyproject.toml
  integrations/chroma/pyproject.toml
  integrations/cohere/pyproject.toml
  integrations/deepeval/pyproject.toml
  integrations/elasticsearch/pyproject.toml
  integrations/fastembed/pyproject.toml
  integrations/github/pyproject.toml
  integrations/google_ai/pyproject.toml
  integrations/google_genai/pyproject.toml
  integrations/google_vertex/pyproject.toml
  integrations/instructor_embedders/pyproject.toml
  integrations/jina/pyproject.toml
  integrations/langfuse/pyproject.toml
  integrations/llama_cpp/pyproject.toml
  integrations/mcp/pyproject.toml
  integrations/meta_llama/pyproject.toml
  integrations/mistral/pyproject.toml
  integrations/mongodb_atlas/pyproject.toml
  integrations/nvidia/pyproject.toml
  integrations/ollama/pyproject.toml
  integrations/openrouter/pyproject.toml
  integrations/opensearch/pyproject.toml
  integrations/optimum/pyproject.toml
  integrations/pgvector/pyproject.toml
  integrations/pinecone/pyproject.toml
  integrations/qdrant/pyproject.toml
  integrations/ragas/pyproject.toml
  integrations/snowflake/pyproject.toml
  integrations/stackit/pyproject.toml
  integrations/unstructured/pyproject.toml
  integrations/weaviate/pyproject.toml
  integrations/weights_and_biases_weave/pyproject.toml
Labels: integration:instructor-embedders, topic:CI, integration:chroma, integration:elasticsearch, integration:opensearch, integration:unstructured-fileconverter, integration:cohere, integration:jina, integration:google-vertex, integration:qdrant, integration:pinecone, integration:amazon-bedrock, integration:google-ai, integration:ollama, integration:llama_cpp, integration:weaviate, integration:astra, integration:amazon-sagemaker, integration:pgvector, integration:deepeval, integration:fastembed, integration:ragas, integration:mongodb-atlas, integration:mistral, integration:optimum, integration:nvidia, integration:anthropic, integration:langfuse, integration:snowflake, integration:azure-ai-search, integration:stackit, integration:mcp, integration:github, integration:openrouter, integration:meta-llama, integration:google-genai

#2006 docs: sync code to deepset
  .github/utils/deepset_sync.py
  .github/workflows/sync_code_to_deepset.yml
Labels: topic:CI

#2009 chore: mistral - improve type checking + add py.typed
  .github/workflows/mistral.yml
  integrations/mistral/pyproject.toml
  integrations/mistral/src/haystack_integrations/components/embedders/py.typed
  integrations/mistral/src/haystack_integrations/components/generators/py.typed
  integrations/mistral/tests/test_mistral_document_embedder.py
  integrations/mistral/tests/test_mistral_text_embedder.py
Labels: topic:CI, integration:mistral

#2005 fix: fix Google GenAI types + add py.typed
  .github/workflows/google_genai.yml
  integrations/google_genai/pyproject.toml
  integrations/google_genai/src/haystack_integrations/components/embedders/py.typed
  integrations/google_genai/src/haystack_integrations/components/generators/google_genai/chat/chat_generator.py
  integrations/google_genai/src/haystack_integrations/components/generators/google_genai/chat/utils.py
  integrations/google_genai/src/haystack_integrations/components/generators/py.typed
Labels: topic:CI, integration:google-genai

#1995 chore: pgvector - update docker image in examples
  integrations/pgvector/examples/embedding_retrieval.py
  integrations/pgvector/examples/hybrid_retrieval.py
Labels: integration:pgvector

#2021 fix: fix Snowflake types + add py.typed
  .github/workflows/snowflake.yml
  integrations/snowflake/pyproject.toml
  integrations/snowflake/src/haystack_integrations/components/retrievers/py.typed
  integrations/snowflake/src/haystack_integrations/components/retrievers/snowflake/snowflake_table_retriever.py
Labels: topic:CI, integration:snowflake

#2018 fix: fix Optimum types + add py.typed
  .github/workflows/optimum.yml
  integrations/optimum/pyproject.toml
  integrations/optimum/src/haystack_integrations/components/embedders/optimum/_backend.py
  integrations/optimum/src/haystack_integrations/components/embedders/optimum/optimum_document_embedder.py
  integrations/optimum/src/haystack_integrations/components/embedders/optimum/optimum_text_embedder.py
  integrations/optimum/src/haystack_integrations/components/embedders/py.typed
Labels: topic:CI, integration:optimum

#2031 chore: stackit - improve type checking + add py.typed
  .github/workflows/stackit.yml
  integrations/stackit/pyproject.toml
  integrations/stackit/src/haystack_integrations/components/embedders/py.typed
  integrations/stackit/src/haystack_integrations/components/generators/py.typed
Labels: topic:CI, integration:stackit
