Repository deepset-ai/haystack-core-integrations, pull requests merged in 2025-02, with the labels that each got.

#1342 fix: Optimum - pin transformers and fix test
  integrations/optimum/pyproject.toml
  integrations/optimum/tests/test_optimum_text_embedder.py
Labels: integration:optimum

#1341 feat: Pgvector - add like and not like filters
  integrations/pgvector/src/haystack_integrations/document_stores/pgvector/filters.py
  integrations/pgvector/tests/test_filters.py
Labels: integration:pgvector

#1346 fix: remove setting `query_type="simple"` in retrieval request
  integrations/azure_ai_search/src/haystack_integrations/document_stores/azure_ai_search/document_store.py
Labels: integration:azure-ai-search

#1347 ci: skip tests when only CHANGELOG.md is modified
  .github/workflows/amazon_bedrock.yml
  .github/workflows/amazon_sagemaker.yml
  .github/workflows/anthropic.yml
  .github/workflows/astra.yml
  .github/workflows/azure_ai_search.yml
  .github/workflows/chroma.yml
  .github/workflows/cohere.yml
  .github/workflows/deepeval.yml
  .github/workflows/elasticsearch.yml
  .github/workflows/fastembed.yml
  .github/workflows/google_ai.yml
  .github/workflows/google_vertex.yml
  .github/workflows/instructor_embedders.yml
  .github/workflows/jina.yml
  .github/workflows/langfuse.yml
  .github/workflows/llama_cpp.yml
  .github/workflows/mistral.yml
  .github/workflows/mongodb_atlas.yml
  .github/workflows/nvidia.yml
  .github/workflows/ollama.yml
  .github/workflows/opensearch.yml
  .github/workflows/optimum.yml
  .github/workflows/pgvector.yml
  .github/workflows/pinecone.yml
  .github/workflows/qdrant.yml
  .github/workflows/ragas.yml
  .github/workflows/snowflake.yml
  .github/workflows/unstructured.yml
  .github/workflows/weaviate.yml
Labels: integration:instructor-embedders, topic:CI, integration:chroma, integration:elasticsearch, integration:opensearch, integration:unstructured-fileconverter, integration:cohere, integration:jina, integration:google-vertex, integration:qdrant, integration:pinecone, integration:amazon-bedrock, integration:google-ai, integration:ollama, integration:llama_cpp, integration:weaviate, integration:astra, integration:amazon-sagemaker, integration:pgvector, integration:deepeval, integration:fastembed, integration:ragas, integration:mongodb-atlas, integration:mistral, integration:optimum, integration:nvidia, integration:langfuse, integration:snowflake, integration:azure-ai-search

#1343 test: GoogleAI - reduce tests concurrency
  .github/workflows/google_ai.yml
Labels: topic:CI, integration:google-ai

#1349 base url validation fix and cleanup
  integrations/nvidia/src/haystack_integrations/components/embedders/nvidia/document_embedder.py
  integrations/nvidia/src/haystack_integrations/components/embedders/nvidia/text_embedder.py
  integrations/nvidia/src/haystack_integrations/components/generators/nvidia/generator.py
  integrations/nvidia/src/haystack_integrations/components/rankers/nvidia/ranker.py
  integrations/nvidia/src/haystack_integrations/utils/nvidia/__init__.py
  integrations/nvidia/src/haystack_integrations/utils/nvidia/models.py
  integrations/nvidia/src/haystack_integrations/utils/nvidia/nim_backend.py
  integrations/nvidia/src/haystack_integrations/utils/nvidia/utils.py
  integrations/nvidia/tests/test_base_url.py
  integrations/nvidia/tests/test_document_embedder.py
  integrations/nvidia/tests/test_generator.py
  integrations/nvidia/tests/test_ranker.py
  integrations/nvidia/tests/test_text_embedder.py
Labels: type:documentation, integration:nvidia

#1355 ci: make Ollama testing workflow more robust
  .github/workflows/ollama.yml
Labels: topic:CI, integration:ollama

#1359 test: Langfuse - wait before retrieving the trace in `test_custom_span_handler`
  integrations/langfuse/tests/test_tracing.py
Labels: integration:langfuse

#1357 feat!: llama.cpp - unified support for tools + refactoring
  integrations/llama_cpp/pyproject.toml
  integrations/llama_cpp/src/haystack_integrations/components/generators/llama_cpp/chat/chat_generator.py
  integrations/llama_cpp/tests/test_chat_generator.py
Labels: type:documentation, integration:llama_cpp

#1358 adding tools to MistralChatGenerator - based on OpenAIChatGenerator
  integrations/mistral/pyproject.toml
  integrations/mistral/src/haystack_integrations/components/generators/mistral/chat/chat_generator.py
  integrations/mistral/tests/test_mistral_chat_generator.py
Labels: type:documentation, integration:mistral

#1364 feat: add nvidia latest embedding models
  integrations/nvidia/src/haystack_integrations/utils/nvidia/models.py
Labels: type:documentation, integration:nvidia

#1367 chore: Remove robust tool chunk stream handling - added in Haystack 2.10
  integrations/mistral/src/haystack_integrations/components/generators/mistral/chat/chat_generator.py
  integrations/mistral/tests/test_mistral_chat_generator.py
Labels: type:documentation, integration:mistral

#1370 chore: pgvector - remove support for dataframe
  integrations/pgvector/pyproject.toml
  integrations/pgvector/src/haystack_integrations/document_stores/pgvector/document_store.py
  integrations/pgvector/src/haystack_integrations/document_stores/pgvector/filters.py
  integrations/pgvector/tests/test_document_store.py
  integrations/pgvector/tests/test_filters.py
Labels: integration:pgvector

#1375 test: langfuse - make polling more robust in tests
  integrations/langfuse/tests/test_tracing.py
Labels: type:documentation, integration:langfuse

#1361 fix: Chroma - make `filter_documents` method return embeddings
  integrations/chroma/src/haystack_integrations/document_stores/chroma/document_store.py
  integrations/chroma/tests/test_document_store.py
Labels: integration:chroma

#1372 chore!: pinecone - remove dataframe support
  integrations/pinecone/src/haystack_integrations/document_stores/pinecone/document_store.py
  integrations/pinecone/src/haystack_integrations/document_stores/pinecone/filters.py
  integrations/pinecone/tests/test_filters.py
Labels: integration:pinecone

#1373 chore: Chroma - better handle discarded fields
  integrations/chroma/src/haystack_integrations/document_stores/chroma/document_store.py
  integrations/chroma/tests/test_document_store.py
Labels: integration:chroma

#1377 chore!: Elasticsearch - remove dataframe support
  integrations/elasticsearch/pyproject.toml
  integrations/elasticsearch/src/haystack_integrations/document_stores/elasticsearch/document_store.py
  integrations/elasticsearch/src/haystack_integrations/document_stores/elasticsearch/filters.py
  integrations/elasticsearch/tests/test_document_store.py
Labels: integration:elasticsearch

#1378 chore!: OpenSearch - remove dataframe support
  integrations/opensearch/src/haystack_integrations/document_stores/opensearch/document_store.py
  integrations/opensearch/src/haystack_integrations/document_stores/opensearch/filters.py
  integrations/opensearch/tests/test_document_store.py
Labels: integration:opensearch

#1404 fix: Chroma - relax dataframe/blob test
  integrations/chroma/tests/test_document_store.py
Labels: integration:chroma

#1376 chore!: Astra - remove dataframe support
  integrations/astra/src/haystack_integrations/document_stores/astra/document_store.py
  integrations/astra/src/haystack_integrations/document_stores/astra/filters.py
  integrations/astra/tests/test_document_store.py
Labels: integration:astra

#1408 docs: fixing typo in Langfuse API docstring
  integrations/langfuse/src/haystack_integrations/components/connectors/langfuse/langfuse_connector.py
Labels: type:documentation, integration:langfuse

#1406 chore!: Weaviate - remove dataframe support
  integrations/weaviate/pyproject.toml
  integrations/weaviate/src/haystack_integrations/document_stores/weaviate/_filters.py
  integrations/weaviate/src/haystack_integrations/document_stores/weaviate/document_store.py
  integrations/weaviate/tests/test_bm25_retriever.py
  integrations/weaviate/tests/test_document_store.py
  integrations/weaviate/tests/test_embedding_retriever.py
Labels: type:documentation, integration:weaviate

#1413 docs: updating template for new integration
  .github/ISSUE_TEMPLATE/new-integration-proposal.md
Labels: topic:CI

#1414 feat: OpenSearch - async support
  integrations/opensearch/pyproject.toml
  integrations/opensearch/src/haystack_integrations/components/retrievers/opensearch/bm25_retriever.py
  integrations/opensearch/src/haystack_integrations/components/retrievers/opensearch/embedding_retriever.py
  integrations/opensearch/src/haystack_integrations/document_stores/opensearch/document_store.py
  integrations/opensearch/tests/test_bm25_retriever.py
  integrations/opensearch/tests/test_document_store.py
  integrations/opensearch/tests/test_embedding_retriever.py
Labels: type:documentation, integration:opensearch

#1416 fix: Unstructured - pin client version
  integrations/unstructured/pyproject.toml
Labels: integration:unstructured-fileconverter

#1403 chore!: Qdrant - remove dataframe support
  integrations/qdrant/src/haystack_integrations/document_stores/qdrant/converters.py
  integrations/qdrant/tests/test_converters.py
  integrations/qdrant/tests/test_filters.py
Labels: type:documentation, integration:qdrant

#1421 chore: remove Python 3.8 support
  .github/workflows/elasticsearch.yml
  .github/workflows/opensearch.yml
  integrations/amazon_bedrock/pyproject.toml
  integrations/amazon_sagemaker/pyproject.toml
  integrations/anthropic/pyproject.toml
  integrations/azure_ai_search/pyproject.toml
  integrations/cohere/pyproject.toml
  integrations/deepeval/pyproject.toml
  integrations/elasticsearch/pyproject.toml
  integrations/fastembed/pyproject.toml
  integrations/google_vertex/pyproject.toml
  integrations/instructor_embedders/pyproject.toml
  integrations/jina/pyproject.toml
  integrations/langfuse/pyproject.toml
  integrations/llama_cpp/pyproject.toml
  integrations/mistral/pyproject.toml
  integrations/mongodb_atlas/pyproject.toml
  integrations/nvidia/pyproject.toml
  integrations/ollama/pyproject.toml
  integrations/opensearch/pyproject.toml
  integrations/optimum/pyproject.toml
  integrations/pgvector/pyproject.toml
  integrations/pinecone/pyproject.toml
  integrations/qdrant/pyproject.toml
  integrations/ragas/pyproject.toml
  integrations/snowflake/pyproject.toml
  integrations/weaviate/pyproject.toml
Labels: integration:instructor-embedders, topic:CI, integration:elasticsearch, integration:opensearch, integration:cohere, integration:jina, integration:google-vertex, integration:qdrant, integration:pinecone, integration:amazon-bedrock, integration:ollama, integration:llama_cpp, integration:weaviate, integration:amazon-sagemaker, integration:pgvector, integration:deepeval, integration:fastembed, integration:ragas, integration:mongodb-atlas, integration:mistral, integration:optimum, integration:nvidia, integration:langfuse, integration:snowflake, integration:azure-ai-search

#1422 chore: Mistral - mark test as integration
  integrations/mistral/tests/test_mistral_chat_generator.py
Labels: integration:mistral

#1412 feat: integration with Weave the tracer from Weight and Bias
  .github/labeler.yml
  .github/workflows/weights_bias.yml
  README.md
  integrations/weights_bias/LICENSE.txt
  integrations/weights_bias/README.md
  integrations/weights_bias/example/README.md
  integrations/weights_bias/example/hybrid_retrieval.py
  integrations/weights_bias/pydoc/config.yml
  integrations/weights_bias/pyproject.toml
  integrations/weights_bias/src/haystack_integrations/components/connectors/__init__.py
  integrations/weights_bias/src/haystack_integrations/components/connectors/weave_connector.py
  integrations/weights_bias/src/haystack_integrations/tracing/weave/__init__.py
  integrations/weights_bias/src/haystack_integrations/tracing/weave/tracer.py
  integrations/weights_bias/tests/test_tracer.py
  integrations/weights_bias/tests/test_weave_connector.py
Labels: type:documentation, topic:CI

#1420 feat: use HaystackLLMWrapper instead of LangChain in Ragas evaluators
  integrations/ragas/example/evaluation_from_pipeline_example.py
  integrations/ragas/example/evaluation_with_components_example.py
  integrations/ragas/pyproject.toml
  integrations/ragas/src/haystack_integrations/components/evaluators/ragas/evaluator.py
  integrations/ragas/tests/test_evaluator.py
Labels: type:documentation, integration:ragas

#1425 test: Azure AI Search - improvements to the test suite
  integrations/azure_ai_search/tests/conftest.py
  integrations/azure_ai_search/tests/test_document_store.py
Labels: type:documentation, integration:azure-ai-search

#1431 fix: replace `pinecone-client` dependency with `pinecone`
  integrations/pinecone/pyproject.toml
Labels: integration:pinecone

#1436 test: change model from unsupported gemini-pro to gemini-1.5-pro
  integrations/google_ai/src/haystack_integrations/components/generators/google_ai/gemini.py
  integrations/google_ai/tests/generators/test_gemini.py
Labels: type:documentation, integration:google-ai

#1438 fix: OpenSearchDocumentStore depends on async opensearch-py
  integrations/opensearch/pyproject.toml
Labels: integration:opensearch

#1429 feat: adding async support to ElasticSearch retrievers and document store
  integrations/elasticsearch/pyproject.toml
  integrations/elasticsearch/src/haystack_integrations/components/retrievers/elasticsearch/bm25_retriever.py
  integrations/elasticsearch/src/haystack_integrations/components/retrievers/elasticsearch/embedding_retriever.py
  integrations/elasticsearch/src/haystack_integrations/document_stores/elasticsearch/document_store.py
  integrations/elasticsearch/tests/test_bm25_retriever.py
  integrations/elasticsearch/tests/test_document_store.py
  integrations/elasticsearch/tests/test_embedding_retriever.py
Labels: type:documentation, integration:elasticsearch

#1446 Docs: Add docstore description
  integrations/opensearch/src/haystack_integrations/document_stores/opensearch/document_store.py
Labels: type:documentation, integration:opensearch

#1445 feat: adding async to `AmazonChatGenerator`
  integrations/amazon_bedrock/pyproject.toml
  integrations/amazon_bedrock/src/haystack_integrations/common/amazon_bedrock/utils.py
  integrations/amazon_bedrock/src/haystack_integrations/components/generators/amazon_bedrock/chat/chat_generator.py
  integrations/amazon_bedrock/src/haystack_integrations/components/generators/amazon_bedrock/chat/utils.py
  integrations/amazon_bedrock/tests/conftest.py
  integrations/amazon_bedrock/tests/test_chat_generator.py
  integrations/amazon_bedrock/tests/test_text_embedder.py
Labels: type:documentation, integration:amazon-bedrock
