Repository deepset-ai/haystack-core-integrations, pull requests merged in 2025-01, with the labels that each got.

#1260 feat: add model `nvidia/llama-3.2-nv-rerankqa-1b-v2` to `_MODEL_ENDPOINT_MAP`
  integrations/nvidia/src/haystack_integrations/components/rankers/nvidia/ranker.py
Labels: integration:nvidia

#1270 fix: updates for Chroma 0.6.0
  .github/workflows/chroma.yml
  integrations/chroma/pyproject.toml
  integrations/chroma/src/haystack_integrations/document_stores/chroma/document_store.py
Labels: topic:CI, integration:chroma

#1271 test: adapt Mistral to OpenAI refactoring
  integrations/mistral/tests/test_mistral_chat_generator.py
Labels: integration:mistral

#1272 fix: Langfuse - fix messages conversion to OpenAI format
  integrations/langfuse/src/haystack_integrations/tracing/langfuse/tracer.py
Labels: integration:langfuse

#1278 feat: add nv-rerank-qa-mistral-4b:1 reranker
  integrations/nvidia/src/haystack_integrations/components/rankers/nvidia/ranker.py
Labels: integration:nvidia

#1281 test: remove tests involving serialization of lambdas
  integrations/anthropic/tests/test_chat_generator.py
  integrations/cohere/tests/test_cohere_chat_generator.py
Labels: integration:cohere

#1285 test: remove more tests involving serialization of lambdas
  integrations/anthropic/tests/test_generator.py
  integrations/anthropic/tests/test_vertex_chat_generator.py
  integrations/cohere/tests/test_cohere_generator.py
Labels: integration:cohere

#1277 fix: PgvectorDocumentStore - use appropriate schema name if dropping index
  integrations/pgvector/README.md
  integrations/pgvector/src/haystack_integrations/document_stores/pgvector/document_store.py
  integrations/pgvector/tests/test_document_store.py
Labels: integration:pgvector

#1289 fix: Cohere - fix `ChatMessage` creation
  integrations/cohere/src/haystack_integrations/components/generators/cohere/chat/chat_generator.py
  integrations/cohere/tests/test_cohere_chat_generator.py
Labels: integration:cohere

#1293 chore: Mistral - pin `haystack-ai>=2.9.0` and simplify test
  integrations/mistral/pyproject.toml
  integrations/mistral/tests/test_mistral_chat_generator.py
Labels: integration:mistral

#1292 chore: Langfuse - pin `haystack-ai>=2.9.0` and simplify message conversion
  integrations/langfuse/pyproject.toml
  integrations/langfuse/src/haystack_integrations/tracing/langfuse/tracer.py
Labels: integration:langfuse

#1294 feat: Ollama - add support for tools
  .github/workflows/ollama.yml
  integrations/ollama/pyproject.toml
  integrations/ollama/src/haystack_integrations/components/generators/ollama/chat/chat_generator.py
  integrations/ollama/tests/test_chat_generator.py
  integrations/ollama/tests/test_generator.py
Labels: type:documentation, topic:CI, integration:ollama

#1296 chore: Vertex - gently handle the future removal of `FUNCTION` role
  integrations/google_vertex/src/haystack_integrations/components/generators/google_vertex/chat/gemini.py
Labels: integration:google-vertex

#1298 chore: llama.cpp - gently handle the removal of `ChatMessage.from_function`
  integrations/llama_cpp/pyproject.toml
  integrations/llama_cpp/src/haystack_integrations/components/generators/llama_cpp/chat/chat_generator.py
  integrations/llama_cpp/tests/test_chat_generator.py
Labels: integration:llama_cpp

#1299 chore: OpenSearch - manually fix changelog
  integrations/opensearch/CHANGELOG.md
Labels: integration:opensearch

#1297 chore: Google-AI - gently handle the removal of `FUNCTION` role and `ChatMessage.from_function`
  integrations/google_ai/pyproject.toml
  integrations/google_ai/src/haystack_integrations/components/generators/google_ai/chat/gemini.py
  integrations/google_ai/tests/generators/chat/test_chat_gemini.py
Labels: integration:google-ai

#1287 feat: Add LangfuseConnector secure key management and serialization
  integrations/langfuse/src/haystack_integrations/components/connectors/langfuse/langfuse_connector.py
  integrations/langfuse/tests/test_tracing.py
Labels: type:documentation, integration:langfuse

#1300 feat: Anthropic - support for Tools + refactoring
  integrations/anthropic/example/prompt_caching.py
  integrations/anthropic/pyproject.toml
  integrations/anthropic/src/haystack_integrations/components/generators/anthropic/chat/chat_generator.py
  integrations/anthropic/src/haystack_integrations/components/generators/anthropic/chat/vertex_chat_generator.py
  integrations/anthropic/tests/test_chat_generator.py
  integrations/anthropic/tests/test_vertex_chat_generator.py
Labels: type:documentation

#1302 fix: Bedrock - pin `transformers!=4.48.0`
  integrations/amazon_bedrock/pyproject.toml
Labels: integration:amazon-bedrock

#1303 fix: Optimum - do not explictly pin `transformers`
  integrations/optimum/pyproject.toml
  integrations/optimum/tests/test_optimum_document_embedder.py
  integrations/optimum/tests/test_optimum_text_embedder.py
Labels: integration:optimum

#1301 fix: End langfuse generation spans properly
  integrations/langfuse/src/haystack_integrations/tracing/langfuse/tracer.py
Labels: type:documentation, integration:langfuse

#1308 feat: LangfuseConnector - add httpx.Client init param
  integrations/langfuse/pyproject.toml
  integrations/langfuse/src/haystack_integrations/components/connectors/langfuse/langfuse_connector.py
  integrations/langfuse/tests/test_tracing.py
Labels: type:documentation, integration:langfuse

#1291 feat(AWS Bedrock): Add Cohere Reranker
  integrations/amazon_bedrock/examples/bedrock_ranker_example.py
  integrations/amazon_bedrock/pydoc/config.yml
  integrations/amazon_bedrock/src/haystack_integrations/components/rankers/amazon_bedrock/__init__.py
  integrations/amazon_bedrock/src/haystack_integrations/components/rankers/amazon_bedrock/ranker.py
  integrations/amazon_bedrock/tests/test_ranker.py
Labels: type:documentation, integration:amazon-bedrock

#1316 feat!: Google AI - support for Tool + general refactoring
  integrations/google_ai/pyproject.toml
  integrations/google_ai/src/haystack_integrations/components/generators/google_ai/chat/gemini.py
  integrations/google_ai/tests/generators/chat/test_chat_gemini.py
Labels: type:documentation, integration:google-ai

#1317 refactor: GoogleAIGeminiGenerator - make some attributes public
  integrations/google_ai/src/haystack_integrations/components/generators/google_ai/gemini.py
  integrations/google_ai/tests/generators/test_gemini.py
Labels: type:documentation, integration:google-ai

#1304 feat: AmazonBedrockChatGenerator - add tools support
  integrations/amazon_bedrock/pyproject.toml
  integrations/amazon_bedrock/src/haystack_integrations/components/generators/amazon_bedrock/chat/chat_generator.py
  integrations/amazon_bedrock/tests/test_chat_generator.py
Labels: type:documentation, integration:cohere, integration:amazon-bedrock

#1314 refactor!: AmazonBedrockGenerator - remove truncation
  integrations/amazon_bedrock/pydoc/config.yml
  integrations/amazon_bedrock/pyproject.toml
  integrations/amazon_bedrock/src/haystack_integrations/components/generators/amazon_bedrock/generator.py
  integrations/amazon_bedrock/src/haystack_integrations/components/generators/amazon_bedrock/handlers.py
  integrations/amazon_bedrock/tests/conftest.py
  integrations/amazon_bedrock/tests/test_generator.py
Labels: type:documentation, integration:amazon-bedrock

#1319 chore: Bedrock - manually fix changelog
  integrations/amazon_bedrock/CHANGELOG.md
Labels: integration:amazon-bedrock

#1312 feat: Update Ragas integration
  integrations/ragas/example/evaluation_from_pipeline_example.py
  integrations/ragas/example/evaluation_with_components_example.py
  integrations/ragas/example/example.py
  integrations/ragas/pydoc/config.yml
  integrations/ragas/pyproject.toml
  integrations/ragas/src/haystack_integrations/components/evaluators/ragas/__init__.py
  integrations/ragas/src/haystack_integrations/components/evaluators/ragas/evaluator.py
  integrations/ragas/src/haystack_integrations/components/evaluators/ragas/metrics.py
  integrations/ragas/tests/test_evaluator.py
  integrations/ragas/tests/test_metrics.py
Labels: type:documentation, integration:ragas

#1321 refactor: Migrate Cohere to V2
  integrations/cohere/src/haystack_integrations/components/embedders/cohere/document_embedder.py
  integrations/cohere/src/haystack_integrations/components/embedders/cohere/embedding_types.py
  integrations/cohere/src/haystack_integrations/components/embedders/cohere/text_embedder.py
  integrations/cohere/src/haystack_integrations/components/embedders/cohere/utils.py
  integrations/cohere/src/haystack_integrations/components/rankers/cohere/ranker.py
  integrations/cohere/tests/test_cohere_ranker.py
  integrations/cohere/tests/test_document_embedder.py
  integrations/cohere/tests/test_text_embedder.py
Labels: type:documentation, integration:cohere

#1318 feat: CohereChatGenerator - add tools support
  integrations/cohere/pyproject.toml
  integrations/cohere/src/haystack_integrations/components/generators/cohere/chat/chat_generator.py
  integrations/cohere/tests/test_cohere_chat_generator.py
  integrations/cohere/tests/test_cohere_generator.py
Labels: type:documentation, integration:cohere

#1328 ci: Automatically open PR for subproject CHANGELOG.md updates
  .github/workflows/CI_pypi_release.yml
Labels: topic:CI

#1327 feat!: Google Vertex - support for Tool + general refactoring
  integrations/google_vertex/pyproject.toml
  integrations/google_vertex/src/haystack_integrations/components/generators/google_vertex/chat/gemini.py
  integrations/google_vertex/tests/chat/test_gemini.py
Labels: type:documentation, integration:google-vertex

#1330 fix: Fix failing automatic PR generation for changelog
  .github/workflows/CI_pypi_release.yml
Labels: topic:CI

#1326 feat: add `response_format` param to `OllamaChatGenerator`
  integrations/ollama/pyproject.toml
  integrations/ollama/src/haystack_integrations/components/generators/ollama/chat/chat_generator.py
  integrations/ollama/tests/test_chat_generator.py
Labels: type:documentation, integration:ollama

#1333 feat: Google AI Chat Generator - add tool config + improvements
  integrations/google_ai/src/haystack_integrations/components/generators/google_ai/chat/gemini.py
  integrations/google_ai/tests/generators/chat/test_chat_gemini.py
Labels: type:documentation, integration:google-ai

#1325 Fix(Bedrock): Reranker fails when document list is Empty
  integrations/amazon_bedrock/src/haystack_integrations/components/rankers/amazon_bedrock/ranker.py
  integrations/amazon_bedrock/tests/test_ranker.py
Labels: integration:amazon-bedrock

#1337 fix: VertexAIGeminiChatGenerator - do not create messages with empty text
  integrations/google_vertex/src/haystack_integrations/components/generators/google_vertex/chat/gemini.py
  integrations/google_vertex/tests/chat/test_gemini.py
Labels: integration:google-vertex

#1056 Client Reject Incompatible models
  integrations/nvidia/src/haystack_integrations/components/embedders/nvidia/document_embedder.py
  integrations/nvidia/src/haystack_integrations/components/embedders/nvidia/text_embedder.py
  integrations/nvidia/src/haystack_integrations/components/generators/nvidia/generator.py
  integrations/nvidia/src/haystack_integrations/utils/nvidia/__init__.py
  integrations/nvidia/src/haystack_integrations/utils/nvidia/model.py
  integrations/nvidia/src/haystack_integrations/utils/nvidia/nim_backend.py
  integrations/nvidia/src/haystack_integrations/utils/nvidia/utils.py
  integrations/nvidia/tests/test_document_embedder.py
  integrations/nvidia/tests/test_generator.py
  integrations/nvidia/tests/test_text_embedder.py
Labels: type:documentation, integration:nvidia
