Repository deepset-ai/haystack-core-integrations, pull requests merged in 2025-03, with the labels that each got.

#1447 Docs: Update document store descriptions for deepset Pipeline Builder
  integrations/elasticsearch/src/haystack_integrations/document_stores/elasticsearch/document_store.py
  integrations/mongodb_atlas/src/haystack_integrations/document_stores/mongodb_atlas/document_store.py
  integrations/qdrant/src/haystack_integrations/document_stores/qdrant/document_store.py
  integrations/weaviate/src/haystack_integrations/document_stores/weaviate/document_store.py
Labels: type:documentation, integration:elasticsearch, integration:qdrant, integration:weaviate, integration:mongodb-atlas

#1432 test: Reduce Nvidia API calls in integration tests
  .github/workflows/nvidia.yml
  integrations/nvidia/tests/test_document_embedder.py
  integrations/nvidia/tests/test_text_embedder.py
Labels: topic:CI, integration:nvidia

#1456 fix: workaround for Anthropic streaming with ddtrace (#1454)
  integrations/anthropic/src/haystack_integrations/components/generators/anthropic/chat/chat_generator.py
  integrations/anthropic/src/haystack_integrations/components/generators/anthropic/generator.py
Labels: type:documentation

#1464 fix: Update serialization/deserialization tests to add new parameter `connection_type_validation`
  integrations/amazon_bedrock/tests/test_chat_generator.py
  integrations/anthropic/tests/test_chat_generator.py
  integrations/cohere/tests/test_cohere_chat_generator.py
  integrations/google_ai/tests/generators/chat/test_chat_gemini.py
  integrations/google_vertex/tests/chat/test_gemini.py
  integrations/mistral/tests/test_mistral_chat_generator.py
Labels: integration:cohere, integration:google-vertex, integration:amazon-bedrock, integration:google-ai, integration:mistral, integration:anthropic

#1461 feat: adding async run to `AnthropicChatGenerator`
  integrations/anthropic/pyproject.toml
  integrations/anthropic/src/haystack_integrations/components/generators/anthropic/chat/chat_generator.py
  integrations/anthropic/tests/test_chat_generator.py
Labels: type:documentation

#1455 feat: support extended thinking mode with AnthropicGenerator
  integrations/anthropic/src/haystack_integrations/components/generators/anthropic/generator.py
  integrations/anthropic/tests/conftest.py
  integrations/anthropic/tests/test_generator.py
Labels: type:documentation

#1478 test: pinecone - increase sleep time in tests
  integrations/pinecone/tests/conftest.py
Labels: integration:pinecone

#1481 refactor: Qdrant - raise error if existing collection is not compatible with Haystack
  .github/workflows/qdrant.yml
  integrations/qdrant/pyproject.toml
  integrations/qdrant/src/haystack_integrations/document_stores/qdrant/document_store.py
  integrations/qdrant/tests/test_document_store.py
Labels: type:documentation, topic:CI, integration:qdrant

#1458 test: add test cases for all utils methods for Nvidia integration
  integrations/nvidia/src/haystack_integrations/utils/nvidia/models.py
  integrations/nvidia/src/haystack_integrations/utils/nvidia/utils.py
  integrations/nvidia/tests/test_utils.py
Labels: type:documentation, integration:nvidia

#1484 chore: Use Haystack logging across integrations
  integrations/amazon_bedrock/src/haystack_integrations/components/embedders/amazon_bedrock/document_embedder.py
  integrations/amazon_bedrock/src/haystack_integrations/components/embedders/amazon_bedrock/text_embedder.py
  integrations/amazon_bedrock/src/haystack_integrations/components/generators/amazon_bedrock/chat/chat_generator.py
  integrations/amazon_bedrock/src/haystack_integrations/components/generators/amazon_bedrock/generator.py
  integrations/amazon_bedrock/src/haystack_integrations/components/rankers/amazon_bedrock/ranker.py
  integrations/amazon_sagemaker/src/haystack_integrations/components/generators/amazon_sagemaker/sagemaker.py
  integrations/astra/examples/example.py
  integrations/astra/examples/pipeline_example.py
  integrations/astra/src/haystack_integrations/document_stores/astra/astra_client.py
  integrations/astra/src/haystack_integrations/document_stores/astra/document_store.py
  integrations/azure_ai_search/src/haystack_integrations/components/retrievers/azure_ai_search/bm25_retriever.py
  integrations/azure_ai_search/src/haystack_integrations/components/retrievers/azure_ai_search/embedding_retriever.py
  integrations/azure_ai_search/src/haystack_integrations/components/retrievers/azure_ai_search/hybrid_retriever.py
  integrations/azure_ai_search/src/haystack_integrations/document_stores/azure_ai_search/document_store.py
  integrations/chroma/src/haystack_integrations/document_stores/chroma/document_store.py
  integrations/cohere/src/haystack_integrations/components/generators/cohere/chat/chat_generator.py
  integrations/cohere/src/haystack_integrations/components/generators/cohere/generator.py
  integrations/elasticsearch/src/haystack_integrations/document_stores/elasticsearch/document_store.py
  integrations/google_ai/src/haystack_integrations/components/generators/google_ai/chat/gemini.py
  integrations/google_ai/src/haystack_integrations/components/generators/google_ai/gemini.py
  integrations/google_vertex/src/haystack_integrations/components/generators/google_vertex/captioner.py
  integrations/google_vertex/src/haystack_integrations/components/generators/google_vertex/chat/gemini.py
  integrations/google_vertex/src/haystack_integrations/components/generators/google_vertex/code_generator.py
  integrations/google_vertex/src/haystack_integrations/components/generators/google_vertex/gemini.py
  integrations/google_vertex/src/haystack_integrations/components/generators/google_vertex/image_generator.py
  integrations/google_vertex/src/haystack_integrations/components/generators/google_vertex/question_answering.py
  integrations/google_vertex/src/haystack_integrations/components/generators/google_vertex/text_generator.py
  integrations/llama_cpp/src/haystack_integrations/components/generators/llama_cpp/chat/chat_generator.py
  integrations/llama_cpp/src/haystack_integrations/components/generators/llama_cpp/generator.py
  integrations/mongodb_atlas/src/haystack_integrations/document_stores/mongodb_atlas/document_store.py
  integrations/pgvector/src/haystack_integrations/document_stores/pgvector/document_store.py
  integrations/pinecone/src/haystack_integrations/document_stores/pinecone/document_store.py
  integrations/qdrant/src/haystack_integrations/document_stores/qdrant/converters.py
  integrations/qdrant/src/haystack_integrations/document_stores/qdrant/document_store.py
  integrations/qdrant/src/haystack_integrations/document_stores/qdrant/migrate_to_sparse.py
  integrations/unstructured/src/haystack_integrations/components/converters/unstructured/converter.py
Labels: type:documentation, integration:chroma, integration:elasticsearch, integration:unstructured-fileconverter, integration:cohere, integration:google-vertex, integration:qdrant, integration:pinecone, integration:amazon-bedrock, integration:google-ai, integration:llama_cpp, integration:astra, integration:amazon-sagemaker, integration:pgvector, integration:mongodb-atlas, integration:azure-ai-search

#1485 test: skip tests that require credentials on PRs from forks for some integrations
  integrations/azure_ai_search/tests/conftest.py
  integrations/deepeval/tests/test_evaluator.py
  integrations/mongodb_atlas/tests/test_document_store.py
  integrations/mongodb_atlas/tests/test_embedding_retrieval.py
  integrations/mongodb_atlas/tests/test_fulltext_retrieval.py
  integrations/pinecone/tests/test_document_store.py
  integrations/pinecone/tests/test_filters.py
Labels: type:documentation, integration:pinecone, integration:deepeval, integration:mongodb-atlas, integration:azure-ai-search

#1492 chore: Astra - pin `haystack-ai>=2.11.0` and remove dataframe checks
  integrations/astra/pyproject.toml
  integrations/astra/src/haystack_integrations/document_stores/astra/document_store.py
  integrations/astra/tests/test_document_store.py
Labels: integration:astra

#1501 chore: Chroma - pin haystack and remove dataframe checks
  integrations/chroma/pyproject.toml
  integrations/chroma/src/haystack_integrations/document_stores/chroma/document_store.py
  integrations/chroma/tests/test_document_store.py
Labels: integration:chroma

#1500 chore: Azure AI - pin haystack and remove dataframe checks
  integrations/azure_ai_search/pyproject.toml
  integrations/azure_ai_search/src/haystack_integrations/document_stores/azure_ai_search/document_store.py
  integrations/azure_ai_search/tests/test_document_store.py
Labels: integration:azure-ai-search

#1502 chore: Elasticsearch - pin haystack and remove dataframe checks; add `aiohttp` dependency
  integrations/elasticsearch/pyproject.toml
  integrations/elasticsearch/src/haystack_integrations/document_stores/elasticsearch/document_store.py
  integrations/elasticsearch/tests/test_document_store.py
Labels: type:documentation, integration:elasticsearch

#1513 chore: OpenSearch - pin haystack and remove dataframe checks
  integrations/opensearch/pyproject.toml
  integrations/opensearch/src/haystack_integrations/document_stores/opensearch/document_store.py
  integrations/opensearch/tests/test_document_store.py
Labels: integration:opensearch

#1514 chore: Pinecone - pin haystack and remove dataframe checks
  integrations/pinecone/pyproject.toml
  integrations/pinecone/src/haystack_integrations/document_stores/pinecone/document_store.py
Labels: integration:pinecone

#1520 build: Snowflake - add pandas depenency
  integrations/snowflake/pyproject.toml
Labels: integration:snowflake

#1518 chore: pgvector - pin haystack and remove dataframe checks
  integrations/pgvector/pyproject.toml
  integrations/pgvector/src/haystack_integrations/document_stores/pgvector/document_store.py
Labels: integration:pgvector

#1521 chore: Weaviate - pin haystack and remove dataframe checks
  integrations/weaviate/pyproject.toml
  integrations/weaviate/src/haystack_integrations/document_stores/weaviate/document_store.py
  integrations/weaviate/tests/test_document_store.py
Labels: integration:weaviate

#1519 chore: qdrant - pin haystack and remove dataframe checks
  integrations/qdrant/pyproject.toml
  integrations/qdrant/src/haystack_integrations/document_stores/qdrant/converters.py
  integrations/qdrant/tests/test_converters.py
Labels: integration:qdrant

#1504 test: Mistral/Stackit - add pytz test dependency
  integrations/mistral/pyproject.toml
  integrations/stackit/pyproject.toml
Labels: integration:mistral

#1522 fix: OpenSearch - call `_ensure_index_exists` only at initialization
  integrations/opensearch/src/haystack_integrations/document_stores/opensearch/document_store.py
Labels: integration:opensearch

#1527 feat: AWS IAM Auth support for OpenSearch async
  integrations/opensearch/src/haystack_integrations/document_stores/opensearch/auth.py
  integrations/opensearch/src/haystack_integrations/document_stores/opensearch/document_store.py
  integrations/opensearch/tests/test_auth.py
Labels: type:documentation, integration:opensearch

#1490 fix: pgvector - improve `_create_table_if_not_exists` to be used without admin rights
  integrations/pgvector/src/haystack_integrations/document_stores/pgvector/document_store.py
  integrations/pgvector/tests/test_document_store.py
Labels: type:documentation, integration:pgvector

#1532 refactor: Update AWS Bedrock with improved docstrings and warning message
  integrations/amazon_bedrock/pyproject.toml
  integrations/amazon_bedrock/src/haystack_integrations/__init__.py
  integrations/amazon_bedrock/src/haystack_integrations/common/__init__.py
  integrations/amazon_bedrock/src/haystack_integrations/components/__init__.py
  integrations/amazon_bedrock/src/haystack_integrations/components/embedders/__init__.py
  integrations/amazon_bedrock/src/haystack_integrations/components/generators/__init__.py
  integrations/amazon_bedrock/src/haystack_integrations/components/generators/amazon_bedrock/adapters.py
  integrations/amazon_bedrock/src/haystack_integrations/components/generators/amazon_bedrock/chat/chat_generator.py
  integrations/amazon_bedrock/src/haystack_integrations/components/generators/amazon_bedrock/generator.py
  integrations/amazon_bedrock/src/haystack_integrations/components/rankers/__init__.py
  integrations/amazon_bedrock/tests/test_generator.py
Labels: type:documentation, integration:amazon-bedrock

#1537 feat: add weave_init_kwargs to WeaveConnector
  integrations/weights_bias/src/haystack_integrations/components/connectors/weave_connector.py
  integrations/weights_bias/src/haystack_integrations/tracing/weave/tracer.py
  integrations/weights_bias/tests/test_tracer.py
  integrations/weights_bias/tests/test_weave_connector.py
Labels: type:documentation

#1547 feat: Pgvector - async support (+ refactoring)
  integrations/pgvector/pyproject.toml
  integrations/pgvector/src/haystack_integrations/components/retrievers/pgvector/embedding_retriever.py
  integrations/pgvector/src/haystack_integrations/components/retrievers/pgvector/keyword_retriever.py
  integrations/pgvector/src/haystack_integrations/document_stores/pgvector/converters.py
  integrations/pgvector/src/haystack_integrations/document_stores/pgvector/document_store.py
  integrations/pgvector/src/haystack_integrations/document_stores/pgvector/filters.py
  integrations/pgvector/tests/conftest.py
  integrations/pgvector/tests/test_converters.py
  integrations/pgvector/tests/test_document_store.py
  integrations/pgvector/tests/test_document_store_async.py
  integrations/pgvector/tests/test_filters.py
  integrations/pgvector/tests/test_keyword_retrieval.py
  integrations/pgvector/tests/test_retrieval.py
  integrations/pgvector/tests/test_retrieval_async.py
  integrations/pgvector/tests/test_retrievers.py
Labels: type:documentation, integration:pgvector

#1551 fix: `TypeError` in `QdrantDocumentStore` when handling duplicate documents
  integrations/qdrant/src/haystack_integrations/document_stores/qdrant/document_store.py
Labels: integration:qdrant

#1543 feat: add run_async for GoogleAIGeminiChatGenerator
  integrations/google_ai/pyproject.toml
  integrations/google_ai/src/haystack_integrations/components/generators/google_ai/chat/gemini.py
  integrations/google_ai/tests/generators/chat/test_chat_gemini.py
Labels: type:documentation, integration:google-ai

#1554 fix: OpenSearch custom_query use without filters
  integrations/opensearch/src/haystack_integrations/document_stores/opensearch/document_store.py
  integrations/opensearch/tests/test_document_store.py
Labels: integration:opensearch

#1546 test: Add unit tests for Nvidia NimBackend
  integrations/nvidia/src/haystack_integrations/utils/nvidia/nim_backend.py
  integrations/nvidia/tests/test_nim_backend.py
Labels: type:documentation, integration:nvidia

#1560 feat: pinecone -- async support
  integrations/pinecone/pyproject.toml
  integrations/pinecone/src/haystack_integrations/components/retrievers/pinecone/embedding_retriever.py
  integrations/pinecone/src/haystack_integrations/document_stores/pinecone/document_store.py
  integrations/pinecone/src/haystack_integrations/document_stores/pinecone/filters.py
  integrations/pinecone/tests/conftest.py
  integrations/pinecone/tests/test_document_store.py
  integrations/pinecone/tests/test_document_store_async.py
  integrations/pinecone/tests/test_embedding_retriever.py
Labels: type:documentation, integration:pinecone

#1562 feat!: OpenSearch - apply `return_embedding` to `filter_documents`
  integrations/opensearch/src/haystack_integrations/document_stores/opensearch/document_store.py
  integrations/opensearch/tests/test_document_store.py
Labels: type:documentation, integration:opensearch

#1565 refactor: renaming the project/package to weights_biases_weave
  .github/workflows/weights_and_biases_weave.yml
  README.md
  integrations/weights_and_biases_weave/CHANGELOG.md
  integrations/weights_and_biases_weave/LICENSE.txt
  integrations/weights_and_biases_weave/README.md
  integrations/weights_and_biases_weave/example/README.md
  integrations/weights_and_biases_weave/example/hybrid_retrieval.py
  integrations/weights_and_biases_weave/pydoc/config.yml
  integrations/weights_and_biases_weave/pyproject.toml
  integrations/weights_and_biases_weave/src/haystack_integrations/components/connectors/__init__.py
  integrations/weights_and_biases_weave/src/haystack_integrations/components/connectors/weave_connector.py
  integrations/weights_and_biases_weave/src/haystack_integrations/tracing/weave/__init__.py
  integrations/weights_and_biases_weave/src/haystack_integrations/tracing/weave/tracer.py
  integrations/weights_and_biases_weave/tests/test_tracer.py
  integrations/weights_and_biases_weave/tests/test_weave_connector.py
  integrations/weights_bias/README.md
Labels: type:documentation, topic:CI

#1563 test: OpenSearch - reorganize test suite
  integrations/opensearch/tests/conftest.py
  integrations/opensearch/tests/test_auth.py
  integrations/opensearch/tests/test_document_store.py
  integrations/opensearch/tests/test_document_store_async.py
  integrations/opensearch/tests/test_filters.py
Labels: type:documentation, integration:opensearch

#1581 test: update tool serialization in tests to include `inputs_from_state` and `outputs_to_state`
  integrations/amazon_bedrock/tests/test_chat_generator.py
  integrations/anthropic/tests/test_chat_generator.py
  integrations/cohere/tests/test_cohere_chat_generator.py
  integrations/google_ai/tests/generators/chat/test_chat_gemini.py
  integrations/google_vertex/tests/chat/test_gemini.py
  integrations/mistral/tests/test_mistral_chat_generator.py
  integrations/ollama/tests/test_chat_generator.py
Labels: integration:cohere, integration:google-vertex, integration:amazon-bedrock, integration:google-ai, integration:ollama, integration:mistral

#1582 Improve streaming_callback type and use async version in run_async
  integrations/amazon_bedrock/src/haystack_integrations/components/generators/amazon_bedrock/chat/chat_generator.py
  integrations/amazon_bedrock/src/haystack_integrations/components/generators/amazon_bedrock/chat/utils.py
  integrations/amazon_bedrock/tests/test_chat_generator.py
Labels: type:documentation, integration:amazon-bedrock
