Repository deepset-ai/haystack-core-integrations, pull requests merged in 2025-09, with the labels that each got.

#2235 ci: download pre-built wheels for llama-cpp-python on macOS
  .github/workflows/llama_cpp.yml
  integrations/llama_cpp/pyproject.toml
Labels: topic:CI, integration:llama_cpp

#2234 feat: add `JinaDocumentImageEmbedder`
  integrations/jina/pydoc/config.yml
  integrations/jina/pyproject.toml
  integrations/jina/src/haystack_integrations/components/embedders/jina/__init__.py
  integrations/jina/src/haystack_integrations/components/embedders/jina/document_image_embedder.py
  integrations/jina/tests/test_document_image_embedder.py
Labels: type:documentation, integration:jina

#2282 chore: revert default model to `command-r-08-2024`
  integrations/cohere/README.md
  integrations/cohere/examples/cohere_generation.py
  integrations/cohere/src/haystack_integrations/components/generators/cohere/chat/chat_generator.py
  integrations/cohere/src/haystack_integrations/components/generators/cohere/generator.py
  integrations/cohere/tests/test_chat_generator.py
  integrations/cohere/tests/test_chat_generator_async.py
  integrations/cohere/tests/test_generator.py
Labels: integration:cohere

#2284 feat: support AWS Bedrock Guardrails in `AmazonBedrockChatGenerator`
  .github/workflows/CI_readme_sync.yml
  .github/workflows/amazon_bedrock.yml
  integrations/amazon_bedrock/src/haystack_integrations/components/generators/amazon_bedrock/chat/chat_generator.py
  integrations/amazon_bedrock/src/haystack_integrations/components/generators/amazon_bedrock/chat/utils.py
  integrations/amazon_bedrock/tests/test_chat_generator.py
  integrations/amazon_bedrock/tests/test_chat_generator_utils.py
Labels: type:documentation, topic:CI, integration:amazon-bedrock

#2292 feat!: adding `api_token` and `apit_token_id` support to `ElasticSearchDocumentStore`
  integrations/elasticsearch/src/haystack_integrations/document_stores/elasticsearch/document_store.py
  integrations/elasticsearch/tests/test_bm25_retriever.py
  integrations/elasticsearch/tests/test_document_store.py
  integrations/elasticsearch/tests/test_embedding_retriever.py
Labels: type:documentation, integration:elasticsearch

#2267 feat(aimlapi): add AIMLAPI provider integration
  integrations/aimlapi/CHANGELOG.md
  integrations/aimlapi/LICENSE.txt
  integrations/aimlapi/README.md
  integrations/aimlapi/examples/aimlapi_basic_example.py
  integrations/aimlapi/examples/aimlapi_with_tools_example.py
  integrations/aimlapi/pydoc/config.yml
  integrations/aimlapi/pyproject.toml
  integrations/aimlapi/src/haystack_integrations/components/generators/aimlapi/__init__.py
  integrations/aimlapi/src/haystack_integrations/components/generators/aimlapi/chat/__init__.py
  integrations/aimlapi/src/haystack_integrations/components/generators/aimlapi/chat/chat_generator.py
  integrations/aimlapi/src/haystack_integrations/components/generators/py.typed
  integrations/aimlapi/tests/__init__.py
  integrations/aimlapi/tests/test_aimlapi_chat_generator.py
  integrations/aimlapi/tests/test_aimlapi_chat_generator_async.py
  integrations/aimlapi/tests/test_aimlapi_stub_async.py
Labels: type:documentation, new integration

#2322 ci: Try using nohup to serve ollama
  .github/workflows/ollama.yml
Labels: topic:CI, integration:ollama

#2324 fix: Update default model to `gemini-2.0-flash` in `GoogleAIGeminiChatGenerator`
  integrations/google_ai/src/haystack_integrations/components/generators/google_ai/chat/gemini.py
  integrations/google_ai/tests/generators/chat/test_chat_gemini.py
Labels: type:documentation, integration:google-ai

#2279 feat: add run_async support for OllamaChatGenerator
  integrations/ollama/src/haystack_integrations/components/generators/ollama/chat/chat_generator.py
  integrations/ollama/tests/test_chat_generator.py
Labels: type:documentation, integration:ollama

#2268 feat: Add Together AI integration
  .github/labeler.yml
  .github/workflows/together_ai.yml
  README.md
  integrations/together_ai/CHANGELOG.md
  integrations/together_ai/LICENSE.txt
  integrations/together_ai/README.md
  integrations/together_ai/examples/chat_generator_with_tools.py
  integrations/together_ai/examples/generator_example.py
  integrations/together_ai/pydoc/config.yml
  integrations/together_ai/pyproject.toml
  integrations/together_ai/src/haystack_integrations/components/generators/together_ai/__init__.py
  integrations/together_ai/src/haystack_integrations/components/generators/together_ai/chat/__init__.py
  integrations/together_ai/src/haystack_integrations/components/generators/together_ai/chat/chat_generator.py
  integrations/together_ai/src/haystack_integrations/components/generators/together_ai/generator.py
  integrations/together_ai/src/haystack_integrations/components/py.typed
  integrations/together_ai/tests/__init__.py
  integrations/together_ai/tests/test_together_ai_chat_generator.py
  integrations/together_ai/tests/test_together_ai_chat_generator_async.py
  integrations/together_ai/tests/test_together_ai_generator.py
Labels: type:documentation, topic:CI, new integration

#2338 docs: recommend Streamable HTTP instead of SSE
  integrations/mcp/src/haystack_integrations/tools/mcp/mcp_tool.py
  integrations/mcp/src/haystack_integrations/tools/mcp/mcp_toolset.py
Labels: type:documentation, integration:mcp

#2347 fix: Update version of weaviate in docker-compose file
  integrations/weaviate/docker-compose.yml
Labels: integration:weaviate

#2343 feat: S3Downloader - add `s3_key_generation_function` param to customize S3 key generation
  integrations/amazon_bedrock/src/haystack_integrations/components/downloaders/s3/s3_downloader.py
  integrations/amazon_bedrock/tests/test_s3_downloader.py
Labels: type:documentation, integration:amazon-bedrock

#2351 chore: Update labeler for `aimlapi` integration
  .github/labeler.yml
Labels: topic:CI, integration:aimlapi
