Repository deepset-ai/haystack-core-integrations, pull requests merged in 2025-07, with the labels that each got.

#2039 feat: pass `component_info` to `StreamingChunk` in `OllamaChatGenerator`
  integrations/ollama/pyproject.toml
  integrations/ollama/src/haystack_integrations/components/generators/ollama/chat/chat_generator.py
  integrations/ollama/tests/test_chat_generator.py
Labels: integration:ollama

#2029 fix: fix openrouter types + add py.typed
  .github/workflows/openrouter.yml
  integrations/openrouter/pyproject.toml
  integrations/openrouter/src/haystack_integrations/components/generators/openrouter/chat/chat_generator.py
  integrations/openrouter/src/haystack_integrations/components/generators/py.typed
Labels: topic:CI, integration:openrouter

#2019 fix: Prevent MCPToolset GC during toolset add
  integrations/mcp/src/haystack_integrations/tools/mcp/mcp_toolset.py
Labels: type:documentation, integration:mcp

#2055 fix: Pgvector - ensure DB is initialized when calling `delete_table`
  integrations/pgvector/src/haystack_integrations/document_stores/pgvector/document_store.py
  integrations/pgvector/tests/test_document_store.py
  integrations/pgvector/tests/test_document_store_async.py
Labels: type:documentation, integration:pgvector

#1948 feat: Add "think" parameter for Ollama
  .github/workflows/ollama.yml
  integrations/ollama/src/haystack_integrations/components/generators/ollama/chat/chat_generator.py
  integrations/ollama/tests/test_chat_generator.py
  integrations/ollama/tests/test_generator.py
Labels: type:documentation, topic:CI, integration:ollama

#2042 feat: pass `component_info` to `StreamingChunk` in `AmazonBedrockChatGenerator`
  integrations/amazon_bedrock/pyproject.toml
  integrations/amazon_bedrock/src/haystack_integrations/components/generators/amazon_bedrock/chat/chat_generator.py
  integrations/amazon_bedrock/src/haystack_integrations/components/generators/amazon_bedrock/chat/utils.py
  integrations/amazon_bedrock/tests/test_chat_generator.py
  integrations/amazon_bedrock/tests/test_chat_generator_utils.py
Labels: type:documentation, integration:amazon-bedrock

#2056 feat: pass `component_info`to `StreamingChunk` in `AnthropicChatGenerator`
  integrations/anthropic/pyproject.toml
  integrations/anthropic/src/haystack_integrations/components/generators/anthropic/chat/chat_generator.py
  integrations/anthropic/tests/test_chat_generator.py
Labels: type:documentation, integration:anthropic

#2058 feat: Google GenAI - add support for Vertex API
  integrations/google_genai/pyproject.toml
  integrations/google_genai/src/haystack_integrations/components/common/google_genai/__init__.py
  integrations/google_genai/src/haystack_integrations/components/common/google_genai/utils.py
  integrations/google_genai/src/haystack_integrations/components/common/py.typed
  integrations/google_genai/src/haystack_integrations/components/embedders/google_genai/document_embedder.py
  integrations/google_genai/src/haystack_integrations/components/embedders/google_genai/text_embedder.py
  integrations/google_genai/src/haystack_integrations/components/generators/google_genai/chat/chat_generator.py
  integrations/google_genai/tests/test_document_embedder.py
  integrations/google_genai/tests/test_text_embedder.py
  integrations/google_genai/tests/test_utils.py
Labels: type:documentation, integration:google-genai

#2068 feat: Update deepeval integration to be unpinned
  integrations/deepeval/pyproject.toml
  integrations/deepeval/src/haystack_integrations/components/evaluators/deepeval/evaluator.py
  integrations/deepeval/src/haystack_integrations/components/evaluators/deepeval/metrics.py
  integrations/deepeval/tests/test_evaluator.py
Labels: integration:deepeval

#2079 chore: stage instructor embedders integration
  .github/labeler.yml
  .github/workflows/instructor_embedders.yml
  README.md
  integrations/instructor_embedders/CHANGELOG.md
  integrations/instructor_embedders/LICENSE.txt
  integrations/instructor_embedders/README.md
  integrations/instructor_embedders/pydoc/config.yml
  integrations/instructor_embedders/pyproject.toml
  integrations/instructor_embedders/src/haystack_integrations/components/embedders/instructor_embedders/__init__.py
  integrations/instructor_embedders/src/haystack_integrations/components/embedders/instructor_embedders/embedding_backend/__init__.py
  integrations/instructor_embedders/src/haystack_integrations/components/embedders/instructor_embedders/embedding_backend/instructor_backend.py
  integrations/instructor_embedders/src/haystack_integrations/components/embedders/instructor_embedders/instructor_document_embedder.py
  integrations/instructor_embedders/src/haystack_integrations/components/embedders/instructor_embedders/instructor_text_embedder.py
  integrations/instructor_embedders/tests/__init__.py
  integrations/instructor_embedders/tests/test_instructor_backend.py
  integrations/instructor_embedders/tests/test_instructor_document_embedder.py
  integrations/instructor_embedders/tests/test_instructor_text_embedder.py
Labels: type:documentation, integration:instructor-embedders, topic:CI

#2081 fix: Pin cohere to less than 5.16
  integrations/cohere/pyproject.toml
Labels: integration:cohere

#2085 fix: Fix watsonx-haystack Readme badges
  integrations/watsonx/README.md
Labels: integration:watsonx

#2086 fix: update Cohere to client 5.16.0
  integrations/cohere/pyproject.toml
  integrations/cohere/src/haystack_integrations/components/generators/cohere/chat/chat_generator.py
Labels: type:documentation, integration:cohere

#2064 feat: Add llama-stack integration
  .github/workflows/llama_stack.yml
  integrations/llama_stack/CHANGELOG.md
  integrations/llama_stack/LICENSE.txt
  integrations/llama_stack/README.md
  integrations/llama_stack/examples/llama-stack-with-tools.py
  integrations/llama_stack/pydoc/config.yml
  integrations/llama_stack/pyproject.toml
  integrations/llama_stack/src/haystack_integrations/components/generators/llama_stack/__init__.py
  integrations/llama_stack/src/haystack_integrations/components/generators/llama_stack/chat/__init__.py
  integrations/llama_stack/src/haystack_integrations/components/generators/llama_stack/chat/chat_generator.py
  integrations/llama_stack/src/haystack_integrations/components/generators/py.typed
  integrations/llama_stack/tests/__init__.py
  integrations/llama_stack/tests/test_llama_stack_chat_generator.py
Labels: type:documentation, topic:CI

#2095 fix: update labeler to include llama-stack
  .github/labeler.yml
Labels: topic:CI

#2099 ci: Reduce impact of integration tests for Watsonx integration
  integrations/watsonx/tests/test_chat_generator.py
  integrations/watsonx/tests/test_document_embedder.py
  integrations/watsonx/tests/test_generator.py
  integrations/watsonx/tests/test_text_embedder.py
Labels: type:documentation, integration:watsonx

#2108 feat: `LlamaCppChatGenerator` streaming support
  integrations/llama_cpp/src/haystack_integrations/components/generators/llama_cpp/chat/chat_generator.py
  integrations/llama_cpp/src/haystack_integrations/components/generators/llama_cpp/generator.py
  integrations/llama_cpp/tests/test_chat_generator.py
Labels: type:documentation, integration:llama_cpp

#2106 chore: Google AI - suggest users to switch to Google GenAI
  integrations/google_ai/src/haystack_integrations/components/generators/google_ai/chat/gemini.py
Labels: integration:google-ai

#2114 feat: Amazon Bedrock - multimodal support
  integrations/amazon_bedrock/pyproject.toml
  integrations/amazon_bedrock/src/haystack_integrations/components/generators/amazon_bedrock/chat/chat_generator.py
  integrations/amazon_bedrock/src/haystack_integrations/components/generators/amazon_bedrock/chat/utils.py
  integrations/amazon_bedrock/tests/conftest.py
  integrations/amazon_bedrock/tests/test_chat_generator.py
  integrations/amazon_bedrock/tests/test_chat_generator_utils.py
  integrations/amazon_bedrock/tests/test_files/apple.jpg
Labels: type:documentation, integration:amazon-bedrock

#1972 feat: Pinecone - add methods to close resources
  .github/workflows/pinecone.yml
  integrations/pinecone/src/haystack_integrations/document_stores/pinecone/document_store.py
  integrations/pinecone/tests/conftest.py
  integrations/pinecone/tests/test_document_store.py
  integrations/pinecone/tests/test_document_store_async.py
Labels: type:documentation, topic:CI, integration:pinecone

#2119 test: fix GitHub test
  integrations/github/tests/test_file_editor_tool.py
Labels: integration:github

#2121 fix: `AmazonBedrockChatGenerator` - fix bug with streaming + tool calls with no arguments
  integrations/amazon_bedrock/src/haystack_integrations/components/generators/amazon_bedrock/chat/utils.py
  integrations/amazon_bedrock/tests/test_chat_generator.py
  integrations/amazon_bedrock/tests/test_chat_generator_utils.py
Labels: type:documentation, integration:amazon-bedrock
