Repository deepset-ai/haystack-core-integrations, pull requests merged in 2025-08, with the labels that each got.

#2137 fix: Fix meta-llama integration test
  integrations/meta_llama/tests/test_llama_chat_generator.py
Labels: integration:meta-llama

#2115 fix: ClientSession expires after idle periods causing ClosedResourceError with empty error message
  integrations/mcp/src/haystack_integrations/tools/mcp/mcp_tool.py
  integrations/mcp/tests/test_mcp_integration.py
  integrations/mcp/tests/test_mcp_server_info.py
  integrations/mcp/tests/test_mcp_timeout_reconnection.py
Labels: type:documentation, integration:mcp

#2142 fix!: `GoogleGenAIChatGenerator` - align `finish_reason` between streaming and non-streaming
  integrations/google_genai/src/haystack_integrations/components/generators/google_genai/chat/chat_generator.py
  integrations/google_genai/tests/test_chat_generator.py
Labels: integration:google-genai

#2094 Adds support for thinking when using Claude with BedrockChatGenerator in multi-turn conversations
  integrations/amazon_bedrock/src/haystack_integrations/components/generators/amazon_bedrock/chat/utils.py
  integrations/amazon_bedrock/tests/test_chat_generator.py
  integrations/amazon_bedrock/tests/test_chat_generator_utils.py
Labels: integration:amazon-bedrock

#2149 chore: `CohereChatGenerator` - make `finish_reason` and usage handling more robust
  integrations/cohere/src/haystack_integrations/components/generators/cohere/chat/chat_generator.py
Labels: integration:cohere

#1953 test: Check that `_convert_chat_completion_chunk_to_streaming_chunk` works for `MistralChatGenerator`
  integrations/mistral/pyproject.toml
  integrations/mistral/tests/test_mistral_chat_generator.py
Labels: type:documentation, integration:mistral

#2150 feat: Image support in GoogleGenAIChatGenerator
  integrations/google_genai/pyproject.toml
  integrations/google_genai/src/haystack_integrations/components/generators/google_genai/chat/chat_generator.py
  integrations/google_genai/tests/conftest.py
  integrations/google_genai/tests/test_chat_generator.py
  integrations/google_genai/tests/test_files/apple.jpg
  integrations/google_genai/tests/test_files/banana.png
Labels: type:documentation, integration:google-genai

#2160 fix: Add optional `aiohttp` to google-genai integration
  integrations/google_genai/pyproject.toml
  integrations/google_genai/src/haystack_integrations/components/generators/google_genai/chat/chat_generator.py
Labels: integration:google-genai

#1965 feat: Add ToolSet support and check streaming chunk conversion works as expected in OpenRouterChatGenerator
  integrations/openrouter/src/haystack_integrations/components/generators/openrouter/chat/chat_generator.py
  integrations/openrouter/tests/test_openrouter_chat_generator.py
Labels: type:documentation, integration:openrouter

#2164 feat: Add AmazonBedrockChatGenerator to supported chat generators in Langfuse
  integrations/langfuse/src/haystack_integrations/tracing/langfuse/tracer.py
Labels: type:documentation, integration:langfuse

#2169 fix: Pin openai to `<=1.99.2` avoid errors in Llama Stack integration
  integrations/llama_stack/pyproject.toml
Labels: integration:llama_stack

#2168 chore: Add framework name into UserAgent header for bedrock integration
  integrations/amazon_bedrock/src/haystack_integrations/components/embedders/amazon_bedrock/document_embedder.py
  integrations/amazon_bedrock/src/haystack_integrations/components/embedders/amazon_bedrock/text_embedder.py
  integrations/amazon_bedrock/src/haystack_integrations/components/generators/amazon_bedrock/chat/chat_generator.py
  integrations/amazon_bedrock/src/haystack_integrations/components/generators/amazon_bedrock/generator.py
Labels: integration:amazon-bedrock

#2185 feat: Add `AmazonBedrockDocumentImageEmbedder` component
  integrations/amazon_bedrock/pydoc/config.yml
  integrations/amazon_bedrock/pyproject.toml
  integrations/amazon_bedrock/src/haystack_integrations/components/embedders/amazon_bedrock/__init__.py
  integrations/amazon_bedrock/src/haystack_integrations/components/embedders/amazon_bedrock/document_embedder.py
  integrations/amazon_bedrock/src/haystack_integrations/components/embedders/amazon_bedrock/document_image_embedder.py
  integrations/amazon_bedrock/src/haystack_integrations/components/embedders/amazon_bedrock/text_embedder.py
  integrations/amazon_bedrock/tests/test_document_image_embedder.py
  integrations/amazon_bedrock/tests/test_files/haystack-logo.png
  integrations/amazon_bedrock/tests/test_files/sample_pdf_1.pdf
Labels: type:documentation, integration:amazon-bedrock

#2200 refactor!: `OllamaChatGenerator` - refine reasoning support + refactoring
  .github/workflows/ollama.yml
  integrations/ollama/pyproject.toml
  integrations/ollama/src/haystack_integrations/components/generators/ollama/chat/chat_generator.py
  integrations/ollama/tests/test_chat_generator.py
  integrations/ollama/tests/test_document_embedder.py
  integrations/ollama/tests/test_text_embedder.py
Labels: type:documentation, topic:CI, integration:ollama

#2157 feat: add `StreamingChunk` to Cohere ChatGenerator
  integrations/cohere/src/haystack_integrations/components/generators/cohere/chat/chat_generator.py
  integrations/cohere/tests/test_chat_generator.py
  integrations/cohere/tests/test_chat_generator_async.py
  integrations/cohere/tests/test_generator.py
Labels: type:documentation, integration:cohere

#2213 feat: watsonx multimodal support
  integrations/watsonx/pyproject.toml
  integrations/watsonx/src/haystack_integrations/components/generators/watsonx/chat/chat_generator.py
  integrations/watsonx/tests/test_chat_generator.py
  integrations/watsonx/tests/test_files/apple.jpg
Labels: type:documentation, integration:watsonx

#2216 feat!: Update AmazonBedrockChatGenerator to use the new fields in `StreamingChunk`
  integrations/amazon_bedrock/src/haystack_integrations/components/generators/amazon_bedrock/chat/utils.py
  integrations/amazon_bedrock/tests/test_chat_generator.py
  integrations/amazon_bedrock/tests/test_chat_generator_utils.py
Labels: type:documentation, integration:amazon-bedrock
