Repository deepset-ai/haystack-core-integrations, pull requests merged in 2025-05, with the labels that each got.

#1687 chore!: `CohereRanker` - change default model and remove `max_chunks_per_doc parameter`
  integrations/cohere/src/haystack_integrations/components/rankers/cohere/ranker.py
  integrations/cohere/tests/test_cohere_ranker.py
Labels: type:documentation, integration:cohere

#1683 feat: Add vertexai document and text embedders
  integrations/google_vertex/pydoc/config.yml
  integrations/google_vertex/src/haystack_integrations/components/embedders/google_vertex/__init__.py
  integrations/google_vertex/src/haystack_integrations/components/embedders/google_vertex/document_embedder.py
  integrations/google_vertex/src/haystack_integrations/components/embedders/google_vertex/text_embedder.py
  integrations/google_vertex/tests/test_document_embedder.py
  integrations/google_vertex/tests/test_gemini.py
  integrations/google_vertex/tests/test_text_embedder.py
Labels: type:documentation, integration:google-vertex

#1674 test: add async tests for MistralChatGenerator
  integrations/mistral/pyproject.toml
  integrations/mistral/tests/test_mistral_chat_generator_async.py
Labels: type:documentation, integration:mistral

#1700 feat: Add Toolset support to CohereChatGenerator
  integrations/cohere/pyproject.toml
  integrations/cohere/src/haystack_integrations/components/generators/cohere/chat/chat_generator.py
Labels: type:documentation, integration:cohere

#1662 feat!: Deprecate SSEServerInfo base_url in favour of url
  integrations/mcp/src/haystack_integrations/tools/mcp/mcp_tool.py
  integrations/mcp/src/haystack_integrations/tools/mcp/mcp_toolset.py
  integrations/mcp/tests/test_mcp_tool.py
Labels: type:documentation, integration:mcp

#1682 feat: Enhance Langfuse ToolInvoker span naming
  integrations/langfuse/src/haystack_integrations/tracing/langfuse/tracer.py
  integrations/langfuse/tests/test_tracer.py
Labels: type:documentation, integration:langfuse

#1684 feat: pgvector - make error messages more informative
  README.md
  integrations/pgvector/src/haystack_integrations/document_stores/pgvector/document_store.py
Labels: type:documentation, integration:pgvector

#1698 fix: ollama streaming metadata 1686
  integrations/ollama/src/haystack_integrations/components/generators/ollama/chat/chat_generator.py
  integrations/ollama/tests/test_chat_generator.py
Labels: integration:ollama

#1713 chore: remove import fallback for `deserialize_tools_or_toolset_inplace`
  integrations/ollama/pyproject.toml
  integrations/ollama/src/haystack_integrations/components/generators/ollama/chat/chat_generator.py
Labels: integration:ollama

#1708 fix: hard coded embedding field for mongodb
  integrations/mongodb_atlas/src/haystack_integrations/document_stores/mongodb_atlas/document_store.py
  integrations/mongodb_atlas/tests/test_document_store.py
Labels: type:documentation, integration:mongodb-atlas

#1657 feat: Add more options to LangfuseConnector
  integrations/langfuse/README.md
  integrations/langfuse/src/haystack_integrations/components/connectors/langfuse/langfuse_connector.py
  integrations/langfuse/src/haystack_integrations/tracing/langfuse/tracer.py
  integrations/langfuse/tests/test_langfuse_connector.py
  integrations/langfuse/tests/test_tracing.py
Labels: type:documentation, integration:langfuse

#1711 fix: Fix BedrockChatGenerator to be able to handle multiple tool calls from one response
  integrations/amazon_bedrock/src/haystack_integrations/components/generators/amazon_bedrock/chat/utils.py
  integrations/amazon_bedrock/tests/test_chat_generator.py
  integrations/amazon_bedrock/tests/test_chat_generator_utils.py
Labels: type:documentation, integration:amazon-bedrock

#1721 feat: support custom content field
  integrations/mongodb_atlas/src/haystack_integrations/document_stores/mongodb_atlas/document_store.py
  integrations/mongodb_atlas/tests/test_document_store.py
  integrations/mongodb_atlas/tests/test_fulltext_retrieval.py
Labels: type:documentation, integration:mongodb-atlas

#1727 fix: fix error in Tasks checklist
  .github/ISSUE_TEMPLATE/breaking-change-proposal.md
  .github/ISSUE_TEMPLATE/new-integration-proposal.md
Labels: topic:CI

#1732 refactor: add AmazonBedrockRanker and keep BedrockRanker as alias
  integrations/amazon_bedrock/pydoc/config.yml
  integrations/amazon_bedrock/src/haystack_integrations/components/rankers/amazon_bedrock/__init__.py
  integrations/amazon_bedrock/src/haystack_integrations/components/rankers/amazon_bedrock/ranker.py
  integrations/amazon_bedrock/tests/test_ranker.py
Labels: type:documentation, integration:amazon-bedrock

#1733 chore: extend error message for unknown model family in AmazonBedrockGenerator
  integrations/amazon_bedrock/src/haystack_integrations/components/generators/amazon_bedrock/generator.py
Labels: integration:amazon-bedrock

#1735 docs: fix VertexAI Embedders docstrings
  integrations/google_vertex/src/haystack_integrations/components/embedders/google_vertex/document_embedder.py
  integrations/google_vertex/src/haystack_integrations/components/embedders/google_vertex/text_embedder.py
Labels: type:documentation, integration:google-vertex

#1740 chore: Update bedrock_ranker_example.py
  integrations/amazon_bedrock/examples/bedrock_ranker_example.py
Labels: integration:amazon-bedrock

#1723 feat: Add OpenRouter integration
  .github/labeler.yml
  .github/workflows/openrouter.yml
  README.md
  integrations/openrouter/CHANGELOG.md
  integrations/openrouter/LICENSE.txt
  integrations/openrouter/README.md
  integrations/openrouter/examples/openrouter_with_tools_example.py
  integrations/openrouter/pydoc/config.yml
  integrations/openrouter/pyproject.toml
  integrations/openrouter/src/haystack_integrations/components/generators/openrouter/__init__.py
  integrations/openrouter/src/haystack_integrations/components/generators/openrouter/chat/__init__.py
  integrations/openrouter/src/haystack_integrations/components/generators/openrouter/chat/chat_generator.py
  integrations/openrouter/tests/__init__.py
  integrations/openrouter/tests/test_openrouter_chat_generator.py
  integrations/openrouter/tests/test_openrouter_chat_generator_async.py
Labels: type:documentation, topic:CI, new integration, integration:openrouter

#1743 feat: Add user-agent to `AzureAISearchDocumentStore`
  integrations/azure_ai_search/src/haystack_integrations/document_stores/azure_ai_search/document_store.py
Labels: integration:azure-ai-search

#1752 docs: update ChatMessage examples
  integrations/anthropic/src/haystack_integrations/components/generators/anthropic/chat/vertex_chat_generator.py
  integrations/mistral/src/haystack_integrations/components/generators/mistral/chat/chat_generator.py
Labels: type:documentation, integration:mistral

#1742 feat: Support Llama API as a Chat Generator
  .github/labeler.yml
  .github/workflows/meta_llama.yml
  README.md
  integrations/meta_llama/CHANGELOG.md
  integrations/meta_llama/LICENSE.txt
  integrations/meta_llama/README.md
  integrations/meta_llama/examples/rag_with_llama.py
  integrations/meta_llama/pydoc/config.yml
  integrations/meta_llama/pyproject.toml
  integrations/meta_llama/src/haystack_integrations/components/generators/meta_llama/__init__.py
  integrations/meta_llama/src/haystack_integrations/components/generators/meta_llama/chat/__init__.py
  integrations/meta_llama/src/haystack_integrations/components/generators/meta_llama/chat/chat_generator.py
  integrations/meta_llama/tests/__init__.py
  integrations/meta_llama/tests/test_llama_chat_generator.py
  integrations/meta_llama/tests/test_llama_chat_generator_async.py
Labels: type:documentation, topic:CI, new integration, integration:meta-llama

#1756 test: Update how test skipping works in Langfuse
  integrations/langfuse/tests/test_tracing.py
Labels: integration:langfuse

#1753 feat: adapt `OllamaGenerator` metadata to OpenAI format
  integrations/ollama/src/haystack_integrations/components/generators/ollama/generator.py
Labels: type:documentation, integration:ollama, breaking change

#1759 feat: `OllamaGenerator` support in Langfuse
  integrations/langfuse/src/haystack_integrations/tracing/langfuse/tracer.py
Labels: integration:langfuse

#1773 ci: Bedrock - improve worfklow; skip tests from CI
  .github/workflows/amazon_bedrock.yml
  integrations/amazon_bedrock/tests/test_chat_generator.py
  integrations/amazon_bedrock/tests/test_ranker.py
Labels: topic:CI, integration:amazon-bedrock

#1758 feat: MCPTool and MCPToolset async resource management improvements
  integrations/mcp/src/haystack_integrations/tools/mcp/mcp_tool.py
  integrations/mcp/src/haystack_integrations/tools/mcp/mcp_toolset.py
  integrations/mcp/tests/conftest.py
  integrations/mcp/tests/mcp_memory_transport.py
  integrations/mcp/tests/mcp_servers_fixtures.py
  integrations/mcp/tests/test_mcp_integration.py
  integrations/mcp/tests/test_mcp_server_info.py
  integrations/mcp/tests/test_mcp_tool.py
  integrations/mcp/tests/test_mcp_toolset.py
Labels: type:documentation, integration:mcp

#1779 feat: Add `to_dict` to `STACKITDocumentEmbedder` and `STACKITTextEmbedder` and more init parameters from underlying OpenAI classes
  integrations/stackit/pyproject.toml
  integrations/stackit/src/haystack_integrations/components/embedders/stackit/document_embedder.py
  integrations/stackit/src/haystack_integrations/components/embedders/stackit/text_embedder.py
  integrations/stackit/src/haystack_integrations/components/generators/stackit/chat/chat_generator.py
  integrations/stackit/tests/test_stackit_chat_generator.py
  integrations/stackit/tests/test_stackit_document_embedder.py
  integrations/stackit/tests/test_stackit_text_embedder.py
Labels: type:documentation, integration:stackit

#1813 fix: Fix exposing Qdrant api-key in `metadata` field when running `to_dict`
  integrations/qdrant/src/haystack_integrations/components/retrievers/qdrant/retriever.py
  integrations/qdrant/src/haystack_integrations/document_stores/qdrant/document_store.py
  integrations/qdrant/src/haystack_integrations/document_stores/qdrant/filters.py
  integrations/qdrant/src/haystack_integrations/document_stores/qdrant/migrate_to_sparse.py
  integrations/qdrant/tests/test_document_store.py
Labels: type:documentation, integration:qdrant

#1788 ci: check lowest direct dependencies
  .github/workflows/amazon_bedrock.yml
  .github/workflows/amazon_sagemaker.yml
  .github/workflows/astra.yml
  .github/workflows/azure_ai_search.yml
  .github/workflows/chroma.yml
  .github/workflows/deepeval.yml
  .github/workflows/fastembed.yml
  .github/workflows/llama_cpp.yml
  .github/workflows/meta_llama.yml
  .github/workflows/mistral.yml
  .github/workflows/ollama.yml
  .github/workflows/openrouter.yml
  .github/workflows/stackit.yml
  .github/workflows/weaviate.yml
  .github/workflows/weights_and_biases_weave.yml
Labels: topic:CI, integration:chroma, integration:amazon-bedrock, integration:ollama, integration:llama_cpp, integration:weaviate, integration:astra, integration:amazon-sagemaker, integration:deepeval, integration:fastembed, integration:mistral, integration:azure-ai-search, integration:openrouter, integration:meta-llama

#1811 build: add pins for Anthropic
  .github/workflows/anthropic.yml
  integrations/anthropic/pyproject.toml
  integrations/anthropic/tests/test_chat_generator.py
Labels: topic:CI

#1810 build: add pins for Vertex
  .github/workflows/google_vertex.yml
  integrations/google_vertex/pyproject.toml
Labels: topic:CI, integration:google-vertex

#1777 feat: Add streamable-http transport MCP support
  integrations/mcp/examples/google_maps_agent.py
  integrations/mcp/examples/mcp_client.py
  integrations/mcp/examples/mcp_filtered_tools.py
  integrations/mcp/examples/mcp_server.py
  integrations/mcp/examples/mcp_sse_client.py
  integrations/mcp/examples/mcp_sse_server.py
  integrations/mcp/examples/mcp_sse_toolset.py
  integrations/mcp/examples/mcp_stdio_client.py
  integrations/mcp/examples/mcp_stdio_toolset.py
  integrations/mcp/examples/time_pipeline.py
  integrations/mcp/examples/time_pipeline_toolset.py
  integrations/mcp/src/haystack_integrations/tools/mcp/__init__.py
  integrations/mcp/src/haystack_integrations/tools/mcp/mcp_tool.py
  integrations/mcp/src/haystack_integrations/tools/mcp/mcp_toolset.py
  integrations/mcp/tests/test_mcp_server_info.py
  integrations/mcp/tests/test_mcp_toolset.py
Labels: type:documentation, integration:mcp

#1827 build: pining lower versions of haystack and `aiohttp` for `ElasticSearch`
  .github/workflows/elasticsearch.yml
  integrations/elasticsearch/pyproject.toml
Labels: topic:CI, integration:elasticsearch

#1837 build: add Langfuse pins
  .github/workflows/langfuse.yml
  integrations/langfuse/pyproject.toml
  integrations/langfuse/tests/test_tracer.py
Labels: topic:CI, integration:langfuse

#1847 build: add pins for Optimum
  .github/workflows/optimum.yml
  integrations/optimum/pyproject.toml
  integrations/optimum/tests/test_optimum_document_embedder.py
  integrations/optimum/tests/test_optimum_text_embedder.py
Labels: topic:CI, integration:optimum

#1843 chore: review license compliance workflow
  .github/workflows/CI_license_compliance.yml
Labels: topic:CI

#1841 build: pinning `unstructured` to lowest working versions
  .github/workflows/unstructured.yml
  integrations/unstructured/pyproject.toml
Labels: topic:CI, integration:unstructured-fileconverter

#1787 feat: AnthropicChatGenerator - add Toolset support
  integrations/anthropic/pyproject.toml
  integrations/anthropic/src/haystack_integrations/components/generators/anthropic/chat/chat_generator.py
  integrations/anthropic/tests/test_chat_generator.py
Labels: type:documentation, integration:anthropic

#1860 buid: add pins for Snowflake + small refactoring
  .github/workflows/snowflake.yml
  integrations/snowflake/pyproject.toml
  integrations/snowflake/src/haystack_integrations/components/retrievers/snowflake/snowflake_table_retriever.py
Labels: type:documentation, topic:CI, integration:snowflake

#1846 build: add pins for Nvidia
  .github/workflows/nvidia.yml
  integrations/nvidia/pyproject.toml
Labels: topic:CI, integration:nvidia
